<section id="main" role="main">
    <div class="focusing-outlet" tabindex="-1" role="group">
        <div id="sys-admin">

            <div id="hero">
                <div class="inner">
                    <h2 class="page-title" tabindex="-1">Benutzerverwaltung</h2>
                    <div class="page-description">Verwalte Benutzer füge neue hinzu, oder ändere von denen das Passwort, die zu doof sind es sich zu merken</div>
                </div>
            </div>

            <div class="container no-header">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <input class="form-control" type="search" placeholder="Nach Benutzern suchen" aria-label="Search" (keyup)="onSearchType($event.target.value)">
                    </div>
                    <div class="col-6 col-md-4">
                        <button class="button-add" id="addUser" (click)="openAddUserForm()">Benutzer hinzufügen</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col p-2">
                        <div class="restaurants mt-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>E-Mail-Adresse</th>
                                        <th>Rolle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of pageOfUsers" class="user">
                                        <td>{{user.email}}</td>
                                        <td>{{localizeRole(user.role)}}</td>
                                        <td>
                                            <div class="float-right">
                                                <button class="btn btn-secondary btn-sm m-1" (click)="openChangeUserDetailsForm(user)" placement="right" ngbTooltip="Bearbeiten"><i class="fas fa-user-edit"></i></button>
                                                <button class="btn btn-secondary btn-sm m-1" (click)="openChangeUserPasswordForm(user)" placement="right" ngbTooltip="Passwort ändern"><i class="fas fa-key"></i></button>
                                                <button class="btn btn-danger btn-sm m-1" (click)="openRemoveUserForm(user)" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <app-server-pagination [total]="total" (changePage)="onChangePage($event)"></app-server-pagination>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>