@font-face {
    font-family: fontello;
    src: url(../../assets/fonts/fontello/fontello.eot);
    src: url(../../assets/fonts/fontello/fontello.eot#iefix) format("embedded-opentype"), url(../../assets/fonts/fontello/fontello.woff2) format("woff2"), url(../../assets/fonts/fontello/fontello.woff) format("woff"), url(../../assets/fonts/fontello/fontello.ttf) format("truetype"), url(../../assets/fonts/fontello/fontello.svg#fontello) format("svg");
    font-weight: 400;
    font-style: normal
}

.no-header {
    padding-top: 20px
}

.setting-title h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.14;
    color: #0a3847;
    margin-bottom: 12px;
}

.button-add {
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: proxima-nova, sans-serif;
    user-select: none;
    padding: 0 16px;
    border-radius: 3px;
    display: inline-block;
    background-color: #52AE31;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 0;
}