.no-header {
    padding-top: 20px
}

.button-add {
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: proxima-nova, sans-serif;
    user-select: none;
    padding: 0 16px;
    border-radius: 3px;
    display: inline-block;
    background-color: #52AE31;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 0;
}