<section id="main" role="main">
    <div class="focusing-outlet" tabindex="-1" role="group">
        <div id="backend">

            <div id="hero">
                <div class="inner">
                    <h2 class="page-title">Benutzerverwaltung</h2>
                    <div class="page-description">Verwalte Benutzer füge neue hinzu, oder ändere von denen das Passwort, die zu doof sind es sich zu merken</div>
                </div>
            </div>

            <div class="waypointable" tabindex="-1">
                <div id="management">
                    <div class="inner">
                        <div class="row">
                            <div class="col">
                                <input class="form-control filter" type="search" placeholder="Einträge durchsuchen" aria-label="Search"
                                    (keyup)="onUpdateSearch($event.target.value)"
                                    (search)="onUpdateSearch($event?.target?.value)">
                            </div>
                            <div class="col">
                                <a class="text-link" id="addUser" (click)="openAddUserForm()">+ Benutzer hinzufügen</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2">
                                <div class="restaurants mt-3">
                                    <table class="table" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th rowspan="1" colspan="1">E-Mail-Adresse</th>
                                                <th rowspan="1" colspan="1">Rolle</th>
                                                <th class="actions" rowspan="1" colspan="1">Aktionen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" *ngFor="let user of pageOfUsers" class="user">
                                                <td>{{user.email}}</td>
                                                <td>{{localizeRole(user.role)}}</td>
                                                <td class="actions">
                                                    <a class="edit"  (click)="openChangeUserDetailsForm(user)" placement="left" ngbTooltip="Bearbeiten"><i class="fas fa-user-edit"></i></a>
                                                    <a class="edit" (click)="openChangeUserPasswordForm(user)" placement="left" ngbTooltip="Passwort ändern"><i class="fas fa-key"></i></a>
                                                    <a class="delete" (click)="openRemoveUserForm(user)" placement="left" ngbTooltip="Löschen"><i class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <app-server-pagination (fetchPage)="onFetchPage($event)"></app-server-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>