<div class="container no-header">
    <div class="row">
        <div class="col">
            <div class="setting-title">
                <h1>Benutzerverwaltung</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <input class="form-control" type="search" placeholder="Nach Benutzern suchen" aria-label="Search" (keyup)="onSearchType($event.target.value)">
        </div>
        <div class="col-6 col-md-4">
            <button class="button-add" id="addUser" (click)="openAddUserForm()">Benutzer hinzufügen</button>
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
            <div class="restaurants mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="SearchTableTitle">Name</th>
                            <th class="SearchTableTitle">Rolle</th>
                            <th class="SearchTableTitle">E-Mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of pageOfUsers" class="user">
                            <td>{{user.name}}</td>
                            <td>{{localizeRole(user.role)}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <div class="float-right">
                                    <button class="btn btn-secondary btn-sm m-1" (click)="openChangeUserDetailsForm(user)"><i class="fas fa-user-edit"></i></button>
                                    <button class="btn btn-secondary btn-sm m-1" (click)="openChangeUserPasswordForm(user)"><i class="fas fa-key"></i></button>
                                    <button class="btn btn-danger btn-sm m-1" (click)="openRemoveUserForm(user)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination [items]="users" (changePage)="onChangePage($event)"></pagination>
            </div>
        </div>
    </div>
</div>