<main id="legal">
	<section id="hero">
		<div class="common-container">
			<div class="text">
				<h5
					data-aos="gm-move-down"
					data-aos-delay="100"
					data-aos-duration="800"
					data-aos-once="true"
					>
					Rechtliches
				</h5>
				<h1
					data-aos="gm-move-down"
					data-aos-delay="300"
					data-aos-duration="800"
					data-aos-once="true"
					>
					Impressum
				</h1>
				<p
				   data-aos="gm-move-down"
				   data-aos-delay="600"
				   data-aos-duration="800"
				   data-aos-once="true"
				   >
					Informationspflicht laut §5 ECG und Offenlegungspflicht laut §25 MedienG
				</p>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="common-container">
			<div class="text">
				<div 
					 class="infocard"
					 data-aos="gm-move-down"
					 data-aos-anchor="#legal"
					 data-aos-delay="900"
					 data-aos-duration="800"
					 data-aos-once="true"
					 >
					<h5>Verantwortlich im Sinne des § 5 TMG</h5>
					
					<p>Vertretungsberechtigt: Anne Beckmann, Marco Artz, Luca Wieczorek</p>
					
					<p>Verantwortlich gemäß § 55 Abs. 2 RStV (V.i.S.d.P.)</p>
					<p><b>Anne Beckmann</b><br />Kaiser-Wilhelm-Straße 26<br />46395 Bocholt</p>
					<p>Telefon: 02871 287381<br />E-Mail: support@gastromio.de</p>
					
					<p>Plattform der EU zur außergerichtlichen Online-Streitbeilegung <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="nofollow noreferrer">https://ec.europa.eu/consumers/odr/</a><br />Wir sind weder bereit noch verpflichtet, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
				</div>
				<div
					 data-aos="gm-move-down"
					 data-aos-anchor="#legal"
					 data-aos-delay="1100"
					 data-aos-duration="800"
					 data-aos-once="true"
					 >
					<h5>Datenschutz bei Gastromio</h5>
					<p>Die Datenschutzerklärung finden Sie <a [routerLink]="['/privacy-policy']">hier</a>.</p>
				</div>
				<div
					 data-aos="gm-move-down"
					 data-aos-anchor="#legal"
					 data-aos-delay="1300"
					 data-aos-duration="800"
					 data-aos-once="true"
					 >
					<h5>Social Media Präsenzen</h5>
                	<p>Dieses Impressum gilt auch für unsere Facebook-Präsenz <a href="https://gastrom.io/facebook" target="_blank" rel="nofollow noreferrer">Gastromio.de</a>, für unseren <a href="https://gastrom.io/linkedin" target="_blank" rel="nofollow noreferrer">Linkedin-Account</a> sowie für den Instagram Account <a href="https://gastrom.io/instagram" target="_blank" rel="nofollow noreferrer">gastromio.de</a>.</p>
				</div>
				<div
					 data-aos="gm-move-down"
					 data-aos-anchor="#legal"
					 data-aos-delay="1500"
					 data-aos-duration="800"
					 data-aos-once="true"
					 >
					<h5>Bildnachweise</h5>
					<p>
						Nahaufnahme von Satsuma Orangen: &copy; Amanda Greene &ndash; Adobe Stock
						<br />Abendessen Ernährung Essensfotografie: &copy; Ella Olsson &ndash; Pexels.com
						<br />Pommes mit Salatblättern: &copy; Sydney Troxell &ndash; Pexels.com
						<br />Runde Edelstahlschale mit Fleisch und Gemüse: &copy; Valeria Boltneva &ndash; Pexels.com
					</p>
				</div>
				<div
					 data-aos="gm-move-down"
					 data-aos-anchor="#legal"
					 data-aos-delay="1700"
					 data-aos-duration="800"
					 data-aos-once="true"
					 >
					<h5>Haftung für Inhalte dieser Webseite</h5>
                	<p>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle Informationen bereitzustellen. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter bereitgestellt wird. Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, Sie finden die Kontaktdaten oben im Impressum.</p>
				</div>
				<div
					 data-aos="gm-move-down"
					 data-aos-anchor="#legal"
					 data-aos-delay="1900"
					 data-aos-duration="800"
					 data-aos-once="true"
					 >
					<h5>Haftung für Links dieser Webseite</h5>
                	<p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Wenn Ihnen rechtswidrige Links auf unserer Webseite auffallen, bitte wir Sie uns zu kontakieren, Sie finden die Kontaktdaten oben im Impressum.</p>
				</div>
			</div>
		</div>
	</section>
</main>