<section>
    <div class="title-wrapper">
        <h1>AGB</h1>
    </div>

    <main class="legal-wrapper">
        <div class="content">
            <div class="child">
                <div class="wrapper">
                    <div class="inner">
                        <div class="content-text">
                            <div class="container agb">

                                <p>Für sämtliche Bestellungen gelten nachstehende Lieferservice-Bedingungen. Die Lieferservice-Bedingungen gelten durch jede Form der Bestellung und spätestens mit Entgegennahme der Ware als anerkannt. Etwaig von diesen Geschäftsbedingungen abweichende Vertragsbedingungen des Bestellers haben auch dann keine Gültigkeit. Für Ihre Bestellung gelten die AGB in der jeweils zum Zeitpunkt der Bestellung gültigen Fassung.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>