<div style="top: -49px; z-index: 5; position: sticky;">
    <div class="no-top"></div>
    <div class="legal-header">
        <h1 class="header-title" style="max-width: 100%; color: rgb(255, 255, 255);">
            <span class="title">Datenschutz</span>
        </h1>
    </div>
</div>

<div style="top: 90px; z-index: 4; position: sticky;">
    <div class="header-portal">
        <header class="multi-tabs-wrapper">
            <div class="multi-tabs-root">
                <div class="multi-tabs-scroller" style="overflow: hidden;">
                    <div class="multi-tabs-container" role="tablist">
                        <a class="multi-tab" [routerLink]="['/general-terms-and-conditions']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">AGB</span>
                        </a>
                        <a class="multi-tab" [routerLink]="['/imprint']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Impressum</span>
                        </a>
                        <a class="multi-tab active" [routerLink]="['/privacy-policy']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Datenschutz</span>
                        </a>
                        <a class="multi-tab" [routerLink]="['/privacy-policy#cookies']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Verwendung von Cookies</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<main class="legal-wrapper">
    <div class="legal-content">
        <div class="legal-child">
            <div class="wrapper">
                <div class="inner">
                    <div class="content-text">
                        <div>
                            <p class="disclaimer" style="max-width: 100%; color: rgb(23, 32, 38);">Webseiten-Datenschutzerklärung und zugleich Information der Betroffenen gemäß Artikel 13 und Artikel 14 EU-Datenschutzgrundverordnung</p>
                            <p class="paragraph">("Bocholt Liefert" oder "BOH Liefert", "wir", "uns", "unser", etc.)</p>

                            <h1 class="title-1" style="margin-top: 40px;">1. Einleitung und allgemeine Angaben</h1>
                            <p style="margin-top: 15px;">Der Schutz deiner Privatsphäre und deiner Persönlichkeitsrechte ist uns dabei besonders wichtig. Dem Vertrauen, das du uns entgegenbringst, möchten wir gerecht werden und an allen Stellen für Transparenz sorgen. Unabhängig von gesetzlichen Regelungen verpflichten wir uns daher, deine personenbezogenen Daten nur für festgelegte, eindeutige und rechtmäßige Zwecke zu erheben. Wir bewahren sie nicht länger als erforderlich personenbezogen auf und löschen unzutreffende oder unvollständige Daten.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>