.datenschutz {
    font-family: proxima-nova, sans-serif;
    color: #4c5b52;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.datenschutz p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
}

.datenschutz strong {
    font-weight: 700;
}

.datenschutz a {
    color: #27625b;
    text-decoration: none;
}

.datenschutz a:hover {
    color: #27625b;
    text-decoration: underline;
}

.datenschutz ul {
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
}

.datenschutz .t1, .t2, .t3, .t4, .t5, .t6 {
    display: block;
}

.datenschutz h1, h2, h3, .t1, .t2, .t3 {
    font-weight: 700;
}

.datenschutz h4, h5, h6, .t4, .t5, .t6 {
    font-weight: bold;
}

.datenschutz .t3 {
    font-size: 28px;
    margin: 48px 0 24px 0;
}

.datenschutz .t4 {
    font-size: 20px;
}

.dptable {
    margin: 24px 0px;
    display: grid;
    grid-gap: 4px 20px;
}

@media screen and (min-width: 768px) {
    .dptable {
        grid-template-columns: 30% auto;
        grid-gap: 12px 20px;
    }
}

.datenschutz .dptable div:nth-child(2n+1) {
    font-weight: 600;
}

.datenschutz .block {
    display: block;
}