.datenschutz {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(23, 32, 38);
    font-weight: 400;
}

@media screen (min-width: 1200px) {
    .datenschutz {
        max-width: 980px;
    }
}

.datenschutz h3 {
    margin: 24px 0px 12px 0px;
}

.datenschutz p {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}

.datenschutz strong {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.datenschutz a {
    color: rgb(0, 108, 187);
    text-decoration: none;
}

.datenschutz ul {
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
}

.datenschutz .t1, .t2, .t3, .t4, .t5, .t6 {
    display: block;
}

.datenschutz h1, h2, h3, .t1, .t2, .t3 {
    font-weight: 700;
}

.datenschutz h4, h5, h6, .t4, .t5, .t6 {
    font-weight: bold;
}

.datenschutz .t3 {
    font-size: 32px;
    margin: 48px 0 24px 0;
}

.datenschutz .t4 {
    font-size: 24px;
}

.datenschutz  .dptable {
    margin: 24px 0px;
    display: grid;
    grid-gap: 4px 20px;
}

@media screen (min-width: 768px) {
    .datenschutz .dptable {
        grid-template-columns: 30% auto;
        grid-gap: 12px 20px;
    }
}

.datenschutz .dptable div:nth-child(2n+1) {
    font-weight: 600;
}

.datenschutz .block {
    display: block;
}