.datenschutz {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1200px) {
    .datenschutz {
        max-width: 980px;
    }
}

.datenschutz h3 {
    margin: 24px 0 12px 0;
}

.datenschutz p {
    font-weight: 300;
    color: rgb(102, 112, 147);
    margin: 0 0 20px 0;
    font-size: 16px !important;
}

.datenschutz strong {
    color: #000;
    font-weight: 600;
}

.datenschutz a {
    text-decoration: none;
}

.datenschutz ul {
    font-weight: 300;
    color: rgb(102, 112, 147);
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
}

.datenschutz .t1, .t2, .t3, .t4, .t5, .t6 {
    display: block;
    font-family: inherit;
    line-height: 1.25;
}

.datenschutz h1, h2, h3, .t1, .t2, .t3 {
    font-weight: 700;
}

.datenschutz h4, h5, h6, .t4, .t5, .t6 {
  font-weight: bold;
}

.datenschutz .t3 {
    font-size: 32px;
    margin: 48px 0 24px 0;
}

.datenschutz .t4 {
    font-size: 24px;
}

.datenschutz  .dptable {
    color: rgb(102, 112, 147);
    margin: 24px 0;
    display: grid;
    grid-gap: 4px 20px;
}

@media (min-width: 768px) {
    .datenschutz .dptable {
        grid-template-columns: 30% auto;
        grid-gap: 12px 20px;
    }
}

.datenschutz .dptable div:nth-child(2n+1) {
    color: rgb(102, 112, 147);
    font-weight: 600;
}

.datenschutz .block {
    display: block;
}