.footer {
    background: #1f4f46;
    position: relative;
}

.footer .footer-inner {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer .footer-logo {
	  width: 220px;
	  height: auto;
}

/* START: Rechtliches */
.footer .footer-links {
	  margin-top: 1.25rem;
    list-style: none;
}

.footer .footer-links li:not(:first-of-type) {
    position: relative;
}

@media screen and (min-width: 720px) {
    .footer .footer-links li {
	      display: inline-block;
    }
    .footer .footer-links li:not(:last-of-type) {
        margin-right: 24px;
    }
    .footer .footer-links li:not(:first-of-type)::before {
        content: "\00b7";
        color: #fff;
        font-family: proxima-nova, sans-serif;
        font-size: 13px;
        font-weight: 700;
        left: -12px;
        line-height: 1.5;
        margin-top: 3px;
        margin-left: -4px;
        opacity: .5;
        position: absolute;
    }
}

@media screen and (max-width: 720px) {
    .footer .footer-links li:not(:last-of-type) {
        margin-bottom: 20px;
    }
}

.footer .footer-links .text-link {
    border-bottom: 0px;
    color: #fff;
    cursor: pointer;
    font-family: proxima-nova, sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s cubic-bezier(.57, .06, .05, .95);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer .footer-links .text-link:hover {
    opacity: .85;
    transition: color 150ms cubic-bezier(.57, .06, .05, .95);
}
/* ENDE: Rechtliches */

/* START: Soziales */
.footer .footer-social {
    margin-top: 20px;
    list-style: none;
}

.footer .footer-social li {
    display: inline-block;
}

.footer .footer-social li:not(:last-of-type) {
    margin-right: 24px;
}

.footer .footer-social .social-link {
    border: .0625rem solid #e5e5e5;
    border-color: rgba(255, 255, 255, .16);
    border-radius: 50%;
	  display: block;
    position: relative;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
	  width: 3rem;
	  height: 3rem;
}

.footer .footer-social .social-link:hover {
    border-color: #fff;
    transition: all 150ms cubic-bezier(.215, .61, .355, 1);
}

.footer .footer-social .social-link svg {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}

.footer .footer-social .social-link.facebook svg {
    width: 18%;
}

.footer .footer-social .social-link.instagram svg {
    width: 39%;
}
/* ENDE: Soziales */

/* START: Copyright */
.footer .footer-copyright {
    color: #fff;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ENDE: Copyright */