<footer id="footer-main">
    <div class="wrapper">
        <!--hr-->
        <div id="legal">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; 2020 <a href="https://www.gastromio.de/" target="_blank">Gastromio.de</a>. Alle Rechte vorbehalten
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a href="https://link.gastromio.de/presse" target="_blank" rel="nofollow noreferrer noopener">Presse</a></li>
                    <li><a href="mailto:support@gastromio.de">Support</a></li>
                    <li><a [routerLink]="['/imprint']">Impressum</a></li>
                    <li><a [routerLink]="['/privacy-policy']">Datenschutz</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>