/* #bottom-bar */
#bottom-bar {
    background-color: #363636;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 75px;
    position: relative;
    width: 100%;
}

#bottom-bar .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

#bottom-bar .wrapper .roww {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

@media screen and (max-width: 576px) {
    #bottom-bar .wrapper {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    #bottom-bar .wrapper {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    #bottom-bar .wrapper {
        max-width: 910px;
    }
}

@media screen and (max-width: 1200px) {
    #bottom-bar {
        padding-bottom: 38px;
        padding-top: 65px;
    }
}

@media screen and (min-width: 1200px) {
    #bottom-bar .wrapper {
        max-width: 1100px;
    }
}

/* #bottom-bar > #info */
#bottom-bar #info {
    margin-bottom: 24px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}

#bottom-bar #info .socials {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
}

#bottom-bar #info .socials a {
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    height: 46px;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 0px 12px 0px 0px;
    width: 46px;
}

#bottom-bar #info p.copyright {
    color: #fff;
    font-family: "Apercu", sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin-top: 24px;
}

@media screen and (min-width: 1200px) {
    #bottom-bar #info {
        flex: 0px 0px 33.333333%;
        -moz-box-flex: 0px 0px 33.333333%;
        -ms-flex: 0px 0px 33.333333%;
        -webkit-box-flex: 0px 0px 33.333333%;
        -webkit-flex: 0px 0px 33.333333%;
        height: 230px;
        max-width: 33.333333%;
    }
}

/* #bottom-bar > #navigation */
#bottom-bar #navigation {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}

#bottom-bar #navigation .nav-wrap {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
}

#bottom-bar #navigation .nav-col:not(:last-of-type) {
    margin-right: 40px;
}

#bottom-bar #navigation .nav-col h4 {
    color: #81B67C;
    font-family: "Apercu", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 18px;
    text-align: left;
    text-transform: uppercase;
}

#bottom-bar #navigation .nav-col ul {
    padding: 0px;
}

#bottom-bar #navigation .nav-col ul li {
    margin-bottom: 14px;
}

#bottom-bar #navigation .nav-col ul li a {
    color: #fff;
    cursor: pointer;
    font-family: "Apercu", sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    #bottom-bar #navigation .nav-col {
        margin-bottom: 65px;
    }
}

@media screen and (min-width: 576px) {
    #bottom-bar #navigation .nav-wrap {
        flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1200px) {
    #bottom-bar #navigation {
        flex: 0px 0px 50%;
        -moz-box-flex: 0px 0px 50%;
        -ms-flex: 0px 0px 50%;
        -webkit-box-flex: 0px 0px 50%;
        -webkit-flex: 0px 0px 50%;
        margin-left: 16.666667%;
        max-width: 50%;
    }
}