<footer>
    <div class="footer">
        <div class="content">
            <div class="logo">
                <img src="../assets/img/logo/logo_w-1024x781.png" alt="">
            </div>
            <div class="infos">
                <a [routerLink]="['/customer-information']">Informationen für Kunden</a>
                <a [routerLink]="['/restaurant-information']">Informationen für Lieferdienste</a>
            </div>
            <div class="links">
                <a [routerLink]="['/general-terms-and-conditions']">AGB</a>
                <a [routerLink]="['/imprint']">Impressum</a>
                <a [routerLink]="['/privacy-policy']">Datenschutzerklärung</a>
                <a href="">Cookie-Richtlinie</a>
                <div class="copyright">&copy; 2020 BOH-Liefert.de</div>
            </div>
        </div>
    </div>
</footer>
