@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
    --blue: #adcccb;
    --green: #81b67c;
    --grey: #363636;
    --yellow: #decf80;
    --white: #fff;
    --bg-rough-blue: var(--blue) url('assets/images/rough/blue.png') repeat;
    --bg-rough-green: var(--green) url('assets/images/rough/green.png') repeat;
    --bg-rough-grey: var(--grey) url('assets/images/rough/grey.png') repeat;
    --bg-rough-yellow: var(--yellow) url('assets/images/rough/yellow.png') repeat;
    --sans: 'Apercu', 'sans-serif'; 
}

/* Snippet aus node_modules/aos/dist/aos.css */
[data-aos=gm-move-up]{
    opacity: 0;
	transform: translateY(10px);
    transition-property: transform, opacity
}
[data-aos=gm-move-down]{
    opacity: 0;
	transform: translateY(-10px);
    transition-property: transform, opacity
}
[data-aos=gm-move-right] {
    opacity: 0;
    transform: translateX(-10px);
    transition-property: transform, opacity
}
[data-aos=gm-move-left] {
    opacity: 0;
    transform: translateX(10px);
    transition-property: transform, opacity
}
[data-aos=gm-move-up].aos-animate{
    opacity: 1;
    transform: translateY(0px)
}
[data-aos=gm-move-down].aos-animate{
    opacity: 1;
    transform: translateY(0px)
}
[data-aos=gm-move-right].aos-animate {
    opacity: 1;
    transform: translateX(0px)
}
[data-aos=gm-move-left].aos-animate {
    opacity: 1;
    transform: translateX(0px)
}
[data-aos=gm-ease] {
    opacity: 0;
    transition-property: opacity
}
[data-aos=gm-ease].aos-animate{
    opacity: 1;
}