@charset "UTF-8";
@import 'normalize.min.css';

/* * APERCU */
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/apercu/apercu-light-pro.eot") format("eot");
  src: url("./assets/fonts/apercu/apercu-light-pro.woff2") format("woff2"),
    url("./assets/fonts/apercu/apercu-light-pro.woff") format("woff"),
    url("./assets/fonts/apercu/apercu-light-pro.ttf") format("truetype");
}

@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/apercu/apercu-regular-pro.eot") format("eot");
  src: url("./assets/fonts/apercu/apercu-regular-pro.woff2") format("woff2"),
    url("./assets/fonts/apercu/apercu-regular-pro.woff") format("woff"),
    url("./assets/fonts/apercu/apercu-regular-pro.ttf") format("truetype");
}

@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/apercu/apercu-medium-pro.eot") format("eot");
  src: url("./assets/fonts/apercu/apercu-medium-pro.woff2") format("woff2"),
    url("./assets/fonts/apercu/apercu-medium-pro.woff") format("woff"),
    url("./assets/fonts/apercu/apercu-medium-pro.ttf") format("truetype");
}

@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/apercu/apercu-bold-pro.eot") format("eot");
  src: url("./assets/fonts/apercu/apercu-bold-pro.woff2") format("woff2"),
    url("./assets/fonts/apercu/apercu-bold-pro.woff") format("woff"),
    url("./assets/fonts/apercu/apercu-bold-pro.ttf") format("truetype");
}

/* * THEMES */
:root {
  --apercu: "Apercu", "sans-serif";
  --blue: #ADCCCB;
  --green: #81B67C;
  --grey: #363636;
  --yellow: #DECF80;
  --white: #FFFFFF;
  --transparent: transparent;
  --bg-rough-blue: var(--blue) url("./assets/images/rough/blue.png") repeat;
  --bg-rough-green: var(--green) url("./assets/images/rough/green.png") repeat;
  --bg-rough-grey: var(--grey) url("./assets/images/rough/grey.png") repeat;
  --bg-rough-yellow: var(--yellow) url("./assets/images/rough/yellow.png") repeat;
  --sans: "Apercu", "sans-serif";
}

/* * GENERAL */
*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion) {
  * {
    transition: all 0s linear 0s !important;
    -webkit-transition: all 0s linear 0s !important;
  }
}

html {
  box-sizing: border-box;
  font-family: 'Grandis Extended', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--blue);
  color: var(--grey);
  font-family: var(--apercu);
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.4;
  margin: 0px;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 18px;
  }
}

body::backdrop {
  background-color: var(--blue);
}

.main {
  background: var(--bg-rough-blue);
  display: block;
  overflow: hidden;
  position: relative;
}

/* * CONTAINER */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 100%;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* * HERO */
/* #hero */
.hero {
  background: var(--bg-rough-grey);
  background-image: url('./assets/images/hero/asiatisch-2.jpg');
  display: flex;
  height: 260px;
  max-height: 260px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 8;
}

@media screen and (max-width: 767px) {
  .hero {
    background-position: bottom;
  }
  .hero::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.hero.overlay::before {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.hero-box {
  bottom: 16px;
  position: absolute;
}

.hero-box .name,
.hero-box .restaurant-name {
  color: var(--white);
  font-family: var(--apercu);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: auto;
}

.hero-box .slogan {
  color: var(--white);
  font-family: var(--apercu);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: auto;
}

@media screen and (max-width: 767px) {
  .hero-box .name,
  .hero-box .restaurant-name {
    font-size: 36px;
  }
}

.hero-box .restaurant-name::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M15.167 6.367c.8 0 1.467.667 1.467 1.467s-.667 1.467-1.467 1.467S13.7 8.634 13.7 7.834s.667-1.467 1.467-1.467zm0 5.067c.4 0 .8.267.8.8v9.467h1.467c.4 0 .8.267.8.667s-.267.8-.8.8h-4.4c-.4 0-.667-.267-.667-.8 0-.4.267-.667.667-.667h1.467v-8.8h-.8c-.4 0-.667-.267-.667-.667s.267-.8.667-.8h1.467zm0-9.467c-7.333 0-13.2 5.867-13.2 13.2s5.867 13.2 13.2 13.2 13.2-5.867 13.2-13.2-5.867-13.2-13.2-13.2zm0-1.467a14.625 14.625 0 0 1 14.667 14.667c0 8.134-6.533 14.667-14.667 14.667S.5 23.301.5 15.167 7.033.5 15.167.5z' stroke='none' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: " ";
  cursor: pointer;
  height: 22px;
  margin-left: 4px;
  position: absolute;
  width: 22px;
}

.hero-box .restaurant-address,
.hero-box .restaurant-hours,
.hero-box .restaurant-info {
  color: var(--white);
  font-family: var(--apercu);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: auto;
}

/* Snippet aus node_modules/aos/dist/aos.css */
[data-aos="gm-move-up"] {
  opacity: 0;
  transform: translateY(10px);
  transition-property: transform, opacity;
}
[data-aos="gm-move-down"] {
  opacity: 0;
  transform: translateY(-10px);
  transition-property: transform, opacity;
}
[data-aos="gm-move-right"] {
  opacity: 0;
  transform: translateX(-10px);
  transition-property: transform, opacity;
}
[data-aos="gm-move-left"] {
  opacity: 0;
  transform: translateX(10px);
  transition-property: transform, opacity;
}
[data-aos="gm-move-up"].aos-animate {
  opacity: 1;
  transform: translateY(0px);
}
[data-aos="gm-move-down"].aos-animate {
  opacity: 1;
  transform: translateY(0px);
}
[data-aos="gm-move-right"].aos-animate {
  opacity: 1;
  transform: translateX(0px);
}
[data-aos="gm-move-left"].aos-animate {
  opacity: 1;
  transform: translateX(0px);
}
[data-aos="gm-ease"] {
  opacity: 0;
  transition-property: opacity;
}
[data-aos="gm-ease"].aos-animate {
  opacity: 1;
}
