#table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

#table table {
    align-items: center;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0px 16px;
    color: #363636;
    margin-bottom: 16px;
    width: 100%;
}

#table table > * {
    animation: showTable 0.3s ease 1 700ms both;
    -moz-animation: showTable 0.3s ease 1 700ms both;
    -ms-animation: showTable 0.3s ease 1 700ms both;
    -o-animation: showTable 0.3s ease 1 700ms both;
    -webkit-animation: showTable 0.3s ease 1 700ms both;
}

#table table thead th {
    background-color: transparent;
    border: 0px;
    font-family: "Apercu", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0px 8px;
    position: relative;
    text-transform: none;
}

#table table th {
    font-size: 13px;
    font-weight: 600;
    vertical-align: top;
    white-space: nowrap;
}

#table table tbody tr {
    box-shadow: 0px 0px 20px rgba(31, 45, 61, .05);
}

#table table tbody th {
    background-color: #ADCCCB;
    border: 0px;
    padding: 8px;
    position: relative;
}

#table table tbody td {
    border: 0px;
    position: relative;
}

#table table tbody tr th {
}

#table table tbody tr td {
    background-color: #ADCCCB;
}

#table table tbody tr th .email {
    color: #363636;
    font-family: "Apercu", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0px;
}

#table table tbody tr td .role {
    color: #718096;
    font-family: "Apercu", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0px;
}

#table table tbody tr td:first-child {
    border-radius: 12px 0px 0px 12px;
}

#table table tbody tr td:last-child {
    border-radius: 0px 12px 12px 0px;
}

#table table tbody tr th:first-child {
    border-radius: 12px 0px 0px 12px;
}

#table table tbody tr th:last-child {
    border-radius: 0px 12px 12px 0px;
}

#table table .actions {
    padding: 8px;
    text-align: right;
    white-space: nowrap;
}

.action-item.red {
    color: #f25767;
}

.action-item.green {
    color: #65b32e;
}

input.failure {
    background-color: indianred;
}











.table-module {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 rgba(118, 135, 154, 0.24), 0 3px 8px 0 rgba(118, 135, 154, 0.08);
}

.table-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.table-headers {
    padding: 16px 24px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.caption-large {
    color: #627183;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.table-row-link {
    display: block;
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
}

.restaurant-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.table-row {
    padding: 16px 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    font-size: 14px;
}

    .table-row._5-columns {
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }














.status {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.indication-color {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 100px;
}

.green {
    background-color: #01dda5;
}

.red {
    background-color: #ff0174;
}