<div id="app">
    <div id="backend">

        <section id="hero">
            <div class="wrapper">
                <div class="inner">
                    <div class="inner-wrapper">
                        <div id="title">
                            <div class="col">
                                <span>Administration</span>
                                <h1>Cuisineverwaltung</h1>
                            </div>
                        </div>
                        <div id="links">
                            <div class="col">
                                <ul class="nav-tabs">
                                    <li class="tab"><a [routerLink]="['/admin/users']">Benutzer verwalten</a></li>
                                    <li class="tab"><a [routerLink]="['/admin/cuisines']" class="active">Cuisines verwalten</a></li>
                                    <li class="tab"><a [routerLink]="['/admin/restaurants']">Restaurants verwalten</a></li>
                                    <li class="tab"><a [routerLink]="['/admin/restaurantimport']">Restaurantimport</a></li>
                                    <li class="tab"><a [routerLink]="['/admin/dishimport']">Speisenimport</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="wrapper">
                <div class="inner">
                    <div class="inner-wrapper">

                        <div id="admin-users">
                            <div class="col-lg-12">
                                <div class="mb-5">
                                    <div id="title">
                                        <div class="col">
                                            <h3>Cuisines verwalten</h3>
                                            <p>Bearbeite Cuisines oder füge neue hinzu.</p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="search">
                                                <button (click)="openAddCuisineForm()" type="button" class="add"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="min-width: 240px;">Name</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let cuisine of cuisines | async">
                                                    <th scope="row">
                                                        <p class="email">{{cuisine.name}}</p>
                                                    </th>
                                                    <td class="actions">
                                                        <a (click)="openChangeCuisineForm(cuisine)" class="action-item" placement="top" ngbTooltip="Bearbeiten"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
                                                        <a (click)="openRemoveCuisineForm(cuisine)" class="action-item red" placement="top" ngbTooltip="Löschen"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
