<section
    data-aos="fade"
    data-aos-anchor="#page-cuisines"
    data-aos-delay="400"
    data-aos-duration="1000"
    data-aos-once="false"
    id="page-cuisines"
>

    <header class="section-header">
        <h3>Cuisines</h3>
        <p>Bearbeite Cuisines oder füge neue hinzu.</p>
    </header>

	<section id="single-list">
		<ul>
			<li class="header-no-eff">
				<div class="left">
					
				</div>
				<div class="right">
					<button
							class="action"
							type="button"
							(click)="openAddCuisineForm()">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="16" height="16">
							<line x1="12" y1="5" x2="12" y2="19"></line>
							<line x1="5" y1="12" x2="19" y2="12"></line>
						</svg>
					</button>
				</div>
			</li>
			<li *ngFor="let cuisine of cuisines$ | async">
				<div class="left">
					<span class="name">{{cuisine.name}}</span>
				</div>
				<div class="right">
					<button class="action"
							(click)="openChangeCuisineForm(cuisine)"
							>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentcolor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="16" height="16">
							<path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
						</svg>
					</button>
					<button
							class="action"
							(click)="openRemoveCuisineForm(cuisine)"
							>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentcolor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="16" height="16">
							<polyline points="3 6 5 6 21 6"></polyline>
							<path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
							<line x1="10" y1="11" x2="10" y2="17"></line>
							<line x1="14" y1="11" x2="14" y2="17"></line>
						</svg>
					</button>
				</div>
			</li>
		</ul>
	</section>

</section>