<section
		 data-aos="fade"
		 data-aos-anchor="#page-opening-hours-settings"
		 data-aos-delay="400"
		 data-aos-duration="1000"
		 data-aos-once="false"
		 id="page-opening-hours-settings"
		 >

	<header class="section-header">
		<h3>Speisekarte</h3>
		<p>Speisen und Menüs einpflegen und immer aktuell halten</p>
	</header>

	<ul ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeDishCategoryId$ | async"
                (activeIdChange)="onChangeActiveDishCategoryId($event)">
                <li [ngbNavItem]="dishCategory.id" *ngFor="let dishCategory of dishCategories">
                    <a id="form" ngbNavLink>
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <span class="mr-1"
                                          [class.enabled-dish-category]="dishCategory.enabled"
                                          [class.disabled-dish-category]="!dishCategory.enabled"
                                    >
                                    {{dishCategory.name}}
                                    </span>
                                </td>
                                <ng-container *ngIf="(activeDishCategoryId$ | async) === dishCategory.id">
                                    <td>
                                    <span (click)="openChangeDishCategoryForm(dishCategory)"
                                          class="action-item mr-0 pl-0 pr-0" placement="top" ngbTooltip="Bearbeiten">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" style="width: 16px; display: block">
                                            <path
                                                d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                        </svg>
                                    </span>
                                    </td>
                                    <td>
                                        <span *ngIf="dishCategory.enabled" (click)="onDisableDishCategory(dishCategory)"
                                              class="action-item mr-0 pl-0 pr-0" placement="top" ngbTooltip="Deaktivieren">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                 stroke-linejoin="round" style="width: 16px; display: block">
                                                <path
                                                    d="M20.533 11.867c0.267-0.267 0.667-0.4 1.067-0.133 0.267 0.267 0.4 0.667 0.133 1.067l-5.867 7.333c-0.133 0.133-0.267 0.267-0.533 0.267 0 0 0 0 0 0-0.133 0-0.4-0.133-0.533-0.267l-3.6-3.6c-0.267-0.267-0.267-0.8 0-1.067s0.8-0.267 1.067 0l3.067 3.067 5.2-6.667zM16 2.8c-7.333 0-13.2 5.867-13.2 13.2s5.867 13.2 13.2 13.2c7.333 0 13.2-5.867 13.2-13.2s-5.867-13.2-13.2-13.2zM16 1.333c8.133 0 14.667 6.533 14.667 14.667s-6.533 14.667-14.667 14.667c-8.133 0-14.667-6.533-14.667-14.667s6.533-14.667 14.667-14.667z"></path>
                                            </svg>
                                        </span>
                                        <span *ngIf="!dishCategory.enabled" (click)="onEnableDishCategory(dishCategory)"
                                              class="action-item mr-0 pl-0 pr-0" placement="top" ngbTooltip="Aktivieren">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                 stroke-linejoin="round" style="width: 16px; display: block">
                                                <path
                                                    d="M16 29.2c-7.333 0-13.2-5.867-13.2-13.2s5.867-13.2 13.2-13.2 13.2 5.867 13.2 13.2c0 7.333-5.867 13.2-13.2 13.2zM16 1.333c-8.133 0-14.667 6.533-14.667 14.667s6.533 14.667 14.667 14.667c8.133 0 14.667-6.533 14.667-14.667s-6.533-14.667-14.667-14.667z"></path>
                                            </svg>
                                        </span>
                                    </td>
                                    <td>
                                    <span (click)="openRemoveDishCategoryForm(dishCategory)"
                                          class="action-item red pl-0 mr-0 pr-0" placement="top" ngbTooltip="Löschen">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" style="width: 16px; display: block">
                                            <polyline points="3 6 5 6 21 6"></polyline>
                                            <path
                                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                            <line x1="10" y1="11" x2="10" y2="17"></line>
                                            <line x1="14" y1="11" x2="14" y2="17"></line>
                                        </svg>
                                    </span>
                                    </td>
                                    <ng-container *ngIf="!isFirstDishCategory(dishCategory)">
                                        <td>
                                        <span (click)="decOrderOfDishCategory(dishCategory)"
                                              class="action-item pl-0 mr-0 pr-0" placement="top"
                                              ngbTooltip="Nach links">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                 stroke-linejoin="round" style="width: 16px; display: block">
                                                <polyline points="15 18 9 12 15 6"></polyline>
                                            </svg>
                                        </span>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="!isLastDishCategory(dishCategory)">
                                        <td>
                                        <span (click)="incOrderOfDishCategory(dishCategory)"
                                              class="action-item pl-0 mr-0 pr-0" placement="top"
                                              ngbTooltip="Nach rechts">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                 stroke-linejoin="round" style="width: 16px; display: block">
                                                <polyline points="9 18 15 12 9 6"></polyline>
                                            </svg>
                                        </span>
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </tr>
                            </tbody>
                        </table>

                    </a>
                    <ng-template ngbNavContent>
                        <div id="table">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" style="min-width: 240px;">Name</th>
                                    <th scope="col">Preis</th>
                                    <th scope="col">
                                        <div class="float-right">
                                            <button class="action-item"
                                                    (click)="openEditDishForm(dishCategory, undefined)" placement="left"
                                                    ngbTooltip="Gericht anlegen">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     style="width: 16px; display: block;">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let dish of dishCategory.dishes">
                                    <th scope="row">
                                        <p class="email">{{dish.name}} <br/><span
                                            style="font-size: 80%">{{dish.description}}</span></p>
                                    </th>
                                    <th>
                                        <ng-container *ngIf="dish.variants?.length === 1">
                                            <p class="email">{{getPriceOfVariant(dish.variants[0])}}</p>
                                        </ng-container>
                                        <ng-container *ngIf="dish.variants?.length > 1">
                                            <p class="email" *ngFor="let variant of dish.variants" style="font-size: 80%">{{variant.name}}: {{getPriceOfVariant(variant)}}</p>
                                        </ng-container>
                                    </th>
                                    <td class="actions" style="min-width: 8em;">
                                        <button (click)="openEditDishForm(dishCategory, dish)" class="action-item"
                                           placement="top" ngbTooltip="Bearbeiten">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                 stroke-linejoin="round" style="width: 16px; display: block;">
                                                <path
                                                    d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                            </svg>
                                        </button>
                                        <button (click)="openRemoveDishForm(dishCategory, dish)" class="action-item red"
                                           placement="top" ngbTooltip="Löschen">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                 stroke-linejoin="round" style="width: 16px; display: block;">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path
                                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                                <line x1="14" y1="11" x2="14" y2="17"></line>
                                            </svg>
                                        </button>
                                        <button (click)="decOrderOfDish(dishCategory, dish)"
                                                [disabled]="isFirstDish(dishCategory, dish)" class="action-item"
                                                placement="top" ngbTooltip="Nach oben">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                 stroke-linejoin="round" style="width: 16px; display: block;">
                                                <polyline points="18 15 12 9 6 15"></polyline>
                                            </svg>
                                        </button>
                                        <button (click)="incOrderOfDish(dishCategory, dish)"
                                                [disabled]="isLastDish(dishCategory, dish)" class="action-item"
                                                placement="top" ngbTooltip="Nach unten">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                 stroke-linejoin="round" style="width: 16px; display: block;">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>
                <li>
                    <button class="action-item" (click)="openAddDishCategoryForm()" placement="left"
                            ngbTooltip="Kategorie erstellen">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             style="width: 16px; display: block;">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </button>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>

	<header class="section-header">
		<h3>Externe Speisekarte</h3>
		<p>Externe Speisekarte über einen Web-Link anzeigen</p>
	</header>

	<section id="settings">
		<form [formGroup]="externalMenuForm">
			<label for="enabled">Externe Speisekarte aktiv?</label>
			<input
				   class="text-input"
				   formControlName="enabled"
				   id="enabled"
				   type="checkbox"
				   >

			<label for="name">Name der Speisekarte</label>
			<input
				   autocapitalize="none"
				   autocomplete="off"
				   class="text-input"
				   formControlName="name"
				   id="name"
				   mozactionhint="next"
				   placeholder="z.B. Mittagstisch"
				   type="text"
				   [ngClass]="{ 'is-invalid': emf.name.errors }"
				   >

			<label for="description">Beschreibung</label>
			<input autocapitalize="none"
				   autocomplete="off"
				   class="text-input"
				   formControlName="description"
				   id="description"
				   mozactionhint="next"
				   placeholder="z.B. Wechselt wöchentlich"
				   type="text"
				   [ngClass]="{ 'is-invalid': emf.description.errors }"
				   >

			<label for="url">Url der Speisekarte</label>
			<input
				   autocapitalize="none"
				   autocomplete="off"
				   class="text-input"
				   formControlName="url"
				   id="url"
				   mozactionhint="next"
				   placeholder="z.B. https://www.restaurant-bocholt.de/speisekarte"
				   type="text"
				   [ngClass]="{ 'is-invalid': emf.url.errors }"
				   >
		</form>
	</section>

</section>
