<block-ui>
    <section id="main" role="main">
        <div class="focusing-outlet" tabindex="-1" role="group">

            <!-- START: Fehlermeldungen -->
            <div id="error" *ngIf="generalError !== undefined"><div class="middle"><div id="general" tabindex="-1" role="alert"><!--h1>{{generalError}}</h1--><h1>Ein technischer Fehler ist aufgetreten</h1><p>Bitte versuchen Sie es erneut bzw. kontaktieren Sie uns, wenn das Problem anhält.</p></div></div></div>
            <div id="alert" class="error" *ngIf="changeAddressError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{changeAddressError}}</span></div></div>
            <div id="alert" class="error" *ngIf="changeLogoError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{changeLogoError}}</span></div></div>
            <div id="alert" class="error" *ngIf="changeBannerError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{changeBannerError}}</span></div></div>
            <div id="alert" class="error" *ngIf="changeContactInfoError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{changeContactInfoError}}</span></div></div>
            <div id="alert" class="error" *ngIf="changeServiceInfoError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{changeServiceInfoError}}</span></div></div>
            <div id="alert" class="error" *ngIf="removeOpeningPeriodError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{removeOpeningPeriodError}}</span></div></div>
            <div id="alert" class="error" *ngIf="startTimeError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{startTimeError}}</span></div></div>
            <div id="alert" class="error" *ngIf="removeCuisineError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{removeCuisineError}}</span></div></div>
            <div id="alert" class="error" *ngIf="removeUserError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{removeUserError}}</span></div></div>
            <div id="alert" class="error" *ngIf="addCuisineError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{addCuisineError}}</span></div></div>
            <div id="alert" class="error" *ngIf="startTimeError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{startTimeError}}</span></div></div>
            <div id="alert" class="error" *ngIf="endTimeError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{endTimeError}}</span></div></div>
            <div id="alert" class="error" *ngIf="addUserError !== undefined"><div id="message" tabindex="-1" role="alert"><span>{{addUserError}}</span></div></div>
            <!-- ENDE: Fehlermeldungen -->

            <div id="backend" *ngIf="generalError === undefined">

                <div class="waypointable centered" tabindex="-1">

                    <div id="hero">
                        <div class="inner">
                            <h2 class="page-title" tabindex="-1">Mein Restaurant</h2>
                            <div class="page-description">Hier kannst du Restaurantinformationen hinzufügen oder aktualisieren.</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left">
                            <div id="form">
                                <h3>Restaurantinformationen</h3>
                                <form>
                                    <div class="backend-input">
                                        <label>Name des Restaurants</label>
                                        <input readonly type="text" placeholder="Name des Restaurants" value="{{restaurant.name}}" (click)="openChangeRestaurantNameForm()" />
                                    </div>
                                </form>
                            </div>
                            <div id="form" style="margin-top: -12px;">
                                <h3>Adressinformationen</h3>
                                <form [formGroup]="changeAddressForm" (ngSubmit)="onSaveAddress(changeAddressForm.value)">
                                    <div class="backend-input">
                                        <label for="street">Adresse</label>
                                        <input type="text" id="street" formControlName="street" placeholder="Adresse" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="zipCode">Postleitzahl</label>
                                        <input type="text" id="zipCode" formControlName="zipCode" maxlength="5" placeholder="PLZ" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="city">Stadt</label>
                                        <input type="text" id="city" formControlName="city" placeholder="Stadt" />
                                    </div>

                                    <div class="inline-button-wrap" *ngIf="!changeAddressForm.dirty">
                                        <button class="disabled" [disabled]="!changeAddressForm.dirty">Verwerfen</button>
                                        <button class="disabled" [disabled]="!changeAddressForm.dirty">Speichern</button>
                                    </div>
                                    <div class="inline-button-wrap" *ngIf="changeAddressForm.dirty">
                                        <button type="reset" class="hollow">Verwerfen</button>
                                        <button type="submit">Speichern</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="right">
                            <div id="form">
                                <h3>Kontaktinformationen</h3>
                                <form [formGroup]="changeContactInfoForm" (ngSubmit)="onSaveContactInfo(changeContactInfoForm.value)">
                                    <div class="backend-input">
                                        <label for="phone">Telefon</label>
                                        <input type="tel" id="phone" formControlName="phone" placeholder="Ihre Telefonnummer" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="fax">Fax</label>
                                        <input type="tel" id="fax" formControlName="fax" placeholder="Ihre Faxnummer" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="emailAddress">E-Mail für Bestellungen</label>
                                        <input type="email" id="emailAddress" formControlName="emailAddress" placeholder="Ihre E-Mail-Adresse" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="webSite">Webseite</label>
                                        <input type="text" id="webSite" formControlName="webSite" placeholder="Ihre Webseite" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="responsiblePerson">Verantwortliche Person</label>
                                        <input type="text" id="responsiblePerson" formControlName="responsiblePerson" placeholder="Verantwortlicher für Webseite" />
                                    </div>

                                    <div class="inline-button-wrap" *ngIf="!changeContactInfoForm.dirty">
                                        <button class="disabled" [disabled]="!changeContactInfoForm.dirty">Verwerfen</button>
                                        <button class="disabled" [disabled]="!changeContactInfoForm.dirty">Speichern</button>
                                    </div>
                                    <div class="inline-button-wrap" *ngIf="changeContactInfoForm.dirty">
                                        <button type="reset" class="hollow">Verwerfen</button>
                                        <button type="submit">Speichern</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left">
                            <div id="form">
                                <h3>Grafiken</h3>
                                <img *ngIf="hasLogo()" [src]="logoUrl" style="align-items: center; vertical-align: middle; padding-top: 24px; width:100%;">
                                <form [formGroup]="changeLogoForm" (ngSubmit)="onSaveLogo(changeLogoForm.value)">
                                    <div class="backend-input">
                                        <label *ngIf="!hasLogo()">Logo hinzufügen</label>
                                        <label *ngIf="hasLogo()">Logo ändern</label>
                                        <input type="file" #logo accept="image/*" (change)="onLogoChange($event)" />
                                    </div>

                                    <div class="inline-button-wrap">
                                        <button *ngIf="hasLogo()" (click)="onRemoveLogo()" type="button">Entfernen</button>
                                        <button *ngIf="!changeLogoForm.dirty" [disabled]="!changeLogoForm.dirty" class="disabled">Speichern</button>
                                        <button *ngIf="changeLogoForm.dirty" type="submit">Speichern</button>
                                    </div>
                                </form>
                                <img *ngIf="hasBanner()" [src]="bannerUrl" style="align-items: center; vertical-align: middle; padding-top: 24px; width:100%;">
                                <form [formGroup]="changeBannerForm" (ngSubmit)="onSaveBanner(changeBannerForm.value)">
                                    <div class="backend-input">
                                        <label *ngIf="!hasBanner()">Banner hinzufügen</label>
                                        <label *ngIf="hasBanner()">Banner ändern</label>
                                        <input type="file" #banner accept="image/*" (change)="onBannerChange($event)" />
                                    </div>

                                    <div class="inline-button-wrap">
                                        <button *ngIf="hasBanner()" (click)="onRemoveBanner()" type="button">Entfernen</button>
                                        <button *ngIf="!changeBannerForm.dirty" [disabled]="!changeBannerForm.dirty" class="disabled">Speichern</button>
                                        <button *ngIf="changeBannerForm.dirty" type="submit">Speichern</button>
                                    </div>
                                </form>
                            </div>
                            <div id="form">
                                <h3>Bestellmöglichkeiten</h3>
                                <form [formGroup]="changeServiceInfoForm" (ngSubmit)="onSaveServiceInfo(changeServiceInfoForm.value)">
                                    <h3>Abholung</h3>
                                    <div class="backend-input">
                                        <label for="pickupEnabled">Aktiviert</label>
                                        <input type="checkbox" id="pickupEnabled" formControlName="pickupEnabled" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="pickupAverageTime">Durchschnittl. Zubereitungszeit</label>
                                        <input type="number" id="pickupAverageTime" formControlName="pickupAverageTime" placeholder="Durchschnittl. Zubereitungszeit" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="pickupMinimumOrderValue">Min. Bestellwert</label>
                                        <input type="number" id="pickupMinimumOrderValue" formControlName="pickupMinimumOrderValue" placeholder="Mindestbestellwert" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="pickupMaximumOrderValue">Max. Bestellwert</label>
                                        <input type="number" id="pickupMaximumOrderValue" formControlName="pickupMaximumOrderValue" placeholder="Maximalbestellwert" />
                                    </div>

                                    <h3>Lieferung</h3>
                                    <div class="backend-input">
                                        <label for="deliveryEnabled">Aktiviert</label>
                                        <input type="checkbox" id="deliveryEnabled" formControlName="deliveryEnabled" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="deliveryAverageTime">Durchschnittl. Zubereitungszeit</label>
                                        <input type="number" id="deliveryAverageTime" formControlName="deliveryAverageTime" placeholder="Durchschnittl. Zubereitungszeit" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="deliveryMinimumOrderValue">Min. Bestellwert</label>
                                        <input type="number" id="deliveryMinimumOrderValue" formControlName="deliveryMinimumOrderValue" placeholder="Mindestbestellwert" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="deliveryMaximumOrderValue">Max. Bestellwert</label>
                                        <input type="number" id="deliveryMaximumOrderValue" formControlName="deliveryMaximumOrderValue" placeholder="Maximalbestellwert" />
                                    </div>
                                    <div class="backend-input">
                                        <label for="deliveryCosts">Lieferkosten</label>
                                        <input type="number" id="deliveryCosts" formControlName="deliveryCosts" placeholder="Lieferkosten" />
                                    </div>

                                    <h3>Tischreservierung</h3>
                                    <div class="backend-input">
                                        <label for="reservationEnabled">Aktiviert</label>
                                        <input type="checkbox" id="reservationEnabled" formControlName="deliveryEnabled" />
                                    </div>

                                    <div class="inline-button-wrap" *ngIf="!changeServiceInfoForm.dirty">
                                        <button class="disabled" [disabled]="!changeServiceInfoForm.dirty">Verwerfen</button>
                                        <button class="disabled" [disabled]="!changeServiceInfoForm.dirty">Speichern</button>
                                    </div>
                                    <div class="inline-button-wrap" *ngIf="changeServiceInfoForm.dirty">
                                        <button type="reset" class="hollow">Verwerfen</button>
                                        <button type="submit">Speichern</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="right">
                            <div id="form">
                                <h3>Restaurantkategorien</h3>
                                <form [formGroup]="addCuisineForm" (ngSubmit)="onAddCuisine(addCuisineForm.value)">
                                    <div class="backend-input">
                                        <div class="cuisine" tabindex="-1">
                                            <div class="wrap" *ngFor="let cuisine of restaurant.cuisines">
                                                <div class="cuisine-content">
                                                    <div class="cuisine-name">{{cuisine.name}}</div>
                                                    <button class="edit-link text-link-small" (click)="onRemoveCuisine(cuisine.id)">Entfernen</button>
                                                </div>
                                            </div>
                                        </div>
                                        <select id="cuisineId" class="form-control" formControlName="cuisineId">
                                            <option *ngFor="let cuisine of availableCuisines" value="{{cuisine.id}}">{{cuisine.name}}</option>
                                        </select>
                                    </div>

                                    <div class="inline-button-wrap" *ngIf="!addCuisineForm.dirty">
                                        <button class="disabled" [disabled]="!addCuisineForm.dirty">Hinzufügen</button>
                                    </div>
                                    <div class="inline-button-wrap" *ngIf="addCuisineForm.dirty">
                                        <button type="submit">Hinzufügen</button>
                                    </div>
                                </form>
                            </div>


                            <div id="form">
                                <h3>Zahlungsmethoden</h3>
                                <form>
                                    <div id="payment-method">
                                        <div class="method" tabindex="-1">
                                            <div class="cross-fade" *ngFor="let paymentMethod of paymentMethods" (click)="onPaymentMethodStatusToggled(paymentMethod)">
                                                <div class="method-content">
                                                    <div class="payment-icon">
                                                        <img src="../../assets/img/icons/payment-icons/{{paymentMethod.imageName}}.svg" alt="{{paymentMethod.imageName}}" style="width: 32px;" role="img">
                                                    </div>
                                                    <div>
                                                        <div class="payment-name">{{paymentMethod.name}}</div>
                                                        <div class="payment-description">{{paymentMethod.description}}</div>
                                                    </div>
                                                    <div class="actions">
                                                        <ng-container *ngIf="isPaymentMethodEnabled(paymentMethod)">
                                                            <div class="toggle-switch true" tabindex="0" role="checkbox">
                                                                <svg class="icon-toggle-true" width="15px" height="11px" viewBox="0 0 15 11">
                                                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <g id="Button/Toggle_On" transform="translate(-11.000000, -11.000000)" fill="#FFFFFF">
                                                                            <g id="Icon/Check/White" transform="translate(6.000000, 4.000000)">
                                                                                <g id="Icon/Check">
                                                                                    <polygon id="Path-8" fill-rule="nonzero" points="6.41421356 11.2426407 5 12.6568542 9.94974747 17.6066017 19.1421356 8.41421356 17.7279221 7 9.94974747 14.7781746"></polygon>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                                <div class="toggle"></div>
                                                                <svg class="icon-toggle-false" width="10px" height="10px" viewBox="0 0 10 10">
                                                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <g id="Button/Toggle_Off_Hover" transform="translate(-41.000000, -11.000000)">
                                                                            <g id="Button/Toggle/Off_Hover">
                                                                                <g id="Button/Toggle/Off-Copy">
                                                                                    <g id="Icon/X/White" transform="translate(34.000000, 4.000000)">
                                                                                        <rect id="Rectangle-2" x="0" y="0" width="24" height="24"></rect>
                                                                                        <g id="Group-3" stroke-width="1" fill-rule="evenodd" transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(6.000000, 6.000000)" fill="#FFFFFF">
                                                                                            <g id="Group-2" transform="translate(5.000000, 5.000000)">
                                                                                                <rect id="Rectangle-7" x="-8.8817842e-16" y="0" width="2" height="7"></rect>
                                                                                                <polygon id="Rectangle-7-Copy" transform="translate(3.500000, 1.000000) rotate(-90.000000) translate(-3.500000, -1.000000) " points="2.5 -2.5 4.5 -2.5 4.5 4.5 2.5 4.5"></polygon>
                                                                                            </g>
                                                                                            <g id="Group-2-Copy" transform="translate(3.500000, 3.500000) rotate(-180.000000) translate(-3.500000, -3.500000) translate(-0.000000, -0.000000)">
                                                                                                <polygon id="Rectangle-7" points="-1.18305366e-12 -1.18305366e-12 2 -1.18305366e-12 2 7 -1.18216548e-12 7"></polygon>
                                                                                                <polygon id="Rectangle-7-Copy" transform="translate(3.500000, 1.000000) rotate(-90.000000) translate(-3.500000, -1.000000) " points="2.5 -2.5 4.5 -2.5 4.5 4.5 2.5 4.5"></polygon>
                                                                                            </g>
                                                                                        </g>
                                                                                    </g>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="!isPaymentMethodEnabled(paymentMethod)">
                                                            <div class="toggle-switch false" tabindex="0" role="checkbox">
                                                                <svg class="icon-toggle-true" width="15px" height="11px" viewBox="0 0 15 11">
                                                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <g id="Button/Toggle_On" transform="translate(-11.000000, -11.000000)" fill="#FFFFFF">
                                                                            <g id="Icon/Check/White" transform="translate(6.000000, 4.000000)">
                                                                                <g id="Icon/Check">
                                                                                    <polygon id="Path-8" fill-rule="nonzero" points="6.41421356 11.2426407 5 12.6568542 9.94974747 17.6066017 19.1421356 8.41421356 17.7279221 7 9.94974747 14.7781746"></polygon>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                                <div class="toggle"></div>
                                                                <svg class="icon-toggle-false" width="10px" height="10px" viewBox="0 0 10 10">
                                                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <g id="Button/Toggle_Off_Hover" transform="translate(-41.000000, -11.000000)">
                                                                            <g id="Button/Toggle/Off_Hover">
                                                                                <g id="Button/Toggle/Off-Copy">
                                                                                    <g id="Icon/X/White" transform="translate(34.000000, 4.000000)">
                                                                                        <rect id="Rectangle-2" x="0" y="0" width="24" height="24"></rect>
                                                                                        <g id="Group-3" stroke-width="1" fill-rule="evenodd" transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(6.000000, 6.000000)" fill="#FFFFFF">
                                                                                            <g id="Group-2" transform="translate(5.000000, 5.000000)">
                                                                                                <rect id="Rectangle-7" x="-8.8817842e-16" y="0" width="2" height="7"></rect>
                                                                                                <polygon id="Rectangle-7-Copy" transform="translate(3.500000, 1.000000) rotate(-90.000000) translate(-3.500000, -1.000000) " points="2.5 -2.5 4.5 -2.5 4.5 4.5 2.5 4.5"></polygon>
                                                                                            </g>
                                                                                            <g id="Group-2-Copy" transform="translate(3.500000, 3.500000) rotate(-180.000000) translate(-3.500000, -3.500000) translate(-0.000000, -0.000000)">
                                                                                                <polygon id="Rectangle-7" points="-1.18305366e-12 -1.18305366e-12 2 -1.18305366e-12 2 7 -1.18216548e-12 7"></polygon>
                                                                                                <polygon id="Rectangle-7-Copy" transform="translate(3.500000, 1.000000) rotate(-90.000000) translate(-3.500000, -1.000000) " points="2.5 -2.5 4.5 -2.5 4.5 4.5 2.5 4.5"></polygon>
                                                                                            </g>
                                                                                        </g>
                                                                                    </g>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div id="form">
                                <h3>Restaurantverwalter</h3>
                                <div class="backend-input">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>E-Mail</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of restaurant.administrators">
                                                <td>{{user.email}}</td>
                                                <td>
                                                    <div class="actions">
                                                        <button class="edit-link text-link-small" (click)="removeUser(user)">Entfernen</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td><input id="user" type="text" class="form-control" [(ngModel)]="userToBeAdded" [ngbTypeahead]="searchForUser" [inputFormatter]="formatUser" [resultFormatter]="formatUser" [editable]='false' /></td>
                                                <td><button class="text-link-small add-administrator" (click)="addSelectedUser()">Hinzufügen</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="form">
                                <h3>Lieferzeiten</h3>
                                <form [formGroup]="addOpeningPeriodForm" (ngSubmit)="onAddOpeningPeriod(addOpeningPeriodForm.value)">
                                    <div class="backend-input">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tag</th>
                                                    <th>Beginn</th>
                                                    <th>Ende</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let openingPeriod of openingPeriodVMs">
                                                    <td>{{openingPeriod.dayOfWeekText}}</td>
                                                    <td>{{openingPeriod.startTimeText}}</td>
                                                    <td>{{openingPeriod.endTimeText}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table col-sm-12">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <select id="dayOfWeek" class="form-control" formControlName="dayOfWeek">
                                                            <option value="" selected disabled hidden>---</option>
                                                            <option value="0">Montag</option>
                                                            <option value="1">Dienstag</option>
                                                            <option value="2">Mittwoch</option>
                                                            <option value="3">Donnerstag</option>
                                                            <option value="4">Freitag</option>
                                                            <option value="5">Samstag</option>
                                                            <option value="6">Sonntag</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" placeholder="z.B. 15:00" class="form-control" formControlName="start" />
                                                    </td>
                                                    <td>
                                                        <input type="text" placeholder="z.B. 22:00" class="form-control" formControlName="end" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="text-link-small-cta add-period">+ Zeit hinzufügen</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="waypointable centered" tabindex="-1">
                    <div id="form">
                        <h3>Speisekarte</h3>
                        <form>
                            <div class="backend-input">
                                <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeDishCategoryId">
                                    <li [ngbNavItem]="dishCategory.id" *ngFor="let dishCategory of dishCategories">
                                        <a ngbNavLink>
                                            {{dishCategory.name}}
                                            <ng-container *ngIf="activeDishCategoryId === dishCategory.id">
                                                <span (click)="openChangeDishCategoryForm(dishCategory)" class="ml-1" placement="right" ngbTooltip="Bearbeiten"><i class="fas fa-edit"></i></span>
                                                <span (click)="openRemoveDishCategoryForm(dishCategory)" class="ml-1" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash-alt"></i></span>
                                                <ng-container *ngIf="!isFirstDishCategory(dishCategory)">
                                                    <span (click)="decOrderOfDishCategory(dishCategory)" class="ml-1" placement="right" ngbTooltip="Nach links"><i class="fas fa-arrow-left"></i></span>
                                                </ng-container>
                                                <ng-container *ngIf="!isLastDishCategory(dishCategory)">
                                                    <span (click)="incOrderOfDishCategory(dishCategory)" class="ml-1" placement="right" ngbTooltip="Nach rechts"><i class="fas fa-arrow-right"></i></span>
                                                </ng-container>
                                            </ng-container>
                                        </a>
                                        <ng-template ngbNavContent>
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Beschreibung</th>
                                                        <th>Preis</th>
                                                        <th>
                                                            <div class="float-right">
                                                                <button class="btn btn-primary btn-sm m-1" (click)="openEditDishForm(dishCategory, undefined)" placement="right" ngbTooltip="Hinzufügen"><i class="fas fa-plus"></i></button>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let dish of dishCategory.dishes">
                                                        <td>{{dish.name}}</td>
                                                        <td>{{dish.description}}</td>
                                                        <td>{{getPricesOfDish(dish)}}</td>
                                                        <td>
                                                            <div class="float-right">
                                                                <button class="btn btn-secondary btn-sm m-1" (click)="openEditDishForm(dishCategory, dish)" placement="right" ngbTooltip="Bearbeiten"><i class="fas fa-edit"></i></button>
                                                                <button class="btn btn-danger btn-sm m-1" (click)="openRemoveDishForm(dishCategory, dish)" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash-alt"></i></button>
                                                                <button class="btn btn-secondary btn-sm m-1 ml-2" [disabled]="isFirstDish(dishCategory, dish)" (click)="decOrderOfDish(dishCategory, dish)" placement="right" ngbTooltip="Nach oben"><i class="fas fa-arrow-up"></i></button>
                                                                <button class="btn btn-secondary btn-sm m-1" [disabled]="isLastDish(dishCategory, dish)" (click)="incOrderOfDish(dishCategory, dish)" placement="right" ngbTooltip="Nach unten"><i class="fas fa-arrow-down"></i></button>
                                                                <!--<button class="btn btn-primary btn-sm m-1 ml-2"><i class="fas fa-level-down-alt"></i></button>-->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-template>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary btn-sm m-1" (click)="openAddDishCategoryForm()" placement="right" ngbTooltip="Hinzufügen"><i class="fas fa-plus"></i></button>
                                    </li>
                                </ul>
                                <div [ngbNavOutlet]="nav"></div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
</section>
</block-ui>
