<block-ui>
  <div class="setting-header">
    {{restaurant.name}} <button style="background-color: transparent; border: 0; color: #fff" (click)="openChangeRestaurantNameForm()"><i class="fas fa-edit"></i></button>
  </div>
  <div class="container" style="margin-top: 20px">
    <div class="row" *ngIf="generalError !== undefined">
      <div class="col-12 setting-form">
        <div class="form-notification">{{generalError}}</div>
      </div>
    </div>

    <div class="row" *ngIf="generalError === undefined">
      <div class="col p-2">
        <div>
          <div class="card mb-4">
            <div class="card-header card-head">Logo</div>
            <div class="card-body">
              <form class="setting-form" [formGroup]="changeImageForm" (ngSubmit)="onSaveImage(changeImageForm.value)">
                <div class="form-notification" *ngIf="changeImageError !== undefined">{{changeImageError}}</div>

                <div class="input">
                  <img class="input" [src]="imgUrl" *ngIf="imgUrl" style="vertical-align: middle; padding-top: 24px; width:200px;">
                  <input type="file" id="image" accept="image/*" (change)="onImageChange($event)">
                </div>

                <button class="button-form button" type="submit" *ngIf="changeImageForm.dirty">Logo aktualisieren</button>
              </form>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header card-head">Adresse</div>
            <div class="card-body">
              <form class="setting-form" [formGroup]="changeAddressForm" (ngSubmit)="onSaveAddress(changeAddressForm.value)">
                <div class="form-notification" *ngIf="changeAddressError !== undefined">{{changeAddressError}}</div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="input">
                      <input type="text" id="street" formControlName="street" maxlength="100">
                      <label for="street">Straße</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="input">
                      <input type="text" id="zipCode" formControlName="zipCode" maxlength="5">
                      <label for="zipCode">Postleitzahl</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input">
                      <input type="text" id="city" formControlName="city">
                      <label for="city">Stadt</label>
                    </div>
                  </div>
                </div>

                <button class="button-form button" type="submit" *ngIf="changeAddressForm.dirty">Daten speichern</button>
              </form>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header card-head">Weitere Daten</div>
            <div class="card-body">
              <form class="setting-form" [formGroup]="changeContactDetailsForm" (ngSubmit)="onSaveContactDetails(changeContactDetailsForm.value)">
                <div class="form-notification" *ngIf="changeContactDetailsError !== undefined">{{changeContactDetailsError}}</div>

                <div class="form-group row">
                  <label for="phone" class="col-sm-2 col-form-label">Telefon</label>
                  <div class="col-sm-10">
                    <div class="input">
                      <input type="text" id="phone" formControlName="phone">
                      <label for="phone">Telefon</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="webSite" class="col-sm-2 col-form-label">Website</label>
                  <div class="col-sm-10">
                    <div class="input">
                      <input type="text" id="webSite" formControlName="webSite">
                      <label for="webSite">Webseite</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="imprint" class="col-sm-2 col-form-label">Impressum</label>
                  <div class="col-sm-10">
                    <div class="input">
                      <textarea style="height: 100%!important" id="imprint" rows="8" formControlName="imprint"></textarea>
                      <label for="imprint">Impressum</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="orderEmailAddress" class="col-sm-2 col-form-label">E-Mail-Adresse (Bestellungen)</label>
                  <div class="col-sm-10">
                    <div class="input">
                      <input type="text" id="orderEmailAddress" formControlName="orderEmailAddress">
                      <label for="orderEmailAddress">E-Mail-Adresse (Bestellungen)</label>
                    </div>
                  </div>
                </div>

                <button class="button-form button" type="submit" *ngIf="changeContactDetailsForm.dirty">Daten speichern</button>
              </form>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header card-head">Lieferkosten</div>
            <div class="card-body">
              <form class="setting-form" [formGroup]="changeDeliveryDataForm" (ngSubmit)="onSaveDeliveryData(changeDeliveryDataForm.value)">
                <div class="form-notification" *ngIf="changeDeliveryDataError !== undefined">{{changeDeliveryDataError}}</div>

                <div class="form-group row">
                  <div class="col">
                    <div class="input">
                      <input type="number" id="minimumOrderValue" formControlName="minimumOrderValue">
                      <label for="minimumOrderValue">Mindestbestellwert (in &euro;)</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input">
                      <input type="number" id="deliveryCosts" formControlName="deliveryCosts">
                      <label for="deliveryCosts">Lieferkosten (in &euro;) </label>
                    </div>
                  </div>
                </div>

                <button class="button-form button" type="submit" *ngIf="changeDeliveryDataForm.dirty">Daten speichern</button>
              </form>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header card-head">Lieferzeiten</div>
            <div class="card-body">
              <div class="form-notification" *ngIf="removeDeliveryTimeError !== undefined">{{removeDeliveryTimeError}}</div>
              <table class="table col-sm-12">
                <thead>
                  <tr>
                    <th>Tag</th>
                    <th>Beginn</th>
                    <th>Ende</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let deliveryTime of getDeliveryTimeViewModels()">
                    <td>{{deliveryTime.dayOfWeekText}}</td>
                    <td>{{deliveryTime.startTimeText}}</td>
                    <td>{{deliveryTime.endTimeText}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm m-1" (click)="onRemoveDeliveryTime(deliveryTime)" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <form class="setting-form" [formGroup]="addDeliveryTimeForm" (ngSubmit)="onAddDeliveryTime(addDeliveryTimeForm.value)">
                <div class="form-notification" *ngIf="addDeliveryTimeError !== undefined">{{addDeliveryTimeError}}</div>

                <table class="table col-sm-12">
                  <tbody>
                    <tr>
                      <td>
                        <select id="dayOfWeek" class="form-control" formControlName="dayOfWeek">
                          <option value="" selected disabled hidden>Bitte wählen Sie aus...</option>
                          <option value="0">Montag</option>
                          <option value="1">Dienstag</option>
                          <option value="2">Mittwoch</option>
                          <option value="3">Donnerstag</option>
                          <option value="4">Freitag</option>
                          <option value="5">Samstag</option>
                          <option value="6">Sonntag</option>
                        </select>
                      </td>
                      <td>
                        <input type="text" placeholder="Startzeit, z.B. 15:00 Uhr" class="form-control" formControlName="start" />
                        <div *ngIf="startTimeError !== undefined">
                          <small id="startTimeError" class="text-danger">{{startTimeError}}</small>
                        </div>
                      </td>
                      <td>
                        <input type="text" placeholder="Endzeit, z.B. 22:00 Uhr" class="form-control" formControlName="end" />
                        <div *ngIf="endTimeError !== undefined">
                          <small id="endTimeError" class="text-danger">{{endTimeError}}</small>
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-primary btn-sm m-1" placement="right" ngbTooltip="Hinzufügen"><i class="fas fa-plus"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header card-head">Cuisines</div>
            <div class="card-body">
              <div class="form-notification" *ngIf="removeCuisineError !== undefined">{{removeCuisineError}}</div>
              <table class="table col-sm-12">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cuisine of restaurant.cuisines">
                    <td>{{cuisine.name}}</td>
                    <td>{{cuisine.description}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm m-1" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash" (click)="onRemoveCuisine(cuisine.id)"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <form class="setting-form" [formGroup]="addCuisineForm" (ngSubmit)="onAddCuisine(addCuisineForm.value)">
                <div class="row" *ngIf="addCuisineError !== undefined">
                  <div class="col col-sm-12">
                    <div class="form-notification">{{addCuisineError}}</div>
                  </div>
                </div>
                <div class="row" *ngIf="availableCuisines !== undefined && availableCuisines.length > 0">
                  <div class="col col-sm-4">
                    <select id="cuisineId" class="form-control" formControlName="cuisineId">
                      <option *ngFor="let cuisine of availableCuisines" value="{{cuisine.id}}">{{cuisine.name}}</option>
                    </select>
                  </div>
                  <div class="col col-sm-2">
                    <button class="btn btn-primary btn-sm m-1" placement="right" ngbTooltip="Hinzufügen"><i class="fas fa-plus"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header card-head">Zahlungsmethoden</div>
            <div class="card-body">
              <div class="form-notification" *ngIf="removePaymentMethodError !== undefined">{{removePaymentMethodError}}</div>
              <table class="table col-sm-12">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paymentMethod of restaurant.paymentMethods">
                    <td>{{paymentMethod.name}}</td>
                    <td>{{paymentMethod.description}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm m-1" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash" (click)="onRemovePaymentMethod(paymentMethod.id)"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <form class="setting-form" [formGroup]="addPaymentMethodForm" (ngSubmit)="onAddPaymentMethod(addPaymentMethodForm.value)">
                <div class="row" *ngIf="addPaymentMethodError !== undefined">
                  <div class="col col-sm-12">
                    <div class="form-notification">{{addPaymentMethodError}}</div>
                  </div>
                </div>
                <div class="row" *ngIf="availablePaymentMethods !== undefined && availablePaymentMethods.length > 0">
                  <div class="col col-sm-4">
                    <select id="paymentMethodId" class="form-control" formControlName="paymentMethodId">
                      <option *ngFor="let paymentMethod of availablePaymentMethods" value="{{paymentMethod.id}}">{{paymentMethod.name}}</option>
                    </select>
                  </div>
                  <div class="col col-sm-2">
                    <button class="btn btn-primary btn-sm m-1" placement="right" ngbTooltip="Hinzufügen"><i class="fas fa-plus"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header card-head">Restaurant-Verwalter</div>
            <div class="card-body">
              <div class="form-notification" *ngIf="removeUserError !== undefined">{{removeUserError}}</div>
              <table class="table col-sm-12">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of restaurant.administrators">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm m-1" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash" (click)="removeUser(user)"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="form-notification" *ngIf="addUserError !== undefined">{{addUserError}}</div>
                <div class="col-sm-6">
                  <input id="user" type="text" class="form-control" [(ngModel)]="userToBeAdded" [ngbTypeahead]="searchForUser" [inputFormatter]="formatUser" [resultFormatter]="formatUser" [editable]='false' />
                </div>
                <div class="col-sm-2>">
                  <button class="btn btn-primary btn-sm m-1" (click)="addSelectedUser()" placement="right" ngbTooltip="Hinzufügen"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header card-head">Gerichte</div>
            <div class="card-body">
              <div class="form-notification" *ngIf="false">TODO</div>
              <div class="row">
                <div class="col col-sm-12">

                  <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeDishCategoryId">
                    <li [ngbNavItem]="dishCategory.id" *ngFor="let dishCategory of dishCategories">
                      <a ngbNavLink>
                        {{dishCategory.name}}
                        <ng-container *ngIf="activeDishCategoryId === dishCategory.id">
                          <span (click)="openChangeDishCategoryForm(dishCategory)" class="ml-1" placement="right" ngbTooltip="Bearbeiten"><i class="fas fa-edit"></i></span>
                          <span (click)="openRemoveDishCategoryForm(dishCategory)" class="ml-1" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash-alt"></i></span>
                          <span (click)="decOrderOfDishCategory(dishCategory)" class="ml-1" placement="right" ngbTooltip="Nach links"><i class="fas fa-arrow-left"></i></span>
                          <span (click)="incOrderOfDishCategory(dishCategory)" class="ml-1" placement="right" ngbTooltip="Nach rechts"><i class="fas fa-arrow-right"></i></span>
                        </ng-container>
                      </a>
                      <ng-template ngbNavContent>
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Beschreibung</th>
                              <th>
                                <div class="float-right">
                                  <button class="btn btn-primary btn-sm m-1" (click)="openEditDishForm(dishCategory, undefined)" placement="right" ngbTooltip="Hinzufügen"><i class="fas fa-plus"></i></button>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dish of dishCategory.dishes">
                              <td>{{dish.name}}</td>
                              <td>{{dish.description}}</td>
                              <td>
                                <div class="float-right">
                                  <button class="btn btn-secondary btn-sm m-1" (click)="openEditDishForm(dishCategory, dish)" placement="right" ngbTooltip="Bearbeiten"><i class="fas fa-edit"></i></button>
                                  <button class="btn btn-danger btn-sm m-1" (click)="openRemoveDishForm(dishCategory, dish)" placement="right" ngbTooltip="Löschen"><i class="fas fa-trash-alt"></i></button>
                                  <!--<button class="btn btn-secondary btn-sm m-1 ml-2"><i class="fas fa-arrow-up"></i></button>
                          <button class="btn btn-secondary btn-sm m-1"><i class="fas fa-arrow-down"></i></button>
                          <button class="btn btn-primary btn-sm m-1 ml-2"><i class="fas fa-level-down-alt"></i></button>-->
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </li>
                    <li>
                      <button class="btn btn-primary btn-sm m-1" (click)="openAddDishCategoryForm()" placement="right" ngbTooltip="Hinzufügen"><i class="fas fa-plus"></i></button>
                    </li>
                  </ul>
                  <div [ngbNavOutlet]="nav"></div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</block-ui>
