.setting-header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 16px;
    font-family: bilo, sans-serif;
    font-size: 24px;
    background: #52AE31;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.setting-header {
    border-bottom: initial;
    padding-bottom: 20px
}

.card-head {
    font-family: bilo, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    background-color: #52AE31;
    color: #fff
}

.button-container {
  text-align: center
}

.setting-form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.setting-form {
  width: auto;
  min-width: 1px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-transition: min-width .3s ease .3s;
  -moz-transition: min-width .3s ease .3s;
  -o-transition: min-width .3s ease .3s;
  transition: min-width .3s ease .3s
}

  .setting-form .headline {
    margin: 0 0 10px;
    font-family: bilo, sans-serif;
    font-weight: 400;
    font-size: 22px
  }

  .setting-form .tab-setting {
    padding: 20px 32px
  }

  .setting-form .input {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    background: #fff;
    width: 100%
  }

    .setting-form .input input, .setting-form .input textarea {
      position: relative;
      width: 100%;
      height: 50px;
      padding: 8px 16px;
      z-index: 1;
      background: none;
      color: #000;
      border: 1px solid #cfcac4;
      border-radius: 3px
    }

      .setting-form .input input:hover, .setting-form .input textarea:hover {
        border: 1px solid #50aecc
      }

      .setting-form .input input:active,
      .setting-form .input input:focus,
      .setting-form .input input:hover,
      .setting-form .input textarea:active,
      .setting-form .input textarea:focus,
      .setting-form .input textarea:hover {
        box-shadow: 0 0 8px #f9f5f1;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0)
      }

      .setting-form .input input:active,
      .setting-form .input input:focus,
      .setting-form .input textarea:active,
      .setting-form .input textarea:focus {
        border-color: #50aecc !important
      }

    .setting-form .input label {
      position: absolute;
      cursor: text;
      padding: 0 4px;
      border-radius: 3px;
      color: #000;
      z-index: 2;
      background: #fff;
      left: 16px;
      top: -6px;
      font-size: 13px;
      line-height: 1
    }

    .setting-form .input:after {
      right: 0
    }

.setting-modal .button-container {
  padding: 16px
}

.setting-modal .button-container {
  text-align: right;
  padding-top: 0
}

.setting-form .button-form:hover, .setting-form .button-form:focus {
    background-color: #0953bd
}

.button {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 16px;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    width: auto;
    background-color: #1574f5;
    border: 0;
}

.button-submit {
  width: 100%;
  background-color: #50aecc;
  color: #fff;
  font-family: bilo, sans-serif;
  font-weight: 500;
  user-select: none;
  padding: 0 16px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: 56px;
  line-height: 1.5;
  font-size: 17px;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

.setting-form .form-notification {
  font-family: bilo, Arial, sans-serif;
  font-weight: 300;
  padding: 12px;
  position: relative;
  background-color: #fa4329;
  border: 1px solid #fa4329;
  border-radius: 3px;
  margin-bottom: 12px;
  color: #fff
}