<section
    data-aos="fade"
    data-aos-anchor="#page-users"
    data-aos-delay="400"
    data-aos-duration="1000"
    data-aos-once="false"
    id="page-users"
>

    <header class="section-header">
        <h3>Benutzer verwalten</h3>
        <p>Verwalte die Berechtigungen und den Status aller Benutzer.</p>
    </header>

    <section id="settings">
        <div class="row">
            <div class="col-md-12" id="table">
                <div class="search">
                    <input type="search" placeholder="Suche" aria-label="Search"
                           (keyup)="onUpdateSearch($event.target.value)"
                           (search)="onUpdateSearch($event?.target?.value)">
                </div>
                <table>
                    <thead>
                    <tr>
                        <th scope="col" style="min-width: 240px;">Name</th>
                        <th scope="col" style="">Rolle</th>
                        <th scope="col" class="actions">
                            <button (click)="openAddUserForm()" type="button" class="add">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="16" height="16">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of pageOfUsers">
                        <th scope="row">
                            <p class="email">{{user.email}}</p>
                        </th>
                        <td>
                            <p class="role">{{localizeRole(user.role)}}</p>
                        </td>
                        <td class="actions" style="min-width: 5em;">
                            <button (click)="openChangeUserDetailsForm(user)" class="action-item" placement="top"
                               ngbTooltip="Bearbeiten">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" width="16" height="16">
                                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                </svg>
                            </button>
                            <button (click)="openChangeUserPasswordForm(user)" class="action-item" placement="top"
                               ngbTooltip="Passwort">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-key" width="16" height="16">
                                    <path
                                        d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path>
                                </svg>
                            </button>
                            <button (click)="openRemoveUserForm(user)" class="action-item red" placement="top"
                               ngbTooltip="Löschen">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" width="16" height="16">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <app-server-pagination (fetchPage)="onFetchPage($event)"></app-server-pagination>
            </div>
        </div>
    </section>

</section>


<!--                                        <div class="col-auto">-->
<!--                                            <div class="search">-->
<!--                                                <input type="search" placeholder="Suche" aria-label="Search" (keyup)="onUpdateSearch($event.target.value)" (search)="onUpdateSearch($event?.target?.value)">-->
<!--                                                <button (click)="openAddUserForm()" type="button" class="add"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div id="table">-->
<!--                                        <table>-->
<!--                                            <thead>-->
<!--                                                <tr>-->
<!--                                                    <th scope="col" style="min-width: 240px;">Name</th>-->
<!--                                                    <th scope="col">Rolle</th>-->
<!--                                                    <th scope="col"></th>-->
<!--                                                </tr>-->
<!--                                            </thead>-->
<!--                                            <tbody>-->
<!--                                                <tr *ngFor="let user of pageOfUsers">-->
<!--                                                    <th scope="row">-->
<!--                                                        <p class="email">{{user.email}}</p>-->
<!--                                                    </th>-->
<!--                                                    <td>-->
<!--                                                        <p class="role">{{localizeRole(user.role)}}</p>-->
<!--                                                    </td>-->
<!--                                                    <td class="actions">-->
<!--                                                        <a (click)="openChangeUserDetailsForm(user)" class="action-item" placement="top" ngbTooltip="Bearbeiten"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>-->
<!--                                                        <a (click)="openChangeUserPasswordForm(user)" class="action-item" placement="top" ngbTooltip="Passwort"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg></a>-->
<!--                                                        <a (click)="openRemoveUserForm(user)" class="action-item red" placement="top" ngbTooltip="Löschen"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                            </tbody>-->
<!--                                        </table>-->
