@font-face {
  font-family: fontello;
  src: url(../../assets/fonts/fontello/fontello.eot);
  src: url(../../assets/fonts/fontello/fontello.eot#iefix) format("embedded-opentype"), url(../../assets/fonts/fontello/fontello.woff2) format("woff2"), url(../../assets/fonts/fontello/fontello.woff) format("woff"), url(../../assets/fonts/fontello/fontello.ttf) format("truetype"), url(../../assets/fonts/fontello/fontello.svg#fontello) format("svg");
  font-weight: 400;
  font-style: normal
}

.setting-modal .setting-content {
    position: relative;
    width: 100%;
    outline: none;
    left: 50%;
    background: #fff;
    border-bottom: 5px solid #52AE31;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%)
}

@media only screen and (min-width: 600px) {
    .setting-modal .setting-content {
        max-width: 500px;
        top: 5%;
        bottom: 5%
    }
}

@media only screen and (max-width: 599px) {
    .setting-modal .setting-content {
        min-height: 100%
    }
}

.setting-modal .setting-header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 16px;
    font-family: proxima-nova, sans-serif;
    font-size: 24px;
    background: #52AE31;
    font-weight: 500;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

.setting-modal .setting-header {
    border-bottom: initial;
    top: 20%;
    padding-bottom: 20px
}

.setting-form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.setting-form {
    width: auto;
    min-width: 1px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-transition: min-width .3s ease .3s;
    -moz-transition: min-width .3s ease .3s;
    -o-transition: min-width .3s ease .3s;
    transition: min-width .3s ease .3s
}

.setting-form .headline {
    margin: 0 0 10px;
    font-family: bilo, sans-serif;
    font-weight: 400;
    font-size: 22px
}

.setting-form .tab-setting {
    padding: 20px 32px
}

.setting-form .input {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    background: #fff;
    width: 100%
}

.setting-form .input input, .setting-form .input textarea {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 8px 16px;
    z-index: 1;
    background: none;
    color: #000;
    border: 1px solid #cfcac4;
    border-radius: 3px
}

.setting-form .input input:hover, .setting-form .input textarea:hover {
    border: 1px solid #50aecc
}

.setting-form .input input:active,
.setting-form .input input:focus,
.setting-form .input input:hover,
.setting-form .input textarea:active,
.setting-form .input textarea:focus,
.setting-form .input textarea:hover {
    box-shadow: 0 0 8px #f9f5f1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.setting-form .input input:active,
.setting-form .input input:focus,
.setting-form .input textarea:active,
.setting-form .input textarea:focus {
    border-color: #50aecc !important
}

.setting-form .input label {
    position: absolute;
    cursor: text;
    padding: 0 4px;
    border-radius: 3px;
    color: #000;
    z-index: 2;
    background: #fff;
    left: 16px;
    top: -6px;
    font-size: 13px;
    line-height: 1
}

.setting-form .input:after {
    right: 0
}



.setting-form .form-notification {
    font-family: bilo, Arial, sans-serif;
    font-weight: 300;
    padding: 12px;
    position: relative;
    background-color: #fa4329;
    border: 1px solid #fa4329;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #fff
}

.buttonContainer {
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.buttonContainer .SubmitButton {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    font-weight: 600;
    font-family: ibm-plex-sans, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
    margin: 0;
    cursor: pointer;
    position: relative;
    min-height: 48px;
    padding: 12px 24px;
    color: #fff;
    background: #52AE31;
    -webkit-transition-property: background, webkit-box-shadow;
    transition-property: background, webkit-box-shadow;
    transition-property: background, box-shadow;
    transition-property: background, box-shadow, webkit-box-shadow;
    -webkit-transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.buttonContainer .SubmitButton .ButtonText {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.buttonContainer .SubmitButton:hover {
    background: #428b27;
}