<div class="setting-modal">
  <div class="setting-content">
    <div class="setting-header">
      GERICHT
      <ng-container *ngIf="isNew">HINZUFÜGEN</ng-container>
      <ng-container *ngIf="!isNew">BEARBEITEN</ng-container>
    </div>
    <div class="setting-form">
      <div class="tab tab-setting">
        <form class="setting-form" [formGroup]="editDishForm" (ngSubmit)="onSubmit(editDishForm.value)">
          <div class="form-notification" *ngIf="message !== undefined">{{message}}</div>
          <div class="form-setting">
            <div class="input">
              <input type="text" id="name" formControlName="name" ngbAutofocus>
              <label for="name">Name</label>
            </div>
            <div class="input">
              <input type="text" id="description" formControlName="description">
              <label for="description">Beschreibung</label>
            </div>
            <div class="input">
              <input type="text" id="productInfo" formControlName="productInfo">
              <label for="productInfo">Produktinformation</label>
            </div>
          </div>
          <div class="button-container">
            <button class="button-submit" type="submit">
              <ng-container *ngIf="isNew">Hinzufügen</ng-container>
              <ng-container *ngIf="!isNew">Speichern</ng-container>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
