<block-ui>
    <div class="modal-overlay">
        <div class="modal_v3">
            <div id="close"><button type="button" aria-label="Schließen" (click)="activeModal.dismiss('Cross click')"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><path d="m6 6 20 20"></path><path d="m26 6-20 20"></path></svg></button></div>
            <header id="header">
                <div class="left"></div>
                <div class="middle"><h1 class="title" tabindex="-1">Benutzer löschen</h1></div>
                <div class="right"></div>
            </header>
            <div id="body" tabindex="0">
                <div id="feedback">
                    <div class="delete-text">Bist du sicher, dass du den Benutzer mit der E-Mail-Adresse "{{user.email}}" löschen möchtest? <span>(Diese Aktion kann danach nicht mehr rückgängig gemacht werden)</span></div>
                    <div class="help-text" *ngIf="(message$ | async) !== undefined">{{(message$ | async)}}</div>
                </div>
                <div id="submit"><button class="delete" type="submit" (click)="onSubmit()">Löschen</button></div>
            </div>
        </div>
    </div>
</block-ui>
