.restaurant-wrapper {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 100%;
}

.restaurant-wrapper .restaurant-content {
    flex: 1 0 auto;
}

.restaurant-wrapper .restaurant-content .restaurant-inner {
    position: relative;
    z-index: 1;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .background {
    display: flex;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(225, 229, 232);
    height: 131px;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .background {
        height: 200px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .background .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 131px;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .background .overlay {
        height: 200px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .background .hero-image {
    background-position: center center;
    background-size: cover;
    width: 100%
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(23, 32, 38, 0.08) 0px 2px 8px 0px, rgba(23, 32, 38, 0.06) 0px 2px 4px 0px;
  padding: 24px 30px;
  flex: 1 1 auto;
  width: 100%;
  background-position: center center;
  position: relative;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper {
        background-position: center center;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content {
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 1440px;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info {
        flex-direction: row;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info .left {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info .left .name {
    max-width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 8px;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info .left .name .restaurantname {
    transition: none;
    font-size: 28px;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    margin: 0;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info .left .name .restaurantname {
        line-height: 44px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info .left .weitere-infos {
    display: flex;
    line-height: 17px;
    letter-spacing: 0px;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info .left .weitere-infos .adresse {
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

  .restaurant-wrapper .restaurant-content .restaurant-inner .restaurant-header .info-wrapper .info-content .info .left .weitere-infos .adresse .text {
      transition: none;
      color: #8D9499;
      font-size: 14px;
      font-family: proxima-nova, sans-serif;
      font-weight: 400;
      line-height: 21;
      letter-spacing: 0.00938em;
      margin: 0;
  }