/*
    //TODO Luca: Kategorie-Wrapper für Handheld
    //TODO Marco: Kategorie-Wrapper CSS Klassen bei Klick
*/

/*
    INHALTSVERZEICHNIS:
    1.  Restaurant-Banner
    1.1 Restaurant-Informationen

    2.  Menü
    2.1 Menü-Kategorien
*/

.restaurant-wrapper {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 100%;
}

.restaurant-wrapper .restaurant-content {
    flex: 1 0 auto;
}

.restaurant-wrapper .restaurant-content .restaurant-inner {
    position: relative;
    z-index: 1;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header {
    background-color: #fff;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
}

/*
    1. Restaurant-Banner
*/
.restaurant-wrapper .restaurant-content .restaurant-inner .header .banner {
    border-bottom: 1px solid rgb(225, 229, 232);
    display: flex;
    height: 131px;
    position: relative;
    width: 100%;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .banner .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 131px;
    position: absolute;
    width: 100%;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .banner {
        height: 200px;
    }
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .banner .overlay {
        height: 200px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .banner .hero {
    background-position: center center;
    background-size: cover;
    width: 100%
}

/*
    1.1 Restaurant-Informationen
*/
.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper {
    background-position: center center;
    box-shadow: rgba(23, 32, 38, 0.08) 0px 2px 8px 0px, rgba(23, 32, 38, 0.06) 0px 2px 4px 0px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 24px 30px;
    position: relative;
    width: 100%;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper {
        background-position: center center;
        border-bottom: 1px solid rgb(255, 229, 232);
        padding: 16px 16px 26px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content {
    margin: 0px auto;
    max-width: 1440px;
    position: relative;
    width: 100%;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -moz-box-pack: justify;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info {
        flex-direction: row;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -moz-box-pack: center;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .top {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    max-width: 100%;
    -moz-box-align: center;
}

@media (max-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .top {
        margin-bottom: 5px;
        place-content: space-between;
        -moz-box-pack: justify;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .top .name {
    font-family: proxima-nova, sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0;
    transition: none;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .top .name {
        line-height: 44px;
    }
}

@media (max-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .top .name {
        font-size: 20px;
        line-height: 28px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom {
    display: flex;
    letter-spacing: 0px;
    line-height: 17px;
}

@media (max-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom {
        flex-wrap: wrap;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .adresse {
    align-items: center;
    display: flex;
    -moz-box-align: center;
}

@media (max-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom {
        flex-basis: 100%!important;
        margin-bottom: 6px!important;
    }
}

@media (max-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom > aside {
        font-size: 12px;
        line-height: 15px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .zeiten {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    -moz-box-align: center;
}

@media (max-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .zeiten > aside {
        font-size: 14px;
    }
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .zeiten:not(:first-of-type)::before {
        background-color: rgb(225, 229, 232);
        content: " ";
        display: flex;
        height: 14px;
        margin: 0px 8px;
        width: 1px;
    }
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .zeiten:not(:first-of-type)::before {
        background-color: rgb(201, 206, 209);
        margin: 0px 16px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .beschreibung {
    color: #8D9499;
    font-family: proxima-nova, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.00938em;
    line-height: 21px;
    margin: 0;
    transition: none;
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .right {
    align-items: center;
    display: flex;
    flex-direction: row;
    letter-spacing: 0px;
    line-height: 17px;
    margin-left: 6px;
    margin-top: unset;
    -moz-box-align: center;
}

@media (min-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .rechtliches {
        bottom: 0px;
        position: absolute;
        right: 0px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .rechtliches .info {
    cursor: pointer;
    height: 26px;
    width: 26px;
}

@media (max-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .rechtliches .info {
        height: 22px;
        width: 22px;
    }
}

.restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .rechtliches .info .icon {
    color: #8D9499;
    display: inline-block;
    fill: currentColor;
    font-size: 1.5rem;
    height: 26px;
    pointer-events: none;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 26px;
    -moz-user-select: none;
}

@media (max-width: 960px) {
    .restaurant-wrapper .restaurant-content .restaurant-inner .header .informations-wrapper .info-content .info .left .bottom .rechtliches .info .icon {
        height: 22px;
        width: 22px;
    }
}

/*
    2. Menü
*/
.restauarant-menu-wrapper {
    background: #F2F4F5;
    background-position: center center;
    flex: 1 1 auto;
    position: relative;
    width: 100%
}

@media (min-width: 960px) {
    .restauarant-menu-wrapper {
        background-position: center center;
    }
}

@media (max-width: 960px) {
    .restauarant-menu-wrapper {
        padding: 0 0;
    }
}

.restauarant-menu-wrapper .restaurant-menu-inner {
    position: relative;
    margin: 0px auto;
    max-width: 1440px;
    width: 100%;
}

@media (min-width: 960px) {
    .restauarant-menu-wrapper .restaurant-menu-inner .restaurant-menu-content {
        display: flex;
    }
}

@media (min-width: 960px) {
    .restauarant-menu-wrapper .restaurant-menu-inner .restaurant-menu-content .left {
        flex: 1;
        display: flex;
        padding: 44px 0;
    }
    .restauarant-menu-wrapper .restaurant-menu-inner .restaurant-menu-content .right {
        width: 400px;
        padding-top: 44px;
        padding-bottom: 44px;
    }
}

.restauarant-menu-wrapper .restaurant-menu-inner .restaurant-menu-content .left .menu-items-wrapper {
    flex: 1 1 0%;
    position: relative;
}

.restauarant-menu-wrapper .restaurant-menu-inner .restaurant-menu-content .left .menu-items-wrapper .menu-items-list {
    background-color: rgb(242, 244, 245);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    word-break: break-word;
}

@media (max-width: 960px) {
    .restauarant-menu-wrapper .restaurant-menu-inner .restaurant-menu-content .left .menu-items-wrapper .menu-items-list {
        border-radius: 0px 8px 0px 0px;
        margin-bottom: 16px;
    }
}

/*
    2.1 Menü-Kategorien
*/
.left .menu-category-bar {
    flex: 0 0 auto;
    width: 313px;
}

@media (max-width: 960px) {
    .left .menu-category-bar {
        visibility: hidden;
    }
}

.left .menu-category-bar .mcb-container {
    position: relative;
    z-index: 2;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: padding 0.4s ease-out;
}

.left .menu-category-bar .mcb-container .mcb-list {
    width: 100%;
    top: 90px !important;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container {
    flex: 1 1 auto;
    width: 100%;
    background-position: center center;
    position: relative;
}

@media (min-width: 960px) {
    .left .menu-category-bar .mcb-container .mcb-list .list-container {
        background-position: center center;
    }

}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner {
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 1440px;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list {
    width: 313px;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper {
    background: #F7F9FA;
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 24px;
    padding: 32px 24px;
    min-height: 0;
    position: relative;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper .list-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 24px;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper .list-content .list-content-inner {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: proxima-nova, sans-serif;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper .list-content .list-content-inner .category {
    color: rgb(201, 206, 209);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    max-width: none;
    overflow: hidden;
    padding: 12px 14px;
    pointer-events: none;
    position: relative;
    text-overflow: unset;
    white-space: unset;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper .list-content .list-content-inner .category.not-selected {
    color: rgb(141, 148, 153);
    pointer-events: auto;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper .list-content .list-content-inner .category.selected {
    color: transparent;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper .list-content .list-content-inner .category-name {
    color: rgb(23, 32, 38);
    font-weight: 500;
    left: 14px;
    letter-spacing: 0px;
    line-height: 1.25;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 14px;
    text-overflow: unset;
    white-space: unset;
    top: 12px;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper .list-content .list-content-inner .category-name.selected {
    opacity: 1;
}

.left .menu-category-bar .mcb-container .mcb-list .list-container .list-inner .list .list-wrapper .list-content .list-content-inner .category-border {
    width: 2px;
    height: 1px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    background: rgb(82, 174, 49) none repeat scroll 0% 0%;
    transform-origin: 0px 0px 0px;
    transition: transform 0.1s ease 0s;
}

/* ENDE: Kategorien (Links) */

/* START: Restaurant Speisen */
.restaurant-menu-item {}

.rm-header {
    margin: -1px 0px 0px;
    padding: 30px 16px 16px;
}

@media (min-width: 960px) {
    .rm-header {
        background: rgb(242, 244, 245) none repeat scroll 0% 0%;
        padding: 30px 0px 16px;
    }
}

.rm-header .category {
    font-size: 20px;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    margin: 0;
    transition: none;
}

@media (max-width: 960px) {
    .rm-header .category {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 960px) {
    .rm-list {
        border-top: 1px solid rgb(225, 229, 232);
        border-bottom: 1px solid rgb(225, 229, 232);
        margin-bottom: 1px;
    }
}
.rm-list .rm-container {
    position: relative;
}

.rm-list .rm-container .rm-wrapper {
    background-color: rgb(255, 255, 255);
    cursor: none;
    height: auto;
    overflow: hidden;
}

@media (min-width: 960px) {
    .rm-list .rm-container .rm-wrapper {
        padding: 0px 24px;
        border-radius: 8px;
        margin-bottom: 12px;
    }
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper {
    cursor: pointer;
    padding: 18px 16px;
    position: static;
}

@media (min-width: 960px) {
    .rm-list .rm-container .rm-wrapper .rm-innerwrapper {
        padding: 24px 0px;
    }
}

@media (max-width: 960px) {
    .rm-list .rm-container .rm-wrapper .rm-innerwrapper {
        border-bottom: 1px solid rgb(225, 229, 232);
    }
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer {
    display: flex;
    justify-content: space-between;
    -moz-box-pack: justify;
}

@media (max-width: 1150px) and (min-width: 960px) {
    .rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer {
        flex-direction: column-reverse;
    }
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .title {
    flex: 1 1 0%;
    padding-right: 10px;
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .title .rm-item {
    color: #172026;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0;
    transition: none;
}

@media (max-width: 960px) {
    .rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .title .rm-item {
        font-size: 15px;
        letter-spacing: 0.00714em;
        line-height: 1.57;
    }
    .rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .title .rm-item-info {
        font-size: 10px;
    }
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .title .rm-item-info {
    font-weight: 300;
    font-size: 11px;
    font-family: proxima-nova, sans-serif;
    color: #1574f5;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: 0 0;
    cursor: pointer;
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .description {
    margin-top: 1px;
    display: flex;
    align-items: center;
    -moz-box-align: center;
}

@media (max-width: 960px) {
    .rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .description {
        margin-top: 2px;
        -moz-box-pack: justify;
        justify-content: space-between;
    }
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .description .rm-desc {
    transition: none;
    color: #8D9499;
    font-size: 14px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    margin: 0;
}

@media (max-width: 960px) {
    .rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .description .rm-desc {
        line-height: 21px;
        letter-spacing: 0.00938em;
    }
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .price {
    align-items: center;
    display: flex;
    margin-top: 10px;
    -moz-box-align: center;
}

.rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .price .rm-price {
    color: rgb(82, 174, 49);
    transition: none;
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
    margin: 0;
}

@media (max-width: 960px) {
    .rm-list .rm-container .rm-wrapper .rm-innerwrapper .rm-flexcontainer .textwrapper .price .rm-price {
        font-size: 0.875em;
        letter-spacing: 0.00714em;
    }
}
/* ENDE: Restaurant Speisen */

/* START: Warenkorb */
.restauarant-menu-wrapper .restaurant-menu-inner .restaurant-menu-content .right {
    flex: 0 0 auto;
}

.cart {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

@media (max-width: 960px) {
    .cart {
        visibility: hidden;
    }
}

.cart .cart-wrapper {
    flex: 1 1 auto;
    width: 100%;
    background-position: center center;
    position: relative;
}

@media (min-width: 960px) {
    .cart .cart-wrapper {
        background-position: center center;
    }
}

.cart .cart-wrapper .cart-inner {
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 1440px;
}

.cart .cart-wrapper .cart-inner .sticky-inner {
    display: flex;
    -moz-box-pack: end;
    justify-content: flex-end;
}

.cart .cart-wrapper .cart-inner .sticky-inner .content {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    pointer-events: auto;
}

@media (min-width: 960px) {
    .cart .cart-wrapper .cart-inner .sticky-inner .content {
        width: 400px;
        padding: 0px 30px 0px 24px;
    }
}

.cart .cart-wrapper .cart-inner .sticky-inner .content .innerwrapper {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    padding: 40px 32px;
}

.cart .cart-wrapper .cart-inner .sticky-inner .content .innerwrapper .title {
    width: 300px;
}

.cart .cart-wrapper .cart-inner .sticky-inner .content .innerwrapper .title h6 {
    transition: none;
    text-align: center;
    font-size: 20px;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    margin: 0;
}

.cart .cart-wrapper .cart-inner .sticky-inner .content .innerwrapper .description {
    padding: 16px 0px 32px;
    width: 314px;
}

  .cart .cart-wrapper .cart-inner .sticky-inner .content .innerwrapper .description aside {
    transition: none;
    text-align: center;
    color: #8D9499;
    font-size: 14px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.00938em;
}
/* ENDE: Warenkorb */