<div class="setting-modal">
  <div class="setting-content">
    <div class="setting-header">
      GERICHTKATEGORIE LÖSCHEN
    </div>
    <div class="setting-form">
      <div class="tab tab-setting">
        <block-ui>
          <div class="form-setting">
            <h5>Bist du sicher, dass du die Gerichtkategorie<br /><strong>'{{dishCategory.name}}' löschen</strong><br />möchtest?</h5>
          </div>
          <div class="button-container">
            <button class="button-submit" type="submit" (click)="onSubmit()">Löschen</button>
          </div>
        </block-ui>
      </div>
    </div>
  </div>
</div>
