<block-ui>
    <div id="modal">
        <div class="wrapper">
            <div class="content">
                <img class="icon" src="/assets/images/icons/question.svg" alt="" style="width: 64px;" >
                <h1 class="title">Bist Du Dir sicher?</h1>
                <p class="description">Kategorie &raquo;{{dishCategory.name}}&laquo; löschen?</p>
                <div class="btns-container">
                    <button type="button" class="cancel" (click)="activeModal.dismiss('Cross click')">Abbrechen</button>
                    <button type="submit" class="submit" (click)="onSubmit()">Löschen</button>
                </div>
            </div>
        </div>
    </div>
</block-ui>