.impressum {
    display: grid;
    font-family: proxima-nova, sans-serif;
    color: #4c5b52;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 960px) {
    .impressum {
        grid-gap: 50px;
        grid-template-columns: 47% auto;
    }
}

.impressum .block {
    display: block;
}

.impressum a {
    color: #27625b;
    text-decoration: none;
}

.impressum a:hover {
    color: #27625b;
    text-decoration: underline;
}

.impressum h2 {
    font-weight: 600;
    margin: 0 0 20px 0;
    margin-top: 0px;
}

.impressum h3 {
    font-weight: 500;
    margin: 24px 0 12px 0;
}

.impressum p {
    font-weight: 400;
    font-size: 16px !important;
    margin: 0 0 20px 0;
}

.impressum b, strong {
    font-weight: bolder;
}

.impressum strong {
    font-weight: 700;
}

.impressum h4, h5, h6, .t4, .t5, .t6 {
    font-weight: bold;
}

.impressum .t1, .t2, .t3, .t4 {
    display: block;
    font-family: inherit;
    line-height: 1.25;
}

.impressum .t4 {
    font-size: 24px;
    margin: 12px 0;
}

.impressum .t5 {
    font-size: 20px;
    margin: 8px 0;
}