<div style="top: -49px; z-index: 5; position: sticky;">
    <div class="no-top"></div>
    <div class="legal-header">
        <h1 class="header-title" style="max-width: 100%; color: rgb(255, 255, 255);">
            <span class="title">Impressum</span>
        </h1>
    </div>
</div>

<div style="top: 90px; z-index: 4; position: sticky;">
    <div class="header-portal">
        <header class="multi-tabs-wrapper">
            <div class="multi-tabs-root">
                <div class="multi-tabs-scroller" style="overflow: hidden;">
                    <div class="multi-tabs-container" role="tablist">
                        <a class="multi-tab" [routerLink]="['/general-terms-and-conditions']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">AGB</span>
                        </a>
                        <a class="multi-tab active" [routerLink]="['/imprint']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Impressum</span>
                        </a>
                        <a class="multi-tab" [routerLink]="['/privacy-policy']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Datenschutz</span>
                        </a>
                        <a class="multi-tab" [routerLink]="['/privacy-policy#cookies']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Verwendung von Cookies</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<main class="legal-wrapper">
    <div class="legal-content">
        <div class="legal-child">
            <div class="wrapper">
                <div class="inner">
                    <div class="content-text">
                        <div>
                            <h1 class="title-1">Betreiber der Webseite</h1>
                            <h2 class="title-2">Inhaltlich verantwortlich</h2>
                            <p><strong class="strong">Luca Wieczorek</strong><br />Adenauerallee 11<br />D-46399 Bocholt</p>
                            <p>Telefon: +49 2871 29187-80<br />E-Mail: <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#108;&#117;&#099;&#097;&#119;&#105;&#101;&#099;&#122;&#111;&#114;&#101;&#107;&#046;&#100;&#101;">&#105;&#110;&#102;&#111;&#064;&#108;&#117;&#099;&#097;&#119;&#105;&#101;&#099;&#122;&#111;&#114;&#101;&#107;&#046;&#100;&#101;</a></p>
                            <h2 class="title-2">Vertretungsberechtigte Personen</h2>
                            <p>Anne Beckmann, Marco Artz und Luca Wieczorek</p>
                        </div>
                        <div>
                            <h1 class="title-1" style="margin-top: 40px;">Disclaimer</h1>
                            <h2 class="title-2">Haftungsausschluss</h2>
                            <p>Wir übernehmen keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.</p>
                            <p>Haftungsansprüche gegen uns aufgrund Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p>
                            <p>Alle Angebote sind unverbindlich. Wir behalten es uns ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
                            <h2 class="title-2" style="margin-top: 10px;">Haftung für Links</h2>
                            <p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr der Nutzerin oder des Nutzers.</p>
                            <h2 class="title-2" style="margin-top: 10px;">Urheberrechte</h2>
                            <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich Bocholt Liefert oder den speziell genannten Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>