<section id="main" role="main">
    <div class="focusing-outlet">

        <header class="page-header">
            <div class="wrapper">
                <h1>Impressum</h1>
            </div>
        </header>

        <main class="page-content">
            <div class="text">
                <h3>Inhaltlich Verantwortlich <span>im Sinne des § 5 TMG</span></h3>
                <p>
                    <strong>Anne Beckmann</strong> (falls nicht anders deklariert)<br />
                    Kaiser-Wilhelm-Straße 26<br />
                    46395 Bocholt
                </p>
                <p>
                    Telefon: 02871 / 227 026<br />
                    E-Mail: <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#103;&#097;&#115;&#116;&#114;&#111;&#109;&#105;&#111;&#046;&#100;&#101;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#103;&#097;&#115;&#116;&#114;&#111;&#109;&#105;&#111;&#046;&#100;&#101;</a>
                </p>
                <p>
                    Verantwortlich <span>gemäß § 55 Abs. 2 RStV (V.i.S.d.P.)</span>: Anne Beckmann<br />
                    Vertretungsberechtigte Personen: Anne Beckmann, Marco Artz und Luca Wieczorek
                </p>

                <h3>EU-Streitschlichtung</h3>
                <p>
                    Plattform der EU zur außergerichtlichen Online-Streitbeilegung <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="nofollow noreferrer noopener">https://ec.europa.eu/consumers/odr/</a>.
                    Wir sind weder bereit noch verpflichtet, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehme
                </p>

                <h3>Social Media Präsenzen:</h3>
                <p>Dieses Impressum gilt auch für unsere Facebook-Präsenz <a href="https://www.facebook.com/Gastromio.de/" target="_blank" rel="nofollow noreferrer noopener">Gastromio.de</a>, sowie für unser Instagram-Profil <a href="https://www.instagram.com/gastromio.de/">gastromio.de</a>.</p>
            
                <h3>Bildnachweise</h3>
                <p>
                    Nahaufnahme von Satsuma Orangen: &copy; Amanda Greene  &ndash; Adobe Stock<br />
                    Pommes mit Salatblättern: &copy; Sydney Troxell &ndash; Pexels.com<br />
                    Runde Edelstahlschale mit Fleisch und Gemüse: &copy; Valeria Boltneva &ndash; Pexels.com
                </p>
                
            </div>
        </main>

    </div>
</section>