<div style="top: -49px; z-index: 5; position: sticky;">
    <div class="no-top"></div>
    <div class="legal-header">
        <h1 class="header-title" style="max-width: 100%; color: rgb(255, 255, 255);">
            <span class="title">Impressum</span>
        </h1>
    </div>
</div>

<div style="top: 90px; z-index: 4; position: sticky;">
    <div class="header-portal">
        <header class="multi-tabs-wrapper">
            <div class="multi-tabs-root">
                <div class="multi-tabs-scroller" style="overflow: hidden;">
                    <div class="multi-tabs-container" role="tablist">
                        <a class="multi-tab" [routerLink]="['/general-terms-and-conditions']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">AGB</span>
                        </a>
                        <a class="multi-tab active" [routerLink]="['/imprint']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Impressum</span>
                        </a>
                        <a class="multi-tab" [routerLink]="['/privacy-policy']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Datenschutz</span>
                        </a>
                        <a class="multi-tab" [routerLink]="['/privacy-policy#cookies']" tabindex="0" role="tab" aria-selected="true">
                            <span class="multi-tab-wrapper">Verwendung von Cookies</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<main class="legal-wrapper">
    <div class="legal-content">
        <div class="legal-child">
            <div class="wrapper">
                <div class="inner">
                    <div class="content-text">
                        <div>
                            <table cellspacing="0" cellpadding="2" border="0" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td class="t-title">Anschrift</td>
                                        <td>Luca Wieczorek<br />Adenauerallee 11<br />46399 Bocholt<br />Deutschland</td>
                                    </tr>
                                    <tr>
                                        <td class="t-title"><br />Telefon</td>
                                        <td><br />+49 (0)2871 29187-80</td>
                                    </tr>
                                    <tr>
                                        <td class="t-title">Telefax</td>
                                        <td>+49 (0)2871 29187-79</td>
                                    </tr>
                                    <tr>
                                        <td class="t-title">E-Mail</td>
                                        <td><a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#108;&#117;&#099;&#097;&#119;&#105;&#101;&#099;&#122;&#111;&#114;&#101;&#107;&#046;&#100;&#101;">&#105;&#110;&#102;&#111;&#064;&#108;&#117;&#099;&#097;&#119;&#105;&#101;&#099;&#122;&#111;&#114;&#101;&#107;&#046;&#100;&#101;</a></td>
                                    </tr>
                                    <tr>
                                        <td class="t-title"><br />Inhaltlich verantwortlich</td>
                                        <td><br />Luca Wieczorek</td>
                                    </tr>
                                    <tr>
                                        <td class="t-title"><br /></td>
                                        <td><br />Wir sind bereit, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen. Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie unter <a href="https://www.ec.europa.eu/consumers/odr" target="_blank" rel="nofollow noreferrer">www.ec.europa.eu/consumers/odr</a> finden. Verbraucher können diese Plattform für die Beilegung ihrer Streitigkeiten nutzen.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>