.no-top {
    background-color: #52AE31;
    height: 50px;
    position: absolute;
    top: -50px;
    width: 100%;
}

.legal-header {
    height: 80px;
    display: flex;
    padding: 12px 20px 24px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: #52AE31;
}

@media (min-width: 960px) {
    .legal-header {
        height: 140px;
        padding: 15px 60px 35px;
        justify-content: center;
    }
}

.legal-header .header-title {
    transition: none;
    text-align: center;
    font-size: 56px;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.5px;
    margin: 0;
}

.legal-header .header-title .title {
    font-weight: 600;
}

@media (min-width: 960px) {
    .legal-header .header-title .title {
        font-weight: 700;
    }
}


.multi-tabs-wrapper {
    border-bottom: 1px solid #fff;
    background-color: #52AE31;
    color: #fff;
    height: 60px;
}

.multi-tabs-wrapper .multi-tabs-root {
    background-color: #52AE31;
    color: #fff;
    height: 60px;
    display: flex;
    overflow: hidden;
    min-height: 48px;
    -webkit-overflow-scrolling: touch;
}

.multi-tabs-wrapper .multi-tabs-root .multi-tabs-scroller {
    width: 100%;
    overflow-x: hidden;
    flex: 1 1 auto;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.multi-tabs-wrapper .multi-tabs-root .multi-tabs-container {
    justify-content: center;
    display: flex;
}

.multi-tabs-wrapper .multi-tabs-root .multi-tabs-container .multi-tab {
    border-style: none;
    opacity: 0.7;
    color: #8D9499;
    height: 60px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
    font-size: 14px;
    text-align: center;
    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    min-height: 48px;
    font-family: proxima-nova, sans-serif;
    line-height: 1.3;
    white-space: normal;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    align-items: center;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    -moz-user-select: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 600px) {
    .multi-tabs-wrapper .multi-tabs-root .multi-tabs-container .multi-tab {
        font-size: 16px;
        min-width: 160px;
    }
}

.multi-tabs-wrapper .multi-tabs-root .multi-tabs-container .active {
    opacity: 1;
    border-bottom: 3px solid #fff;
    color: #fff;
}

.multi-tabs-wrapper .multi-tabs-root .multi-tabs-container .multi-tab-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.legal-wrapper {
    display: flex;
    flex-direction: column;
    font-family: proxima-nova, sans-serif;
    height: 100%;
    flex: 1 1 0%;
}

.legal-wrapper .legal-content {
    position: relative;
    z-index: 2;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.legal-wrapper .legal-content .legal-child {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    z-index: 2;
}

.legal-wrapper .legal-content .legal-child .wrapper {
    flex: 1 1 auto;
    width: 100%;
    background-position: center center;
    position: relative;
}

@media (min-width: 960px) {
    .legal-wrapper .legal-content .legal-child .wrapper {
        background-position: center center;
    }
}

.legal-wrapper .legal-content .legal-child .wrapper .inner {
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 920px;
}

.legal-wrapper .legal-content .legal-child .wrapper .inner .content-text {
    margin: 72px auto 118px;
    width: 100%
}

.legal-wrapper .legal-content .legal-child .wrapper .inner .content-text .t-title {
    font-weight: 600;
    font-size: 18px;
    vertical-align: top;
    padding: 1px;
}