.legal-wrapper .legal-content .legal-child .wrapper .inner .content-text .disclaimer {
    font-weight: 400;
    font-size: 14px;
    vertical-align: top;
    padding-bottom: 8px;
    margin: 0;
}

.legal-wrapper .legal-content .legal-child .wrapper .inner .content-text .paragraph {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.00938em;
    margin: 0;
}

.legal-wrapper .legal-content .legal-child .wrapper .inner .content-text .title-1 {
    color: #172026;
    font-size: 37px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0;
}