<a
  class="restaurant"
  [routerLink]="['/restaurants', restaurant.alias]"
  [class.opened]="isRestaurantOpen(restaurant)"
  [class.closed]="!isRestaurantOpen(restaurant)"
  [queryParams]="{
    orderType: orderType,
    serviceTime: selectedOpeningHourFilter?.toISOString()
  }">
  <div class="restaurant-logo">
    <img *ngIf="!hasLogo(restaurant)" src="../../../../assets/images/logo/no-logo.jpg" alt="{{ restaurant.name }}" />
    <img *ngIf="hasLogo(restaurant)" [src]="getLogoUrl(restaurant)" alt="{{ restaurant.name }}" />
  </div>
  <div class="restaurant-content">
    <div class="restaurant-name">{{ restaurant.name }}</div>
    <div class="restaurant-address">
      <ng-container *ngIf="orderType === 'pickup'">{{ restaurant.address?.street }}, {{ restaurant.address?.city }}</ng-container>
      <ng-container *ngIf="orderType === 'delivery'">Lieferzeit {{ restaurant.deliveryInfo.averageTime }} min. | Mindestbestellwert {{ restaurant.deliveryInfo.getCostsText() }}</ng-container>
      <ng-container *ngIf="orderType === 'reservation'">{{ restaurant.address?.street }}, {{ restaurant.address?.city }}</ng-container>
    </div>
    <div class="restaurant-cuisines">
      <div class="restaurant-cuisine" *ngFor="let cuisine of restaurant.cuisines">
        <span class="cuisine-name">{{ cuisine.name }}</span>
      </div>
    </div>
  </div>
</a>

<!--
  <div id="infos">
    <p class="restaurant-address">
      <ng-container *ngIf="!isRestaurantOpen(restaurant)">
        <span style="font-weight: 500; text-transform: capitalize">{{ getRestaurantClosedText(restaurant) }}</span>
      </ng-container>
    </p>
  </div>
</a-->
