<block-ui>
    <div id="modal">
        <div class="modal-content" role="dialog">

            <div id="modal-header">
                <div class="modal-title">Zahlungsmethode bearbeiten</div>
                <button class="modal-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                    <svg width="24" viewBox="0 0 24 24" role="img">
                        <path d="M15.5 7.1L12 10.6 8.5 7.1 7.1 8.5l3.5 3.5-3.5 3.5 1.4 1.4 3.5-3.5 3.5 3.5 1.4-1.4-3.5-3.5 3.5-3.5z"></path>
                        <path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z"></path>
                    </svg>
                </button>
            </div>

            <form [formGroup]="changePaymentMethodForm" (ngSubmit)="onSubmit(changePaymentMethodForm.value)">
                <div id="modal-body">
                    <fieldset>
                        <div class="modal-input" role="combobox">
                            <label>Name der Zahlungsmethode</label>
                            <input type="text" id="name" formControlName="name" [ngClass]="{ 'is-invalid': f.name.errors }" placeholder="Name der Zahlungsmethode" />
                            <div *ngIf="f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name der Zahlungsmethode wird benötigt</div>
                            </div>
                        </div>
                        <div class="modal-input" role="combobox">
                            <label>Beschreibung</label>
                            <input type="text" id="description" formControlName="description" [ngClass]="{ 'is-invalid': f.description.errors }" placeholder="Beschreibung der Zahlungsmethode" />
                            <div *ngIf="f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Beschreibung wird benötigt</div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div id="modal-footer">
                    <div class="inline-button-wrap">
                        <button class="button-hollow-remove" aria-label="Close" (click)="activeModal.dismiss('Cross click')">Abbrechen</button>
                        <button class="button" type="submit">Speichern</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</block-ui>