<block-ui>
    <div id="change-password">

        <div class="flash-message js-flash-message" role="status" id="flashMessage2" data-duration="5000" *ngIf="errorMessage">
            <span style="align-items: center; display: inline-flex;">
                <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 16 16"><g><path d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M9,12H7V7h2V12z M8,6C7.4,6,7,5.6,7,5s0.4-1,1-1 s1,0.4,1,1S8.6,6,8,6z"></path></g></svg>
                <p>{{errorMessage}}</p>
            </span>
        </div>

        <div class="flash-message js-flash-message" role="status" id="flashMessage2" data-duration="5000" *ngIf="submitted && f.password.errors">
            <span style="align-items: center; display: inline-flex;">
                <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 16 16"><g><path d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M9,12H7V7h2V12z M8,6C7.4,6,7,5.6,7,5s0.4-1,1-1 s1,0.4,1,1S8.6,6,8,6z"></path></g></svg>
                <p *ngIf="f.password.errors.required">Bitte gib ein Passwort ein!</p>
                <p *ngIf="f.password.errors.pattern">Das eingegebene Passwort ist nicht komplex genug</p>
                <p *ngIf="f.password.errors.backend">{{f.name.errors.backend}}</p>
            </span>
        </div>

        <div class="flash-message js-flash-message" role="status" id="flashMessage2" data-duration="5000" *ngIf="submitted && !f.password.errors && f.passwordRepeat.errors">
            <span style="align-items: center; display: inline-flex;">
                <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 16 16"><g><path d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M9,12H7V7h2V12z M8,6C7.4,6,7,5.6,7,5s0.4-1,1-1 s1,0.4,1,1S8.6,6,8,6z"></path></g></svg>
                <p *ngIf="f.passwordRepeat.errors.required">Bitte wiederhole das eingegebene Passwort!</p>
                <p *ngIf="f.passwordRepeat.errors.confirmedValidator">Das Passwort stimmt nicht mit dem vorherigen überein</p>
                <p *ngIf="f.passwordRepeat.errors.backend">{{f.name.errors.backend}}</p>
            </span>
        </div>

        <div class="wrapper">
            <div id="back">
                <a (click)="onBack()">
                    <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M6 4.655L10.655 0 12 1.345 7.345 6 12 10.655 10.655 12 6 7.345 1.345 12 0 10.655 4.655 6 0 1.345 1.345 0 6 4.655z" fill="#FFFFFF" fill-rule="nonzero" /></svg>
                </a>
            </div>

            <div id="left">
                <div class="background-image"></div>
            </div>

            <div id="right">
                <div class="form-wrapper">
                    <div class="form">
                        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
                            <h1>Passwort ändern</h1>
                            <div class="subtext">
                                <p>Lege hier Dein neues Passwort fest.</p>
                            </div>
                            <div class="input-wrapper">
                                <div class="input-100">
                                    <div class="input-root">
                                        <label>Passwort</label>
                                        <div class="inner-input">
                                            <input type="password" mozactionhint="send" autocapitalize="none" autocomplete="password" spellcheck="off" id="password" name="password" formControlName="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" data-hj-suppress>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-100">
                                    <div class="input-root">
                                        <label>Passwort wiederholen</label>
                                        <div class="inner-input">
                                            <input type="password" mozactionhint="send" autocapitalize="none" autocomplete="password" spellcheck="off" id="passwordRepeat" name="passwordRepeat" formControlName="passwordRepeat" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" data-hj-suppress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="change-password-register" type="submit">Ändern</button>
                        </form>
                    </div>

                    <div class="form" *ngIf="success">
                        <form>
                            <h1>Dein Passwort wurde geändert.</h1>
                            <div class="subtext">
                                <p><a [routerLink]="['/']" class="active">Zur Startseite</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</block-ui>
