<block-ui>
	<main class="auth">
		<div class="auth__content">
			<form
				class="auth__form"
				data-aos="gm-move-down"
				data-aos-delay="300"
				data-aos-duration="800"
				data-aos-once="true"
				[formGroup]="changePasswordForm"
				(ngSubmit)="onSubmit(changePasswordForm.value)"
			>
				<h1
					data-aos="gm-move-down"
					data-aos-delay="700"
					data-aos-duration="800"
					data-aos-once="true"
				>
					Passwort ändern
				</h1>
				<p
					data-aos="gm-move-down"
					data-aos-delay="800"
					data-aos-duration="800"
					data-aos-once="true"
				>
					Gebe dein neues Passwort ein und wiederhole es, damit du es auch nicht
					vergisst.
				</p>

				<div
					data-aos="gm-move-down"
					data-aos-delay="900"
					data-aos-duration="800"
					data-aos-once="true"
					*ngIf="!valid"
				>
					<label for="email">Neues Passwort</label>
					<input
						type="password"
						mozactionhint="send"
						autocapitalize="none"
						autocomplete="password"
						spellcheck="off"
						id="password"
						name="password"
						formControlName="password"
						placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
					/>
					<div class="auth__feedback" *ngIf="errorMessage">
						<div>{{ errorMessage }}</div>
					</div>
					<div class="auth__feedback" *ngIf="submitted && f.password.errors">
						<div *ngIf="f.password.errors.required">
							Bitte gib ein Passwort ein!
						</div>
						<div *ngIf="f.password.errors.pattern">
							Das eingegebene Passwort ist nicht komplex genug
						</div>
						<div *ngIf="f.password.errors.backend">
							{{ f.name.errors.backend }}
						</div>
					</div>
				</div>

				<div
					data-aos="gm-move-down"
					data-aos-delay="1000"
					data-aos-duration="800"
					data-aos-once="true"
					*ngIf="!valid"
				>
					<label for="email">Neues Passwort wiederholen</label>
					<input
						type="password"
						mozactionhint="send"
						autocapitalize="none"
						autocomplete="password"
						spellcheck="off"
						id="passwordRepeat"
						name="passwordRepeat"
						formControlName="passwordRepeat"
						placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
					/>
					<div
						class="auth__feedback"
						*ngIf="submitted && !f.password.errors && f.passwordRepeat.errors"
					>
						<div *ngIf="f.passwordRepeat.errors.required">
							Bitte wiederhole das eingegebene Passwort!
						</div>
						<div *ngIf="f.passwordRepeat.errors.confirmedValidator">
							Das Passwort stimmt nicht mit dem vorherigen überein
						</div>
						<div *ngIf="f.passwordRepeat.errors.backend">
							{{ f.name.errors.backend }}
						</div>
					</div>
				</div>

				<button
					class="auth__form-submit"
					data-aos="gm-move-down"
					data-aos-delay="1100"
					data-aos-duration="800"
					data-aos-once="true"
					type="submit"
					*ngIf="!valid"
				>
					Passwort ändern
				</button>

				<div *ngIf="valid && success">
					<p>Dein Passwort wurde erfolgreich geändert.</p>
					<p>
						<a class="auth__form-submit" [routerLink]="['/']">Zur Startseite</a>
					</p>
				</div>
			</form>
		</div>
	</main>
</block-ui>
