<div id="root">
    <div class="layout">
        <div id="order-restaurant">

            <section id="hero" style="background-image: url('../../../../assets/images/hero/pizza-2.jpg');">
                <div class="wrapper">
                    <div id="text">
                        <h2 class="slogan">Regional, einfach und gut</h2>
                        <h1 class="name">Gastromio</h1>
                    </div>
                </div>
            </section>

            <block-ui [delayStart]="1500">
                <section id="order">

                    <div class="mobile-filter">
                        <button type="button" class="filtern" (click)="onToggleMobileFilterDetails()">Filtern</button>
                        <div class="search">
                            <div class="icon-wrapper"><div class="icon"></div></div>
                            <input type="text" autocomplete="off" inputmode="latin" maxlength="100" spellcheck="false" placeholder="Suche ..." (keyup)="onSearchType($event.target.value)">
                        </div>
                    </div>
                    <ng-container *ngIf="showMobileFilterDetails">
                        <div class="mobile-filter-details">
                            <div class="content">
                                <header class="top">
                                    <h4>Filter</h4>
                                    <button (click)="onHideMobileFilterDetails()"></button>
                                </header>

                                <div id="mobile-ordertype-filter">
                                    <p class="title">Wie kommt das Essen zu dir?</p>
                                    <div class="filter">
                                        <ng-container *ngIf="(selectedOrderType$ | async) === 'pickup'">
                                            <button type="button" class="switch active"><span>Abholung</span></button>
                                            <button type="button" class="switch" (click)="onDeliverySelected()">Lieferung</button>
                                        </ng-container>
                                        <ng-container *ngIf="(selectedOrderType$ | async) === 'delivery'">
                                            <button type="button" class="switch" (click)="onPickupSelected()">Abholung</button>
                                            <button type="button" class="switch active"><span>Lieferung</span></button>
                                        </ng-container>
                                    </div>
                                </div>
                                <div id="mobile-opening-hour-filter">
                                    <p class="title">Für wann möchtest du bestellen?</p>
                                    <button *ngIf="!(selectedOpeningHour$ | async)" type="button" (click)="openOpeningHourFilter()">Zeit wählen</button>
                                    <button *ngIf="(selectedOpeningHour$ | async)" type="button" (click)="openOpeningHourFilter()">{{selectedOpeningHourText$ | async}}</button>
                                </div>
                                <div id="mobile-cuisine-filter">
                                    <p class="title">Filter</p>
                                    <div class="cuisine-container">
                                        <div class="cuisine active" [class.active]="isCuisineSelected(undefined)">
                                            <button type="button" (click)="selectCuisine(undefined)">Alle anzeigen</button>
                                        </div>
                                        <div class="cuisine" *ngFor="let cuisine of cuisines" [class.active]="isCuisineSelected(cuisine)">
                                            <button type="button" (click)="selectCuisine(cuisine)">{{cuisine.name}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="mobile-info">
                        <div class="restaurant-count">
                            {{openedRestaurantCount}} von {{totalRestaurantCount}} Restaurants
                        </div>
                    </div>

                    <div class="wrapper">
                        <div class="inner">

                            <aside>
                                <div class="filter-wrapper">
                                    <div id="restaurant-count">
                                        {{openedRestaurantCount}} von {{totalRestaurantCount}} Restaurants
                                    </div>
                                    <div id="ordertype-filter">
                                        <p class="title">Wie kommt das Essen zu dir?</p>
                                        <div class="filter">
                                            <ng-container *ngIf="(selectedOrderType$ | async) === 'pickup'">
                                                <button type="button" class="switch active"><span>Abholung</span></button>
                                                <button type="button" class="switch" (click)="onDeliverySelected()">Lieferung</button>
                                            </ng-container>
                                            <ng-container *ngIf="(selectedOrderType$ | async) === 'delivery'">
                                                <button type="button" class="switch" (click)="onPickupSelected()">Abholung</button>
                                                <button type="button" class="switch active"><span>Lieferung</span></button>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div id="opening-hour-filter">
                                        <p class="title">Für wann möchtest du bestellen?</p>
                                        <button *ngIf="!(selectedOpeningHour$ | async)" type="button" (click)="openOpeningHourFilter()">Zeit wählen</button>
                                        <button *ngIf="(selectedOpeningHour$ | async)" type="button" (click)="openOpeningHourFilter()">{{selectedOpeningHourText$ | async}}</button>
                                    </div>
                                    <div id="cuisine-filter">
                                        <p class="title">Filter</p>
                                        <div class="cuisine-container">
                                            <div class="cuisine active" [class.active]="isCuisineSelected(undefined)">
                                                <button type="button" (click)="selectCuisine(undefined)">Alle anzeigen</button>
                                            </div>
                                            <div class="cuisine" *ngFor="let cuisine of cuisines" [class.active]="isCuisineSelected(cuisine)">
                                                <button type="button" (click)="selectCuisine(cuisine)">{{cuisine.name}}</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </aside>

                            <div id="restaurants">
                                <div id="search">
                                    <div class="icon-wrapper"><div class="icon"></div></div>
                                    <input type="text" autocomplete="off" inputmode="latin" maxlength="100" spellcheck="false" placeholder="Restaurant suchen ..." (keyup)="onSearchType($event.target.value)">
                                </div>

                                <app-order-restaurants-row *ngFor="let restaurant of openedRestaurants" [restaurant]="restaurant" [orderType]="(selectedOrderType$ | async)" [selectedOpeningHourFilter]="(selectedOpeningHour$ | async)"></app-order-restaurants-row>

                                <div class="preorder" *ngIf="closedRestaurants !== undefined && closedRestaurants.length > 0">
                                    <h3>
                                        Für
                                        <ng-container *ngIf="(selectedOrderType$ | async) === 'pickup'">Abholung</ng-container>
                                        <ng-container *ngIf="(selectedOrderType$ | async) === 'delivery'">Lieferung</ng-container>
                                        geschlossen
                                    </h3>
                                    <p>
                                        Die Folgenden Restaurants haben um diese Uhrzeit nicht geöffnet, <br>bei einigen von Ihnen kannst Du aber für eine spätere Öffnungszeit vorbestellen.
                                    </p>
                                </div>

                                <app-order-restaurants-row *ngFor="let restaurant of closedRestaurants" [restaurant]="restaurant" [orderType]="(selectedOrderType$ | async)" [selectedOpeningHourFilter]="(selectedOpeningHour$ | async)"></app-order-restaurants-row>

                            </div>

                        </div>
                    </div>
                </section>
            </block-ui>

        </div>
    </div>
</div>
