#order #restaurants {
	float: left;
	margin-left: 10px;
	margin-top: -8px;
    min-height: 100%;
	width: calc(100% - 20px);
}

@media only screen and (min-width: 570px) {
    #order #restaurants {
        float: left;
        margin-left: 10px;
        width: calc(100% - 20px);
    }
}

@media only screen and (min-width: 1004px) {
    #order #restaurants {
        margin-left: 20px;
        margin-bottom: 30px;
		width: calc(75% - 20px);
    }
}










.preorder {
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 32px;
    position: relative;
}

.preorder h3 {
    color: #363636;
    display: block;
    font-family: "Apercu", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.33px;
    text-align: center;
}

.preorder p {
    color: #363636;
    display: block;
    font-family: "Apercu", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.33px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .preorder p br {
        display: none;
    }
}

.preorder button {
    align-items: center;
    background-color: #ADCCCB;
    border-radius: 23px;
    display: block;
    height: 46px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 265px;
}

.preorder button:hover {
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
}

.preorder button:active {
    transform: scale(.98);
    -moz-transform: scale(.98);
    -ms-transform: scale(.98);
    -webkit-transform: scale(.98);
}

.preorder button span {
    color: #363636;
    font-family: "Apercu", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 6px 10px;
    text-align: center;
}






