<div class="overlay">
    <div id="betaModal">
        <a class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close"></a>
        <span class="title">Informationen</span>
        <p>Gastromio.de wurde erst kürzlich in Betrieb genommen. Es ist also möglich, dass sich der ein oder andere Fehler im System eingeschlichen hat, den wir noch nicht kennen. Das bitten wir im Vorhinein zu entschuldigen.</p>
        <p>
            Weiterhin sind die Wirte in der Bestellabwicklung über Gastrmio noch nicht geübt. Daher ermöglicht das System im Moment nur
            Vorbestellungen für die nächste Öffnungszeit/Schicht auf elektronischem Wege zu übermitteln. Bestellungen oder Abholungen,
            die der Besteller für sofort oder möglichst schnell erhalten will, lassen wir auf Wunsch vieler Wirte, zunächst nur telefonisch
            zu. Wir haben die Wirte gebeten, Vorbestellungen zu Beginn der nächsten Schicht kurz per E-Mail zu bestätigen.
        </p>
        <p>
            Alle Helfer, die über Gastromio.de im Internet und auf verschiedenen Sozialen Medien kommunizieren, tun das
            ehrenamtlich nach bestem Wissen und Gewissen, und völlig ohne Gegenleistung. Sie möchten, dass
            Restaurants weiter existieren und bitten Kunden und Restaurants bei Problemen um konstruktive Kritik.
        </p>
        <p>
            Für alle Probleme oder Fragen rund um unser Angebot sind wir gerne unter <a href="mailto:support@gastromio.de"><u>support@gastromio.de</u></a> oder über die Hotline der
            Coronahilfe Bocholt, 02871-287381, ansprechbar!
        </p>
        <p>
            <i>Dein Gastromio-Team</i>
        </p>
        <a class="close-link" (click)="activeModal.dismiss('Cross click')" aria-label="Close">Schließen</a>
    </div>
</div>