<div class="container" style="padding-top: 20px">
    <div class="row">
        <div class="col">
            <div class="search">
                <input class="form-control mr-sm-2" id="restaurant-search" type="search" maxlength="30" placeholder="Restaurant, z.B. Pizzeria La Piccola" aria-label="Search">
            </div>
            <div class="restaurants mt-3">
                <div *ngFor="let restaurant of restaurants" class="restaurant">
                    <div class="restaurant-logo-wrapper">
                        <div class="restaurant-logo">
                            <img src="assets/logo.png" class="restaurant-logo" alt="" />
                        </div>
                    </div>
                    <div class="restaurant-info-wrapper">
                        <div class="restaurant-info">
                            <p class="restaurant-name mb-0">{{ restaurant.name }}</p>
                            <p class="restaurant-beschreibung">{{ restaurant.description }}&nbsp;</p>
                        </div>
                        <div class="restaurant-cond">
                            <span class="nextdeliverytime px-1">Ab {{ restaurant.nextDeliveryTime }}</span>
                            <span class="delivery-cost px-1">{{ restaurant.deliveryCosts }}</span>
                            <span class="min-order px-1">min. {{ restaurant.minimumOrderValue }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
