<header class="top-bar">
    <div>
        <div class="top-section">

            <div class="logo-wrapper">
                <div class="logo">
                    <a aria-label="logo" role="button" [routerLink]="['/']">
                        <img src="../../assets/img/logo/logo_line_w.png" alt="logo" height="28" />
                    </a>
                </div>
            </div>

            <div class="user-wrapper">
                <div class="header-account">
                    <div class="header-account-logged">
                        <div class="header-account-dropdown">

                            <a class="account-link" *ngIf="getUsername() === undefined" id="login" (click)="openLoginForm()">
                                <svg class="svg-stroke-container" focusable="false" viewBox="0 0 288 288" color="white" role="presentation">
                                    <g>
                                        <path d="M144,48a96,96,0,1,1-96,96,96.11,96.11,0,0,1,96-96m0-24A120,120,0,1,0,264,144,120,120,0,0,0,144,24Z"></path>
                                        <path d="M144,68.88a36,36,0,1,0,36,36A36,36,0,0,0,144,68.88Z"></path>
                                        <path d="M213.27,184c-3.79-7.51-8.05-13.51-12.64-15.63-20.33-9.38-30-12.58-57.47-12.58-26.93,0-37.86,4.51-55.41,12.08-4.79,2.06-9.2,8.23-13.1,16a79.93,79.93,0,0,0,138.62.14Z"></path>
                                    </g>
                                </svg>
                                <span class="login-label">Anmelden</span>
                            </a>

                            <div *ngIf="getUsername() !== undefined" ngbDropdown>
                                <a class="account-link" id="userDropDown" ngbDropdownToggle>
                                    <svg class="svg-stroke-container" focusable="false" viewBox="0 0 288 288" color="white" role="presentation">
                                        <g>
                                            <path d="M144,48a96,96,0,1,1-96,96,96.11,96.11,0,0,1,96-96m0-24A120,120,0,1,0,264,144,120,120,0,0,0,144,24Z"></path>
                                            <path d="M144,68.88a36,36,0,1,0,36,36A36,36,0,0,0,144,68.88Z"></path>
                                            <path d="M213.27,184c-3.79-7.51-8.05-13.51-12.64-15.63-20.33-9.38-30-12.58-57.47-12.58-26.93,0-37.86,4.51-55.41,12.08-4.79,2.06-9.2,8.23-13.1,16a79.93,79.93,0,0,0,138.62.14Z"></path>
                                        </g>
                                    </svg>
                                    <span class="login-label">{{getUsername()}}&nbsp;</span>
                                </a>

                                <ul class="dropdown dropdown-menu" id="userDropDown" role="menu">
                                    <div ngbDropdownMenu aria-labelledby="userDropDown">

                                        <ng-container *ngIf="isSystemAdmin()">
                                            <li><a class="header-account-dropdown-link" ngbDropdownItem [routerLink]="['/admin/users']">Benutzer verwalten</a></li>
                                            <li><a class="header-account-dropdown-link" ngbDropdownItem [routerLink]="['/admin/cuisines']">Cuisines verwalten</a></li>
                                            <li><a class="header-account-dropdown-link" ngbDropdownItem [routerLink]="['/admin/paymentmethods']">Zahlungsmethoden verwalten</a></li>
                                            <li><a class="header-account-dropdown-link" ngbDropdownItem [routerLink]="['/admin/restaurants']">Restaurants verwalten</a></li>
                                        </ng-container>

                                        <ng-container *ngIf="isRestaurantAdmin()">
                                            <li><a class="header-account-dropdown-link" ngbDropdownItem [routerLink]="['/admin/myrestaurants']">Meine Restaurants</a></li>
                                        </ng-container>

                                        <hr class="header-account-dropdown-divider" />

                                        <li><a class="header-account-dropdown-link" ngbDropdownItem (click)="logout()">Abmelden</a></li>

                                    </div>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="cart">
                <span class="cart-wrapper">
                    <a class="cart-icon">
                        <span class="cart-icon-img">
                            <svg class="svg-stroke-container" width="24" height="24">
                                <path fill="#ffffff" d="M12 2.75a4.75 4.75 0 014.744 4.5h3.103a1 1 0 01.99 1.141l-1.714 12a1 1 0 01-.99.859H5.867a1 1 0 01-.99-.859l-1.714-12a1 1 0 01.99-1.141h3.103A4.75 4.75 0 0112 2.75zm5.559 14.75H6.44a.4.4 0 00-.396.457l.208 1.45a.4.4 0 00.396.343H17.35a.4.4 0 00.396-.343l.208-1.45a.4.4 0 00-.396-.457zm1.25-8.75H5.19a.4.4 0 00-.396.457l.922 6.45a.4.4 0 00.396.343h11.775a.4.4 0 00.396-.343l.922-6.45a.4.4 0 00-.396-.457zM12 4.25a3.251 3.251 0 00-3.193 2.638.305.305 0 00.3.362h5.796a.297.297 0 00.292-.35A3.251 3.251 0 0012 4.25z"></path>
                            </svg>
                        </span>
                    </a>
                </span>
            </div>

        </div>
    </div>
</header>