#top-bar {
    background-color: transparent;
    display: flex;
    height: 72px;
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    #top-bar {
        padding: 48px 48px;
    }
}

#top-bar #logo {
    align-items: center;
    display: flex;
    height: 100%;
}

#top-bar #logo img {
    display: inline-block;
    height: 48px;
    margin-right: 10px;
    transform: rotate(-10deg);
    width: 48px;
}

@media screen and (min-width: 768px) {
    #top-bar #logo img {
        margin-right: 6px;
    }
}

#top-bar #logo a {
    color: #fff;
    cursor: pointer;
    font-family: "Apercu", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 0px;
    text-decoration: none;
    white-space: nowrap;
}

#top-bar #logo a span {
    font-weight: 300;
}



#top-bar #menu {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-left: 24px;
}

#top-bar #menu .link {
    color: #fff;
    cursor: pointer;
    font-family: "Apercu", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.571;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

/*#navbar {
    background-color: #fff;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    font-size: 12px;
    height: 72px;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    padding: 0px 20px;
    top: 0px;
    transition: all .4s cubic-bezier(.57, .06, .05, .95);
    -moz-transition: all .4s cubic-bezier(.57, .06, .05, .95);
    -ms-transition: all .4s cubic-bezier(.57, .06, .05, .95);
    -o-transition: all .4s cubic-bezier(.57, .06, .05, .95);
    -webkit-transition: all .4s cubic-bezier(.57, .06, .05, .95);
    width: 100%;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    #navbar {
        height: 72px;
        padding: 0px 48px;
    }
}

#navbar a {
    color: #002140;
}

#navbar .nav-right > * {
    margin-left: 24px;
    height: 100%;
}

#navbar .nav-item {
    align-items: center;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    height: 100%;
}

#navbar .nav-item svg {
    display: block;
}

#navbar .nav-link {
    color: #002140;
    cursor: pointer;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 1.5;
    padding: 0px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s cubic-bezier(.57, .06, .05, .95);
    -moz-transition: all .3s cubic-bezier(.57, .06, .05, .95);
    -ms-transition: all .3s cubic-bezier(.57, .06, .05, .95);
    -o-transition: all .3s cubic-bezier(.57, .06, .05, .95);
    -webkit-transition: all .3s cubic-bezier(.57, .06, .05, .95);
    z-index: 1;
}

#navbar .nav-icon-label {
    margin-top: 3px;
}

#navbar .nav-right > * .nav-icon-label {
	display: none;
}

@media screen and (min-width: 930px) {
    #navbar .nav-right > * .nav-icon-label {
        display: initial;
        margin-left: 10px;
    }
}


#navbar #branding {
    word-spacing: -3px;
}

#navbar #branding a {
    color: #65b32e;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 0px;
    text-decoration: none;
    transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
    white-space: nowrap;
}

#navbar #branding a:hover,
#navbar #branding a:hover > span {
    color: #256d1b;
    transition: color 150ms ease-out;
    -moz-transition: color 150ms ease-out;
    -ms-transition: color 150ms ease-out;
    -o-transition: color 150ms ease-out;
    -webkit-transition: color 150ms ease-out;
}

#navbar #branding a > span {
    font-weight: 300;
    transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    -webkit-transition: none;
}


#navbar #bag .cart-count-wrap {
    position: relative;
}

#navbar #bag .cart-count-wrap .cart-count {
    color: #002140;
    display: block;
    left: 0px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding-left: 2px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 100%;
}


/*#top-bar {
    align-items: center;
    background-color: #fff;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    height: 72px;
    justify-content: space-between;
    left: 0px;
    overflow: visible;
    padding: 40px 48px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

@media screen and (min-width: 768px) {
    #top-bar {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

#top-bar .wrapper {
    margin: 0px auto;
    max-width: 1800px;
    padding-left: 60px;
    padding-right: 60px;
}

@media screen and (max-width: 767px) {
    #top-bar .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 1024px) {
    #top-bar .wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

#top-bar #logo {
    flex: none;
    transform: translateY(3px);
    padding-left: 8px;
    padding-right: 8px;
    width: 8.33333%;
    -moz-transform: translateY(3px);
    -ms-flex: none;
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    -webkit-box-flex: 0;
    -webkit-transform: translateY(3px);
}

@media screen and (max-width: 420px) {
    #top-bar #logo {
        z-index: 12;
    }
}

@media screen and (max-width: 767px) {
    #top-bar #logo {
        flex: none;
        padding-left: 8px;
        padding-right: 8px;
        width: 16.66667%;
        -ms-flex: none;
        -webkit-box-flex: 0;
    }
}

@media screen and (max-width: 1024px) {
    #top-bar #logo {
        flex: none;
        padding-left: 8px;
        padding-right: 8px;
        width: 8.33333%;
        -ms-flex: none;
        -webkit-box-flex: 0;
    }
}

@media screen and (max-width: 1280px) {
    #top-bar #logo {
        align-self: center;
        -ms-flex-item-align: center;
    }
}

@media screen and (max-width: 1439px) {
    #top-bar #logo {
        flex: none;
        padding-left: 8px;
        padding-right: 8px;
        width: 8.33333%;
        -ms-flex: none;
        -webkit-box-flex: 0;
    }
}

@media screen and (max-width: 1679px) {
    #top-bar #logo {
        flex: none;
        padding-left: 8px;
        padding-right: 8px;
        width: 8.33333%;
        -ms-flex: none;
        -webkit-box-flex: 0;
    }
}


#top-bar #logo a {
    display: inline-block;
}

#top-bar #logo img {
    height: 35px;
}

#top-bar #logo img:nth-child(2),
#top-bar #logo img:nth-child(3) {
    display: none;
}

@media screen and (max-width: 420px) {
    #top-bar #logo img {
        height: 24px;
        width: 21px;
    }
}

@media screen and (max-width: 550px) {
    #top-bar #logo img:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #top-bar #logo img:nth-child(2) {
        display: inline;
    }
}

@media screen and (max-width: 1280px) {
    #top-bar #logo img {
        height: 28px;
        width: 24px;
    }
}


#top-bar #account {
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex: none;
    justify-content: flex-end;
    margin-left: 8.33333%;
    padding-left: 8px;
    padding-right: 8px;
    width: 33.33333%;
    -ms-flex: none;
    -ms-flex-align: center;
    -ms-flex-pack: end;
    -webkit-box-align: center;
    -webkit-box-flex: 0;
    -webkit-box-pack: end;
    
    
    
    
    
    
    
    
    
}




#top-bar a {
    color: #65b32e;
}

#top-bar .nav-right > * {
    height: 100%;
    margin-left: 24px;
}

#top-bar .nav-item {
    align-items: center;
    display: flex;
    height: 100%;
}

#top-bar .nav-item svg {
    display: block;
}

#top-bar .nav-link {
    color: #65b32e;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 1.5;
    padding: 0px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s cubic-bezier(.57, .06, .05, .95);
    z-index: 1;
}

#top-bar .nav-icon-label {
    margin-top: 3px;
}

#top-bar .nav-right > * .nav-icon-label {
	  display: none;
}

@media screen and (min-width: 930px) {
    #top-bar .nav-right > * .nav-icon-label {
        display: initial;
        margin-left: 10px;
    }
}


#top-bar #bag .cart-count-wrap {
    position: relative;
} 

#top-bar #bag .cart-count-wrap .cart-count {
    color: #002140;
    display: block;
    left: 0px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding-left: 2px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 100%;
}


#navbar .settings {
    animation: showDropdown .3s ease forwards;
    -moz-animation: showDropdown .3s ease forwards;
    -ms-animation: showDropdown .3s ease forwards;
    -o-animation: showDropdown .3s ease forwards;
    -webkit-animation: showDropdown .3s ease forwards;
    background-color: #fff;
    border: 0px solid rgba(31, 45, 61, 0);
    border-radius: 8px;
    box-shadow: 0px 24px 64px rgba(31, 45, 61, .15);
    -moz-box-shadow: 0px 24px 64px rgba(31, 45, 61, .15);
    -ms-box-shadow: 0px 24px 64px rgba(31, 45, 61, .15);
    -o-box-shadow: 0px 24px 64px rgba(31, 45, 61, .15);
    -webkit-box-shadow: 0px 24px 64px rgba(31, 45, 61, .15);
    color: #777;
    font-size: 14px;
    left: -150px;
    list-style: none;
    min-width: 200px;
    padding: 16px;
    position: absolute;
    text-align: left;
    top: 72px !important;
    pointer-events: auto;
    left: 0px;
    z-index: 1000;
}

@media screen and (min-width: 992px) {
    #navbar .settings::before {
        background-color: #fff;
        border-radius: 3.2px;
        bottom: 100%;
        box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        -webkit-box-shadow: none;
        content: "";
        display: block;
        height: 16px;
        left: auto;
        position: absolute;
        right: 32px;
        transform: rotate(-45deg) translateY(16px);
        -moz-transform: rotate(-45deg) translateY(16px);
        -ms-transform: rotate(-45deg) translateY(16px);
        -o-transform: rotate(-45deg) translateY(16px);
        -webkit-transform: rotate(-45deg) translateY(16px);
        width: 16px;
        z-index: -5;
    }
}

#navbar .settings .header {
    color: #65b32e;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 8px;
    margin-top: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: none;
    white-space: nowrap;
}

#navbar .settings a {
    background-color: transparent;
    border: 0px;
    clear: both;
    color: rgba(31, 45, 61, .8);
    cursor: pointer;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    outline: none;
    padding: 6px 0px;
    text-align: inherit;
    text-decoration: none;
    text-transform: none;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    white-space: nowrap;
    width: 100%;
}

#navbar .settings a:active,
#navbar .settings a:focus,
#navbar .settings a:hover {
    background-color: transparent;
    color: #002140;
    text-decoration: none;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

#navbar .settings a svg {
    display: inline-block;
    fill: none;
    font-size: 16px;
    height: 14px;
    margin-right: 8px;
    position: relative;
    stroke: currentcolor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    top: -1px;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    width: 16px;
}

#navbar .settings a span {
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

#navbar .settings .divider {
    border-top: 1px solid #eff2f7;
    height: 0px;
    margin: 8px 0px;
    overflow: hidden;
}*/