<nav id="top-bar">
    <div class="wrapper">
        <div id="logo">
            <a [routerLink]="['/']">
                <img src="../../assets/images/logo/logo.svg" alt="">
                Gastromio<span>.de</span>
            </a>
        </div>
        <div id="menu" ngbDropdown>
            <a class="link" *ngIf="getUserEmail() === undefined" [routerLink]="['/login']">Anmelden</a>

            <ng-container *ngIf="getUserEmail() !== undefined">
                <a class="link" id="userDropDown" ngbDropdownToggle>
                    <ng-container *ngIf="isSystemAdmin()">Administration&nbsp;</ng-container>
                    <ng-container *ngIf="isRestaurantAdmin()">Meine Restaurants&nbsp;</ng-container>
                </a>
                <div class="dropdown-menu" id="userDropDown" ngbDropdownMenu aria-labelledby="userDropDown">

                    <ng-container *ngIf="isSystemAdmin()">
                        <a ngbDropdownItem [routerLink]="['/admin/users']">Benutzer verwalten</a>
                        <a ngbDropdownItem [routerLink]="['/admin/cuisines']">Cuisines verwalten</a>
                        <a ngbDropdownItem [routerLink]="['/admin/restaurants']">Restaurants verwalten</a>
                        <a ngbDropdownItem [routerLink]="['/admin/dishimport']">Speisenimport</a>
                        <a ngbDropdownItem [routerLink]="['/admin/restaurantimport']">Restaurantimport</a>
                    </ng-container>

                    <ng-container *ngIf="isRestaurantAdmin()">
                        <a ngbDropdownItem [routerLink]="['/admin/myrestaurants']">Restaurants verwalten</a>
                    </ng-container>

                    <a ngbDropdownItem (click)="logout()">Logout</a>

                </div>
            </ng-container>

            <a class="link" *ngIf="isOnOrderPage()" (click)="toggleCartVisibility()">Warenkorb</a>
            <a class="link" *ngIf="!isOnOrderPage() && getCurRestaurantId() !== undefined" [routerLink]="['/restaurants', getCurRestaurantId()]">Warenkorb</a>
        </div>
    </div>
</nav>