#beta-banner {
    background-color: #81B67C;
    color: #FFF;
    display: block;
    font-family: "Apercu", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}

#beta-banner svg {
    display: none;
}

#beta-banner a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transform: translateY(0);
    transition: color 0.3s;
}

#beta-banner a:hover {
    color: #f2f3f6;
}

#beta-banner a svg {
    animation: jump 2s ease alternate infinite;
    display: inline-block;
    height: 24px;
    margin: 0px 6px 0px 0px;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform-origin: 50% 50%;
    vertical-align: top;
    width: 24px;
}

@media only screen and (max-width: 767px) {
    #beta-banner {
        padding: 6px 16px;
    }
    #beta-banner svg {
        animation: jump 3s ease alternate infinite;
        display: block;
        height: 26px;
        position: absolute;
        top: calc(50% - 11px);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform-origin: 50% 50%;
        width: 26px;
    }
    #beta-banner a {
        font-size: 15px;
        margin: 0px 24px;
        text-align: center;
    }
    #beta-banner a svg {
        display: none;
    }
}

@keyframes jump {
	0% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
	}
	60% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
	}
	68% {
		transform: translate3d(0, -10%, 0) scale3d(0.9, 1.1, 1)
	}
	78% {
		transform: translate3d(0, -20%, 0) scale3d(1.1, 0.9, 1)
	}
	86% {
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
	}
	94% {
		transform: translate3d(0, -10%, 0) scale3d(0.9, 1.1, 1)
	}
	100% {
		transform: translate3d(0, -20%, 0) scale3d(1.1, 0.9, 1)
	}
}