#top-bar {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 72px;
    justify-content: space-between;
    left: 0px;
    overflow: visible;
    padding: 40px 48px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

@media screen and (min-width: 768px) {
    #top-bar {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

#top-bar .wrapper {
    margin: 0px auto;
    max-width: 1800px;
    padding-left: 60px;
    padding-right: 60px;
}

@media screen and (max-width: 767px) {
    #top-bar .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 1024px) {
    #top-bar .wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

#top-bar #logo {
    flex: none;
    transform: translateY(3px);
    padding-left: 8px;
    padding-right: 8px;
    width: 8.33333%;
    -moz-transform: translateY(3px);
    -ms-flex: none;
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    -webkit-box-flex: 0;
    -webkit-transform: translateY(3px);
}

@media screen and (max-width: 420px) {
    #top-bar #logo {
        z-index: 12;
    }
}

@media screen and (max-width: 767px) {
    #top-bar #logo {
        flex: none;
        padding-left: 8px;
        padding-right: 8px;
        width: 16.66667%;
        -ms-flex: none;
        -webkit-box-flex: 0;
    }
}

@media screen and (max-width: 1024px) {
    #top-bar #logo {
        flex: none;
        padding-left: 8px;
        padding-right: 8px;
        width: 8.33333%;
        -ms-flex: none;
        -webkit-box-flex: 0;
    }
}

@media screen and (max-width: 1280px) {
    #top-bar #logo {
        align-self: center;
        -ms-flex-item-align: center;
    }
}

@media screen and (max-width: 1439px) {
    #top-bar #logo {
        flex: none;
        padding-left: 8px;
        padding-right: 8px;
        width: 8.33333%;
        -ms-flex: none;
        -webkit-box-flex: 0;
    }
}

@media screen and (max-width: 1679px) {
    #top-bar #logo {
        flex: none;
        padding-left: 8px;
        padding-right: 8px;
        width: 8.33333%;
        -ms-flex: none;
        -webkit-box-flex: 0;
    }
}


#top-bar #logo a {
    display: inline-block;
}

#top-bar #logo img {
    height: 35px;
}

#top-bar #logo img:nth-child(2),
#top-bar #logo img:nth-child(3) {
    display: none;
}

@media screen and (max-width: 420px) {
    #top-bar #logo img {
        height: 24px;
        width: 21px;
    }
}

@media screen and (max-width: 550px) {
    #top-bar #logo img:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #top-bar #logo img:nth-child(2) {
        display: inline;
    }
}

@media screen and (max-width: 1280px) {
    #top-bar #logo img {
        height: 28px;
        width: 24px;
    }
}


#top-bar #account {
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex: none;
    justify-content: flex-end;
    margin-left: 8.33333%;
    padding-left: 8px;
    padding-right: 8px;
    width: 33.33333%;
    -ms-flex: none;
    -ms-flex-align: center;
    -ms-flex-pack: end;
    -webkit-box-align: center;
    -webkit-box-flex: 0;
    -webkit-box-pack: end;
    
    
    
    
    
    
    
    
    
}




#top-bar a {
    color: #65b32e;
}

#top-bar .nav-right > * {
    height: 100%;
    margin-left: 24px;
}

#top-bar .nav-item {
    align-items: center;
    display: flex;
    height: 100%;
}

#top-bar .nav-item svg {
    display: block;
}

#top-bar .nav-link {
    color: #65b32e;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 1.5;
    padding: 0px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s cubic-bezier(.57, .06, .05, .95);
    z-index: 1;
}

#top-bar .nav-icon-label {
    margin-top: 3px;
}

#top-bar .nav-right > * .nav-icon-label {
	  display: none;
}

@media screen and (min-width: 930px) {
    #top-bar .nav-right > * .nav-icon-label {
        display: initial;
        margin-left: 10px;
    }
}


#top-bar #bag .cart-count-wrap {
    position: relative;
} 

#top-bar #bag .cart-count-wrap .cart-count {
    color: #65b32e;
    display: block;
    left: 0px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding-left: 2px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 100%;
}

/* 90.3 #navbar > .settings */
#navbar .settings {
    background-color: #fff;
    border: 0px solid rgba(31, 45, 61, 0);
    border-radius: .5rem;
    box-shadow: 0px 1.5rem 4rem rgba(31, 45, 61, .15);
    color: #718096;
    font-size: .875rem;
    list-style: none;
    min-width: 200px;
    padding: 16px;
    position: absolute;
    text-align: left;
    top: 72px !important;
    pointer-events: auto;
    left: 0px;
    z-index: 1000;
    animation: show-dropdown .3s ease forwards;
}

@keyframes show-dropdown {
	0% {
		opacity: 0;
		transform: translateX(0) translateY(-3px) scale(.97);
        transition: all .3s ease;
	}
	100% {
		transform: translateX(0) translateY(-3px) scale(1);
        opacity: 1;
	}
}

@media screen and (min-width: 992px) {
    #navbar .settings::before {
        right: 2rem;
        left: auto;
        content: '';
        background: #fff;
        box-shadow: none;
        display: block;
        height: 16px;
        width: 16px;
        position: absolute;
        bottom: 100%;
        transform: rotate(-45deg) translateY(1rem);
        z-index: -5;
        border-radius: .2rem;
    }
}

#navbar .settings .header {
    color: #65b32e;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: .5rem;
    margin-top: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: none;
    white-space: nowrap;
}

#navbar .settings a {
    padding: .375rem 0;
    color: rgba(31,45,61,.8);
    font-size: 1rem;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    display: block;
    width: 100%;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    letter-spacing: normal;
    background-color: transparent;
    border: 0;
    outline: 0;
    transition: all .2s ease;
    text-decoration: none;
    text-transform: none;
}

#navbar .settings a:active {
    color: rgba(65,95,129,.8);
    text-decoration: none;
    background-color: transparent;
    transition: all .2s ease;
}

#navbar .settings a:focus,
#navbar .settings a:hover {
    color: rgba(65,95,129,.8);
    text-decoration: none;
    background: 0 0;
    transition: all .2s ease;
}

#navbar .settings a svg {
    display: inline-block;
    height: 14px;
    margin-right: .5rem;
    position: relative;
    top: -1px;
    font-size: 1rem;
    width: 1em;
    fill: none;
    stroke: currentcolor;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all .2s ease;
}

#navbar .settings a span {
    transition: all .2s ease;
}

#navbar .settings .divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #eff2f7;
}