<block-ui>
    <div id="app">
        <div id="login">

            <div id="notice" class="warning" *ngIf="submitted && f.password.errors">
                <p *ngIf="f.password.errors.required">Bitte gib ein Passwort ein!</p>
                <p *ngIf="f.password.errors.pattern">Das eingegebene Passwort ist nicht komplex genug</p>
                <p *ngIf="f.password.errors.backend">{{f.name.errors.backend}}</p>
            </div>
            <div id="notice" class="warning" *ngIf="submitted && f.passwordRepeat.errors">
                <p *ngIf="f.passwordRepeat.errors.required">Bitte wiederhole das eingegebene Passwort!</p>
                <p *ngIf="f.passwordRepeat.errors.confirmedValidator">Das Passwort stimmt nicht mit dem vorherigen überein</p>
                <p *ngIf="f.passwordRepeat.errors.backend">{{f.name.errors.backend}}</p>
            </div>

            <div id="left">
                <img srcset="
                /assets/images/background/login-640x426.jpg 640w,
                /assets/images/background/login-1280x853.jpg 1280w,
                /assets/images/background/login-1920x1280.jpg 1920w,
                /assets/images/background/login-6108x4072.jpg 6108w"
                     src="/assets/images/background/login-1280x853.jpg"
                     alt="Foto von Daria Shevtsova von Pexels">
            </div>

            <div id="right">
                <div class="wrapper">
                    <div class="inner">
                        <div class="child">
                            <div class="login">

                                <ng-container *ngIf="!success">
                                    <div class="heading">
                                        <h6>Passwort zurücksetzen</h6>
                                        <p>Hier kannst Du ein neues Passwort vergeben:</p>
                                    </div>
                                    <app-general-error [generalError]="errorMessage"></app-general-error>
                                    <form *ngIf="valid && !success" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
                                        <div class="form-input">
                                            <label class="form-label">Passwort</label>
                                            <div class="input-group">
                                                <input type="password" id="password" name="password" formControlName="password" placeholder="Passwort">
                                                <div class="icon"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg></span></div>
                                            </div>
                                        </div>
                                        <div class="form-input">
                                            <label class="form-label">Passwort</label>
                                            <div class="input-group">
                                                <input type="password" id="passwordRepeat" name="passwordRepeat" formControlName="passwordRepeat" placeholder="Passwort wiederholen">
                                                <div class="icon"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg></span></div>
                                            </div>
                                        </div>
                                        <button type="submit">Ändern</button>
                                    </form>
                                </ng-container>

                                <ng-container *ngIf="success">
                                    <div class="heading">
                                        <h6>Passwort zurücksetzen</h6>
                                        <p>Dein Passwort wurde erfolgreich zurückgesetzt.</p>
                                    </div>

                                    <a [routerLink]="['/']" class="active">Zur Startseite</a>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</block-ui>
