<block-ui>
    <main class="auth">
        <div class="auth__content">
            <form class="auth__form"
                  data-aos="gm-move-down"
                  data-aos-delay="300"
                  data-aos-duration="800"
                  data-aos-once="true"
                  [formGroup]="forgotPasswordForm"
                  (ngSubmit)="onSubmit(forgotPasswordForm.value)">
                <h1 data-aos="gm-move-down"
                    data-aos-delay="700"
                    data-aos-duration="800"
                    data-aos-once="true">
                    Passwort vergessen?
                </h1>
                <p data-aos="gm-move-down"
                   data-aos-delay="800"
                   data-aos-duration="800"
                   data-aos-once="true">
                    Gib deine E-Mail-Adresse ein - Wir schicken dir eine E-Mail mit weiteren Informationen zum Ändern deines Passworts.<br />
                    Zurück zum Login? Dann <a [routerLink]="['/login']">hier</a> entlang.
                </p>

                <div data-aos="gm-move-down"
                     data-aos-delay="900"
                     data-aos-duration="800"
                     data-aos-once="true"
                     *ngIf="!sent">
                    <label for="email">E-Mail-Adresse</label>
                    <input type="email" mozactionhint="next" autocapitalize="none" autocomplete="email" autofocus="" inputmode="email" spellcheck="off" id="email" name="email" formControlName="Email" placeholder="bernd@beispiel.de">
                    <div class="auth__feedback" *ngIf="message">
                        <div>{{message}}</div>
                    </div>
                    <div class="auth__feedback" *ngIf="submitted && f.email.errors">
                        <div *ngIf="f.email.errors.required">Bitte gib eine gültige E-Mail-Adresse an</div>
                        <div *ngIf="f.email.errors.backend">{{f.name.errors.backend}}</div>
                    </div>
                </div>

                <button class="auth__form-submit"
                        data-aos="gm-move-down"
                        data-aos-delay="1100"
                        data-aos-duration="800"
                        data-aos-once="true"
                        type="submit"
                        [disabled]="sending || sent"
                        *ngIf="!sent">
                    Passwort zurücksetzen
                </button>


                <div *ngIf="sent">
                    <p>Du erhältst in Kürze eine E-Mail mit weiteren Anweisungen, wie Du Dein Passwort ändern kannst.</p>
                    <p><a class="auth__form-submit" [routerLink]="['/']">Zur Startseite</a></p>
                </div>

            </form>
        </div>
    </main>
</block-ui>
