/* #forgot-password */
#forgot-password {
    background-color: #363636;
    background-image: url('../../../../assets/images/rough/grey.png');
    background-repeat: repeat;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    left: 0px;
    top: 0px;
    position: fixed;
    transform: none;
    width: 100vw;
    z-index: 999;
}

#forgot-password .wrapper {
    background-color: #363636;
    display: flex;
    height: 100vh;
    position: relative;
    width: 100vw;
}

/* #forgot-password > #back */
#forgot-password #back {
    background-color: #363636;
    border-bottom: 1px solid rgb(230, 230, 231);
    left: 0px;
    padding: 0px 28px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

#forgot-password #back a {
    align-items: center;
    -moz-box-align: center;
    border-radius: 40px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: flex-start;
    -moz-box-pack: start;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

#forgot-password #back a:hover {
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
}

@media only screen and (min-width: 768px) {
    #forgot-password #back {
        background-color: unset;
        border: unset;
        left: 20px;
        padding: 16px;
        top: 20px;
        width: auto;
    }
    #forgot-password #back a {
        background-color: #363636;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 15px 0px;
        height: 52px;
        justify-content: center;
        -moz-box-pack: center;
        width: 52px;
    }
}

/* #forgot-password > #left */
#forgot-password #left {
    align-items: flex-start;
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    -moz-box-pack: center;
    position: relative;
    width: 100%;
}

#forgot-password #left .background-image {
    background-image: url("https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop");
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
    right: 0px;
    top: 0px;
    transition: right 800ms ease-in-out 0s;
    width: 50vw;
}

@media only screen and (min-width: 768px) {
    #forgot-password #left {
        display: inline-flex;
        width: 50%;
    }
}

/* #forgot-password > #right */
#forgot-password #right {
    position: relative;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    background-color: #363636;
    background-image: url('../../../../assets/images/rough/grey.png');
    background-repeat: repeat;
    overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right {
        width: 50%;
        transform: translate(0px);
        transition: transform 800ms ease-in-out 0s;
    }
}

#forgot-password #right .form-wrapper {
    animation-name: fadeDownContent;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-y: auto;
    -moz-box-pack: start;
    justify-content: flex-start;
    padding: 68px 28px;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right .form-wrapper {
        -moz-box-pack: center;
        justify-content: center;
        padding: 0px 100px;
        margin: auto;
        right: 0px;
        max-width: 640px;
    }
}

#forgot-password #right .form-wrapper .form {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right .form-wrapper .form {
        height: auto;
        max-height: 100%;
    }
}

#forgot-password #right .form-wrapper .form form {
    width: 100%;
    max-width: 612px;
    margin-bottom: 140px;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right .form-wrapper .form form {
        margin-bottom: 0px;
    }
}

#forgot-password #right .form-wrapper .form form h1 {
    margin: 0px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.33px;
    line-height: 28px;
    font-family: "Apercu", sans-serif;
    color: #FFF;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right .form-wrapper .form form h1 {
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -0.33px;
    }
}

#forgot-password #right .form-wrapper .form form .subtext {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
    line-height: 14px;
    color: rgb(151, 156, 166);
    margin-top: 5px;
    font-family: "Apercu", sans-serif;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right .form-wrapper .form form .subtext {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.12px;
    }
}

#forgot-password #right form .input-wrapper {
    padding: 16px 0px 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: 16px 4%;
}

#forgot-password #right form .input-wrapper .input-100 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
    line-height: 18px;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    grid-column: span 12;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right form .input-wrapper .input-100 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.14px;
    }
}

#forgot-password #right form .input-wrapper .input-100 .input-root {
    width: 100%;
    z-index: 0;
    overflow: hidden;
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

#forgot-password #right form .input-wrapper .input-100 .input-root label {
    transform: translate(18px, 10px) scale(0.75);
    color: #979ca6 !important;
    font-size: 16px;
    z-index: 1;
    pointer-events: none;
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: absolute;
    font-family: "Apercu", sans-serif;
    font-weight: 400;
    line-height: 1;
    padding: 0;
}

#forgot-password #right form .input-wrapper .input-100 .input-root .inner-input {
    width: 100%;
    border: 1px solid #FFF;
    height: 48px;
    overflow: hidden;
    font-size: 14px;
    box-shadow: unset;
    box-sizing: border-box;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-color: #E6E6E7;
    border-radius: 23px;
    background-color: #363636;
    position: relative;
    color: #FFF;
    cursor: text;
    display: inline-flex;
    align-items: center;
    font-family: "Apercu", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right form .input-wrapper .input-100 .input-root .inner-input {
        height: 56px;
        font-size: 16px;
    }
}

#forgot-password #right form .input-wrapper .input-100 .input-root .inner-input input {
    padding: 27px 18px 10px;
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

#forgot-password #right form button.forgot-password-register {
    box-sizing: border-box;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    min-height: 56px;
    padding: 0px 32px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 18px;
    color: #363636;
    background-color: #DECF80;
    border: medium none;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    position: relative;
    width: 100%;
    height: 56px;
    min-width: 180px;
    font-family: "Apercu", sans-serif;
}

#forgot-password #right form button.forgot-password-register:disabled {
    background-color: #E6E6E7;
    cursor: default;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right form button.forgot-password-register {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.14px;
    }
}

#forgot-password #right form .reset-info {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.12px;
    line-height: 14px;
    color: #FFF;
    opacity: 0.75;
    margin-bottom: 20px;
    padding-top: 10px;
    font-family: "Apercu", sans-serif;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right form .reset-info {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: -0.12px;
    }
}

#forgot-password #right form .reset-info a {
    color: #DECF80;
    text-decoration: none;
}


#forgot-password #right form .disclaimer {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.12px;
    line-height: 14px;
    color: #FFF;
    margin-bottom: 20px;
    padding-top: 10px;
    font-family: "Apercu", sans-serif;
}

@media only screen and (min-width: 768px) {
    #forgot-password #right form .disclaimer {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: -0.12px;
    }
}

#forgot-password #right form .disclaimer a {
    color: #DECF80;
    text-decoration: none;
}







.flash-message {
    position: fixed;
    animation-name: fadeInUpModal;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    bottom: 16px;
    left: 24px;
    z-index: 9999;
    font-family: "Apercu", sans-serif;
    background-color: #ADCCCB;
    background-image: url('../../../../assets/images/rough/blue.png');
    background-repeat: repeat;
    padding: 10px 20px;
    border-radius: 23px;
    color: #363636;
    font-size: 16px;
    opacity: 0;
}

.icon {
    display: inline-block;
    color: inherit;
    fill: currentColor;
    height: 1em;
    width: 1em;
    line-height: 1;
    flex-shrink: 0;
    max-width: initial;
    margin-right: 12px;
}

.flash-message p {
    margin-bottom: -2px;
}

@keyframes fadeInUpModal {
    0% {
        transform: translate3d(0, 6%, 0) scale(1);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1.05);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUpModal {
    0% {
        transform: translate3d(0, 6%, 0) scale(1);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1.05);
        opacity: 1
    }
}

@keyframes fadeDownContent {
    0% {
        transform: translate3d(0, 6%, 0) scale(1.05);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1
    }
}

@-webkit-keyframes fadeDownContent {
    0% {
        transform: translate3d(0, 6%, 0) scale(1.05);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1
    }
}
