<div id="admin-restaurant">
    <div class="form-header">
        <div class="col"><h5>Restaurantkategorien</h5></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngFor="let cuisine of cuisines$ | async"
                 (click)="onToggleCuisine(cuisine.id)">
                <div class="card-body">
                    <div class="card-container">
                        <div class="card-wrapper">
                            <div class="card-content">
                                <div class="top">
                                    <div class="col-auto">
                                        <span class="badge active"
                                              *ngIf="(isCuisineEnabled$(cuisine.id) | async) === true">Aktiv</span>
                                        <span class="badge inactive"
                                              *ngIf="(isCuisineEnabled$(cuisine.id) | async) === false">Inaktiv</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="name">{{cuisine.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
