<block-ui>
    <div id="modal">
        <div class="wrapper">
            <div class="content">
                <h1 class="title add-edit">Benutzer bearbeiten</h1>
                <form [formGroup]="changeUserDetailsForm" (ngSubmit)="onSubmit(changeUserDetailsForm.value)">
                    <div style="width: 100%;">
                        <div class="form-input">
                            <label class="form-label">E-Mail-Adresse</label>
                            <div class="input-group">
                                <input type="email" autocomplete="off" autocapitalize="none" mozactionhint="next" autocapitalize="none" autocomplete="email" inputmode="email" required="" id="email" formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors }">
                                <div *ngIf="f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">E-Mail-Adresse wird benötigt</div>
                                    <div *ngIf="f.email.errors.email">Ungültige E-Mail Adresse (z.B. max@mustermann.de)</div>
                                </div>
                                <div *ngIf="message !== undefined" class="invalid-feedback">{{message}}</div>
                            </div>
                        </div>
                        <div class="form-input">
                            <label class="form-label">Rolle</label>
                            <div class="input-group">
                                <select autocomplete="off" mozactionhint="next" required="" id="role" formControlName="role">
                                    <option value="" selected="" disabled="" hidden="">Bitte auswählen<option>
                                    <option value="Customer">Kunde</option>
                                    <option value="RestaurantAdmin">Restaurantadministrator</option>
                                    <option value="SystemAdmin">Systemadministrator</option>
                                </select>
                                <div *ngIf="message !== undefined" class="invalid-feedback">{{message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="btns-container">
                        <button type="button" class="cancel" (click)="activeModal.dismiss('Cross click')">Abbrechen</button>
                        <button type="submit" class="submit">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block-ui>