#about {
    background-color: #ADCCCB;
    margin-top: -90px;
}

#page-about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 64px 0 0;
    text-align: center;
}

@media screen and (min-width: 992px) {
     #page-about {
         padding: 112px 0 0;
         min-height: 952px;
     }
}

.page-hero-wrapper {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}

.page-hero-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-bottom: 64px;
}

@media screen and (min-width: 992px) {
     .page-hero-content {
         margin-bottom: 0;
         min-width: 540px;
     }
}

.page-hero-content h1 {
    color: #363636;
    max-width: 800px;
    margin: 0 auto 16px;
    font-weight: 600;
    font-family: "Apercu", sans-serif;
    font-size: 64px;
    line-height: 1.09;
    letter-spacing: -0.33px;
}

.page-hero-content p {
    max-width: 640px;
    margin: 0 0 32px;
    font-size: 19px;
    line-height: 1.47;
    font-family: "Apercu", sans-serif;
}

@media screen and (min-width: 768px) {
     .page-hero-content p {
         font-size: 26px;
         line-height: 1.38;
     }
}




.page-hero-visual {
    position: relative;
    width: 100%;
    margin: auto 0 0;
    overflow: hidden;
    line-height: 0;
    height: 500px;
}

.page-hero-visual::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(#adcccb, rgba(173, 204, 203, 0));
}

.page-hero-visual img {
    max-width: none;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover; object-position: top center";
    -o-object-position: top center;
    object-position: top center;
    position: relative;
    margin: 0 auto;
}













#team {
    padding: 64px 0;
    text-align: center;
    background-color: #ADCCCB;
    background-image: url("../../../../assets/images/rough/blue.png");
    background-repeat: repeat;
}

@media screen and (min-width: 768px) {
    #team {
        padding: 128px 0;
    }
}

#team .team-wrapper {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    #team .team-wrapper {
       padding: 0 16px;
    }
}

#team .team-heading {
    color: #363636;
    font-size: 38px;
    line-height: 1.16;
    max-width: 800px;
    margin: 0 auto 16px;
    font-family: "Apercu", sans-serif;
    font-weight: 600;
    letter-spacing: -0.33px;
}

@media screen and (min-width: 768px) {
    #team .team-heading {
        font-size: 64px;
        line-height: 1.09;
    }
}




#team .team-members-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 48px 0;
    transition: opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (min-width: 544px) {
    #team .team-members-list {
        margin: 32px -12px;
    }
}

#team .team-member {
    width: 100%;
    padding: 16px 0;
    list-style-type: none;
}

@media screen and (min-width: 544px) {
    #team .team-member {
        width: 50%;
        padding: 32px 12px;
    }
}

@media screen and (min-width: 992px) {
    #team .team-member {
        width: 25%;
    }
}

.team-member-picture {
    position: relative;
    height: 0;
    padding-bottom: 65%;
    margin: 0 0 32px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 16px;
}

.team-member-picture img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover";
}

.team-member-name {
    color: #363636;
    margin: 0px;
    max-width: 800px;
    font-weight: 600;
    font-family: "Apercu", sans-serif;
    font-size: 17px;
    line-height: 1.53;
}

@media screen and (min-width: 768px) {
    #team .team-member-name {
        font-size: 17px;
        line-height: 1.53;
    }
}

.team-member-position {
    font-size: 17px;
    line-height: 1.53;
    margin: 0;
    font-family: "Apercu", sans-serif;
}

@media screen and (min-width: 768px) {
    #team .team-member-position {
        font-size: 17px;
        line-height: 1.53;
    }
}
