<main id="about">

    <section id="page-about">
        <div class="page-hero-wrapper">
            <div class="page-hero-content">
                <h1
                data-aos="gm-move-down"
                data-aos-anchor="#about"
                data-aos-delay="600"
                data-aos-duration="800"
                data-aos-once="true"
                >Wer wir sind</h1>
                <p
                data-aos="gm-move-down"
                data-aos-anchor="#about"
                data-aos-delay="900"
                data-aos-duration="800"
                data-aos-once="true"
                >Hinter jedem großartigen Unternehmen steht ein großartiges Team. Und eine großartige Vision. Und Umsetzung. Und Leidenschaft. Und... Was würdest Du hinzufügen?</p>
            </div>
        </div>
        <figure
        class="page-hero-visual"
        data-aos="gm-move-down"
        data-aos-anchor="#about"
        data-aos-delay="1200"
        data-aos-duration="600"
        data-aos-once="true"
        >
            <img src="../../../../assets/images/about/about_hero-wide-2-1024.jpg" srcset="../../../../assets/images/about/about_hero-wide-2-2048.jpg 2048w, ../../../../assets/images/about/about_hero-wide-2-1024.jpg 1024w, ../../../../assets/images/about/about_hero-wide-2-640.jpg 640w" alt="">
        </figure>
    </section>

    <section id="team">
        <div class="team-wrapper">
            <h2 class="team-heading">Die Gastromio Familie 💚</h2>
            <ul class="team-members-list">

                <li class="team-member">
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <figure class="team-member-picture">
                            <img itemprop="image" src="../../../../assets/images/about/Marco-Artz-1024.jpg" srcset="../../../../assets/images/about/Marco-Artz-1024.jpg 1024w, ../../../../assets/images/about/Marco-Artz-640.jpg 640w" alt="">
                        </figure>
                        <h3 class="team-member-name" itemprop="name">Anne Beckmann</h3>
                        <p class="team-member-position" itemprop="jobTitle">Organisation</p>
                    </div>
                </li>

                <li class="team-member">
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <figure class="team-member-picture">
                            <img itemprop="image" src="../../../../assets/images/about/Marco-Artz-1024.jpg" srcset="../../../../assets/images/about/Marco-Artz-1024.jpg 1024w, ../../../../assets/images/about/Marco-Artz-640.jpg 640w" alt="">
                        </figure>
                        <h3 class="team-member-name" itemprop="name">Marco Artz</h3>
                        <p class="team-member-position" itemprop="jobTitle">Projektleitung</p>
                    </div>
                </li>

                <li class="team-member">
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <figure class="team-member-picture">
                            <img itemprop="image" src="../../../../assets/images/about/Marco-Artz-1024.jpg" srcset="../../../../assets/images/about/Marco-Artz-1024.jpg 1024w, ../../../../assets/images/about/Marco-Artz-640.jpg 640w" alt="">
                        </figure>
                        <h3 class="team-member-name" itemprop="name">Luca Wieczorek</h3>
                        <p class="team-member-position" itemprop="jobTitle">Webentwicklung</p>
                    </div>
                </li>

                <li class="team-member">
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <figure class="team-member-picture">
                            <img itemprop="image" src="../../../../assets/images/about/Marco-Artz-1024.jpg" srcset="../../../../assets/images/about/Marco-Artz-1024.jpg 1024w, ../../../../assets/images/about/Marco-Artz-640.jpg 640w" alt="">
                        </figure>
                        <h3 class="team-member-name" itemprop="name">Jürgen Naber</h3>
                        <p class="team-member-position" itemprop="jobTitle">Qualitätssicherung</p>
                    </div>
                </li>

                <li class="team-member">
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <figure class="team-member-picture">
                            <img itemprop="image" src="../../../../assets/images/about/Marco-Artz-1024.jpg" srcset="../../../../assets/images/about/Marco-Artz-1024.jpg 1024w, ../../../../assets/images/about/Marco-Artz-640.jpg 640w" alt="">
                        </figure>
                        <h3 class="team-member-name" itemprop="name">Frauke Ueffing</h3>
                        <p class="team-member-position" itemprop="jobTitle">Webdesign & Grafiken</p>
                    </div>
                </li>

                <li class="team-member">
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <figure class="team-member-picture">
                            <img itemprop="image" src="../../../../assets/images/about/Marco-Artz-1024.jpg" srcset="../../../../assets/images/about/Marco-Artz-1024.jpg 1024w, ../../../../assets/images/about/Marco-Artz-640.jpg 640w" alt="">
                        </figure>
                        <h3 class="team-member-name" itemprop="name">Maren Korhammer</h3>
                        <p class="team-member-position" itemprop="jobTitle">Marketing</p>
                    </div>
                </li>

                <li class="team-member">
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <figure class="team-member-picture">
                            <img itemprop="image" src="../../../../assets/images/about/Marco-Artz-1024.jpg" srcset="../../../../assets/images/about/Marco-Artz-1024.jpg 1024w, ../../../../assets/images/about/Marco-Artz-640.jpg 640w" alt="">
                        </figure>
                        <h3 class="team-member-name" itemprop="name">Christian Brechluft</h3>
                        <p class="team-member-position" itemprop="jobTitle">Programmierung</p>
                    </div>
                </li>

                <li class="team-member">
                    <div itemscope="" itemtype="http://schema.org/Person">
                        <figure class="team-member-picture">
                            <img itemprop="image" src="../../../../assets/images/about/Marco-Artz-1024.jpg" srcset="../../../../assets/images/about/Marco-Artz-1024.jpg 1024w, ../../../../assets/images/about/Marco-Artz-640.jpg 640w" alt="">
                        </figure>
                        <h3 class="team-member-name" itemprop="name">Jens Steverding</h3>
                        <p class="team-member-position" itemprop="jobTitle">Social-Media-Manager</p>
                    </div>
                </li>

            </ul>
        </div>
    </section>

</main>
