#about {
    background-color: #adcccb;
    background-image: url("../../../../assets/images/rough/blue.png");
    background-repeat: repeat;
    margin-top: -90px;
}

#page-about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 64px 0 0;
    text-align: center;
}

@media screen and (min-width: 992px) {
     #page-about {
         padding: 112px 0 0;
         min-height: 952px;
     }
}

.page-hero-wrapper {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.page-hero-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-bottom: 64px;
}

@media screen and (min-width: 992px) {
     .page-hero-content {
         margin-bottom: 0;
         min-width: 540px;
     }
}

.page-hero-content h1 {
    color: #363636;
    max-width: 800px;
    margin: 0 auto 16px;
    font-weight: 600;
    font-family: "Apercu", sans-serif;
    font-size: 64px;
    line-height: 1.09;
    letter-spacing: -0.33px;
}

.page-hero-content p {
    max-width: 640px;
    margin: 0 0 32px;
    font-size: 19px;
    line-height: 1.47;
    font-family: "Apercu", sans-serif;
}

@media screen and (min-width: 768px) {
     .page-hero-content p {
         font-size: 26px;
         line-height: 1.38;
     }
}

@media screen and (max-width: 768px) {
    .page-hero-content h1 {
        font-size: 46px;
    }
    .page-hero-wrapper {
        margin-bottom: 8px;
        margin-top: 32px;
    }
    .page-hero-content {
        margin-bottom: 0px;
    }
}

#about-gastromio {
    background-color: #adcccb;
    background-image: url("../../../../assets/images/rough/blue.png");
    background-repeat: repeat;
}

.about-wrapper::after {
    content: "";
    clear: both;
    display: table;
  }
  
@media screen and (min-width: 20rem) {
  .left, .right {
    width: 100%;
    padding: 20px;
  }
}

@media screen and (min-width: 70rem) {
  .left {
    float: left;
    width: 50%;
  }
  .right {
    float: right;
    width: 50%;
  }
}

.left img {
    border-radius: 23px;
    margin-bottom: 10px;
}

.left p {
    font-family: "Apercu", sans-serif;
    color: #363636;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
}

.right {
    text-align: left;
}

.right h2 {
    font-family: "Apercu", sans-serif;
    color: #363636;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.5;
}

.right p {
    font-family: "Apercu", sans-serif;
    color: #363636;
    font-size: 18px;
    font-weight: 300;
}

#partners {
    margin-top: 16px;
}

#partners h2 {
    font-family: "Apercu", sans-serif;
    color: #363636;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.5;
}