<div id="admin-restaurant">
    <div class="form-header">
        <div class="col"><h5>Bezahlungsmöglichkeiten</h5></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="payment-card" *ngFor="let paymentMethod of paymentMethods$ | async"
                 (click)="onTogglePaymentMethod(paymentMethod.id)">
                <div class="payment-body">
                    <div class="payment-container">
                        <div class="payment-wrapper">
                            <div class="payment-content">
                                <div class="top">
                                    <div class="col">
                                        <img src="../../assets/images/icons/brands/{{paymentMethod.imageName}}.svg"
                                             alt="" style="height: 26px;">
                                    </div>
                                    <div class="col-auto">
                                        <span class="badge active" *ngIf="(isPaymentMethodEnabled$(paymentMethod.id) | async) === true">Aktiv</span>
                                        <span class="badge inactive" *ngIf="(isPaymentMethodEnabled$(paymentMethod.id) | async) === false">Inaktiv</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="name">{{paymentMethod.name}}</div>
                                    <span class="description">{{paymentMethod.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
