<div class="setting-modal">
    <div class="setting-content">
        <div class="setting-header">
            RESTAURANT LÖSCHEN
            <!--span class="setting-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></span-->
        </div>
        <div class="setting-form">
            <div class="tab tab-setting">
                <div class="form-setting">
                    <h5>Bist du sicher, dass du das Restaurant<br /><strong>'{{restaurant.name}}' löschen</strong><br />möchtest?</h5>
                    <p style="margin-bottom: 5px;"><small>(Dieser Vorgang kann nicht rückgängig gemacht werden.)</small></p>
                </div>
                <div class="button-container">
                    <button class="button-submit" type="submit" (click)="onSubmit()">Löschen</button>
                </div>
            </div>
        </div>
    </div>
</div>