<div class="modal-header">
  <h4 class="modal-title">Restaurant entfernen</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Sind Sie sicher, dass Sie das Restaurant '{{restaurant.name}}' löschen wollen?</h5>
</div>
<div class="modal-footer">
  <p class="error" *ngIf="message !== undefined">{{message}}</p>
  <button class="btn btn-danger" type="submit" (click)="onSubmit()">Entfernen</button>
</div>
