.order-home {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 100%;
}

.order-home .order-content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: -90px;
    padding-top: 90px;
    position: relative;
}

.order-home .order-content .order-inner {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.order-home .order-content .order-inner .inner-wrapper {
    align-items: center;
    background-color: rgb(30, 26, 52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    -moz-box-align: center;
    -moz-box-pack: center;
}

/* START: Hintergrund */
.image-wrapper {
    height: 100%;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.image-wrapper > div {
    background-size: cover;
	  background-position-x: center;
	  height: 100%;
	  width: 100%;
}
/* ENDE: Hintergrund */

/* START: Titel */
.title-wrapper {
    font-family: proxima-nova, sans-serif;
    margin-bottom: 20px;
    margin-top: -100px;
    pointer-events: none;
    position: relative;
    text-shadow: rgba(23, 32, 38, 0.2) 0px 2px 10px, rgba(23, 32, 38, 0.2) 0px 2px 4px;
    z-index: 3;
}

.title-wrapper h1 {
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0px;
    margin-bottom: 0px;
    max-width: 100%;
    text-align: center;
    transition: none;
}

.title-wrapper p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    transition: none;
    line-height: 1.3;
    letter-spacing: 0.5px;
    margin: 0px;
    margin-bottom: 10px;
    max-width: 100%;
}

@media (max-width: 960px) {
    .title-wrapper h1 {
        font-size: 50px;
    }
    .title-wrapper p {
        font-size: 19px;
    }
}
/* ENDE: Titel */

.restaurants-wrapper {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    z-index: 3;
}

.restaurants-wrapper .restaurants-content {
    background-position: center center;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
}

@media (min-width: 960px) {
    .restaurants-wrapper .restaurants-content {
        background-position: center center;
    }
}

.restaurants-wrapper .restaurants-content .restaurants-inner {
    margin: 0px auto;
    max-width: 920px;
    position: relative;
    width: 100%;
}

.restaurants-wrapper .restaurants-content .restaurants-inner .content {
    overflow: visible;
}

/* START: Suche */
.restaurant-search-box {
    padding: 0px 16px;
}

@media (min-width: 960px) {
    .restaurant-search-box {
        padding: 0px;
    }
}

.restaurant-search-box .restaurant-search-container {
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    height: 72px;
    justify-content: center;
    position: relative;
}

@media (max-width: 960px) {
    .restaurant-search-box .restaurant-search-container {
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        height: 60px;
    }
}

.restaurant-search-box .restaurant-search-container .search-icon {
    bottom: 0px;
    cursor: pointer;
    height: 36px;
    left: 0px;
    margin: auto 0px;
    padding-left: 16px;
    padding-right: 19px;
    pointer-events: none;
    position: absolute;
    top: 0px;
}

.restaurant-search-box .restaurant-search-container .search-icon .icon {
    height: 36px;
    width: 36px;
}

.restaurant-search-box .restaurant-search-container .search-icon .icon svg {
    color: #172026;
    display: inline-block;
    fill: currentColor;
    height: 36px;
    pointer-events: none;
    transition: fill .3s ease;
    width: 36px;
    -moz-user-select: none;
}

.restaurant-search-box .restaurant-search-container .search-form {
    flex: 1;
}

.restaurant-search-box .restaurant-search-container .search-form .search-input {
    background: transparent;
    border: 0px none;
    color: #172026;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 28px;
    min-height: 72px;
    outline: 0px;
    overflow: hidden;
    padding: 0px 100px 0px 74px;
    text-overflow: ellipsis;
    width: 100%;
}

@media (max-width: 960px) {
    .restaurant-search-box .restaurant-search-container .search-form .search-input {
        font-size: 16px;
        padding: 0px 70px 0px 60px;
        background: transparent none repeat scroll 0% 0%;
        min-height: 60px;
    }
}

.restaurant-search-box .restaurant-button {
    align-items: center;
    background-color: #52AE31;
    border: none;
    border-radius: 0px 0px 10px 10px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-size: 0.9375rem;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0px;
    max-width: 100%;
    min-height: 60px;
    min-width: 64px;
    outline: none;
    padding: 15px 30px 14px;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    -moz-appearance: none;
    -moz-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 960px) {
    .restaurant-search-box .restaurant-button {
        height: 60px;
    }
}

.restaurant-search-box .restaurant-button:hover {
    background-color: #428b27
}

.restaurant-search-box .restaurant-button .button-label {
    align-items: inherit;
    display: inherit;
    justify-content: inherit;
    width: 100%;
}

.restaurant-search-box .restaurant-button .button-label a {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.restaurant-search-box .restaurant-button .button-label a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}