<main class="order-wrapper">
    <div class="order-content">
        <div class="order-inner">
            <div class="inner-wrapper" style="height: 666px; padding-top: 90px; margin-top: -90px;">
                <picture>
                    <source class="order-bg-mobile" srcset="../../assets/img/home/search/mobil/default.webp" type="image/webp" />
                    <source class="order-bg-mobile" srcset="../../assets/img/home/search/mobil/default.jpg" type="image/jpg" />
                    <img class="order-bg-mobile" alt="" src="../../assets/img/home/search/mobil/defaultjpg" />
                </picture>
                <picture>
                    <source class="order-bg-desktop" srcset="../../assets/img/home/search/desktop/default.webp" type="image/webp">
                    <source class="order-bg-desktop" srcset="../../assets/img/home/search/desktop/default.jpg" type="image/jpg">
                    <img class="order-bg-desktop" alt="" src="../../assets/img/home/search/desktop/default.jpg">
                </picture>
                <div class="order-title" style="margin-top: -90px;">
                    <h1 class="ot3" style="font-weight: 600; max-width: 100%; color: rgb(255, 255, 255);">Einfach, Online, Unterstützen.</h1>
                    <p class="otp" style="font-weight: 400; max-width: 100%; color: rgb(255, 255, 255);">100% des Geldes geht an den Gastronomen. So einfach ist es.</p>
                </div>
                <div class="restaurants-wrapper">
                    <div class="restaurants-content">
                        <div class="restaurants-inner">
                            <div class="content">
                                <div class="restaurant-search-box">
                                    <div>
                                        <div class="restaurant-search-container">
                                            <div class="searchby-icon">
                                                <div class="icon">
                                                    <svg class="search-icon" focusable="false" viewBox="0 0 24 24" color="black" aria-hidden="true" role="presentation">
                                                        <g transform="translate(2 1.5)">
                                                            <path d="m9.738 3.7341c-1.6134 0-2.9214 1.3079-2.9214 2.9214s1.308 2.9215 2.9214 2.9215c1.6135 0 2.9214-1.308 2.9214-2.9215s-1.3079-2.9214-2.9214-2.9214"></path>
                                                            <g transform="translate(11.06 8.7779)">
                                                                <path d="m4.4895 6.141c-1.013 0-1.8351-0.82212-1.8351-1.8351 0-1.013 0.82212-1.8351 1.8351-1.8351s1.8351 0.82212 1.8351 1.8351c0 1.013-0.82212 1.8351-1.8351 1.8351m0-6.1171c-2.4293 0-4.3999 1.9705-4.3999 4.3998 0 2.6202 2.7739 6.2312 3.9167 7.6076 0.25115 0.3023 0.7153 0.3023 0.96645 0 1.1428-1.3764 3.9167-4.9874 3.9167-7.6076 0-2.4293-1.9706-4.3998-4.3999-4.3998"></path>
                                                            </g>
                                                            <path d="m10.043 13.202c0-0.85982 0.19843-1.6741 0.55143-2.3999-0.28055-0.012903-0.58599-0.019078-0.92516-0.019078-2.1851 0-3.0721 0.36645-4.4966 0.98055-0.38857 0.16737-0.74627 0.6682-1.0629 1.2972 1.1221 1.9471 3.2236 3.2617 5.6276 3.2617 0.35871 0 0.71051-0.029862 1.0535-0.086083-0.49613-1.132-0.74802-2.1484-0.74802-3.0344"></path>
                                                            <g transform="translate(0 .02212)">
                                                                <path d="m11.729 18.016l-0.0035945-0.0059908c-0.20184-0.33843-0.58461-0.52986-0.9753-0.47834-0.33143 0.043687-0.66931 0.066636-1.0125 0.066636-4.4365 0-8.0186-3.7276-7.779-8.2154 0.21954-4.1123 3.6668-7.3686 7.785-7.3654 3.505 0.0025806 6.4741 2.3324 7.4464 5.5242 0.076958 0.25263 0.2553 0.46332 0.49853 0.56627 0.66912 0.28304 1.2712 0.69438 1.7747 1.2039-0.25908-5.1641-4.541-9.2681-9.7754-9.2418-5.3699 0.026912-9.739 4.4632-9.6876 9.8328 0.050968 5.3345 4.3911 9.643 9.7375 9.643 0.94452 0 1.8574-0.13493 2.721-0.38581-0.24682-0.3647-0.49318-0.74765-0.72959-1.1441"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="restaurant-search-form">
                                                <input class="restaurant-search-input" placeholder="Suche nach Restaurants" tabindex="1" />
                                            </div>
                                        </div>
                                    </div>
                                    <div></div>
                                    <button class="restaurant-searchby-type" tabindex="0" type="button" role="button" style="max-width: 100%; min-height: 60px;">
                                        <span class="restaurant-button-label">Suche nach Cuisines</span>
                                        <span class="restaurant-button-label-wrapper"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="row">
    <div class="col">
      <div class="search">
        <input class="form-control mr-sm-2" id="restaurant-search" type="search" maxlength="30" placeholder="Restaurant, z.B. Pizzeria La Piccola" aria-label="Search" (keyup)="onSearchType($event.target.value)">
      </div>
      <div class="restaurants mt-3">
        <div class="restaurant" *ngFor="let restaurant of restaurants">
          <div class="restaurant-logo-wrapper">
            <div class="restaurant-logo">
              <img [src]="restaurant.image" alt="" border="0" />
            </div>
          </div>
          <div class="restaurant-info-wrapper">
            <h2 class="restaurantname">{{ restaurant.name }}</h2>
            <div class="restaurantbeschreibung">{{ restaurant.description }}</div>
            <div class="bottom-wrapper details">
              <div class="delivery">
                <div class="nextdeliverytime">Ab {{ restaurant.nextDeliveryTimeText }} Uhr</div>
                <div class="delivery-cost">{{ restaurant.deliveryCostsText }} €</div>
                <div class="min-order">Min. {{ restaurant.minimumOrderValueText }} €</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
