.order-home {
    display: flex;
}

.order-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 33vh;
    position: relative;
    width: 100%;
    z-index: 2;
}

/* START: Banner */
.order-wrapper .content {
    background-image: url("../../assets/img/header/order-home_desktop.jpg");
    background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
	  display: flex;
	  flex-direction: column;
	  height: 100%;
    padding-top: 90px;
    margin-top: -90px;
	  padding: 16px 0px 192px;
    position: relative;
    width: 100%;
    z-index: 2;
}

@media screen and (max-width: 960px) {
    .order-wrapper .content {
        background-image: url("../../assets/img/header/order-home_mobile.jpg");
        padding: 96px 0px;
    }
}
/* ENDE: Banner*/

/* START: Titel */
.title-wrapper {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 100%;
    padding: 12px 24px;
    width: 100%;
    -moz-box-align: center;
    -moz-box-pack: center;
}

.title-wrapper .inner {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    -moz-box-align: center;
}

.title-wrapper .inner span {
    color: rgb(255, 255, 255);
    display: block;
    font-family: proxima-nova, sans-serif;
    font-size: 48px;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
    letter-spacing: -0.04ch;
    line-height: 44px;
    margin: 0px;
    margin-top: 16px;
    max-width: 880px;
    padding: 0px;
    text-align: center;
    text-transform: none;
}

.title-wrapper .inner p {
    color: rgb(255, 255, 255);
    display: block;
    font-family: proxima-nova, sans-serif;
    font-size: 22px;
    font-variant-ligatures: no-common-ligatures;
	  font-weight: 400;
    letter-spacing: -0.04ch;
	  line-height: 28px;
    margin: 0px;
    margin-top: 12px;
    max-width: 880px;
    padding: 0px;
	  text-align: center;
	  text-transform: none;
}

@media (min-width: 960px) {
    .title-wrapper .inner span {
        font-size: 64px;
        line-height: 76px;
        margin-top: 96px;
        max-width: 900px;
    }
    .title-wrapper .inner p {
        font-size: 28px;
        line-height: 30px;
        margin-top: 2px;
        max-width: 900px;
    }
}
/* ENDE: Titel */

/* START: Restaurant-Suche */
.search-wrapper {
	  display: flex;
    justify-content: center;
	  margin-top: 12px;
    padding: 0px 16px;
	  -moz-box-pack: center;
}

@media (min-width: 960px) {
    .search-wrapper {
        margin-top: 16px;
        padding: 0px;
    }
}

.search-wrapper .search-box {
    padding: 0px 16px;
    width: 880px;
}

@media (min-width: 960px) {
    .search-wrapper .search-box {
        padding: 0px;
        width: 720px;
    }
}

.search-wrapper .search-box .search-inner {
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 4px 4px 0px 0px;
    display: flex;
    height: 72px;
    justify-content: center;
    position: relative;
}

@media (max-width: 960px) {
    .search-wrapper .search-box .search-inner {
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        height: 60px;
    }
}

.search-wrapper .search-box .search-inner .icon-wrapper {
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    margin: auto 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 36px;
    padding-left: 16px;
    padding-right: 19px;
}

.search-wrapper .search-box .search-inner .icon-wrapper .icon {
    height: 36px;
    width: 36px;
}

.search-wrapper .search-box .search-inner .icon-wrapper .icon svg {
    color: rgb(23, 32, 38);
    display: inline-block;
    fill: currentColor;
    font-size: 1.5rem;
    height: 36px;
    pointer-events: none;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 36px;
    -moz-user-select: none;
}

/* START: Restaurant-Suche/Restaurants */
.form-wrapper {
    flex: 1;
}

.form-wrapper .form-input {
    background: transparent;
    border: 0px none;
    color: rgb(23, 32, 38);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    min-height: 72px;
    outline: 0;
    overflow: hidden;
    padding: 0 100px 0 74px;
    text-overflow: ellipsis;
    width: 100%; 
}

@media (max-width: 960px) {
    .form-wrapper .form-input {
        background: transparent none repeat scroll 0% 0%;
        font-size: 16px;
        min-height: 60px;
        padding: 0px 70px 0px 60px;
    }
}

.form-button {
    align-items: center;
    background-color: rgb(82, 174, 49);
    border: 0;
    border-radius: 0px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-size: 0.9375rem;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0px;
    min-width: 64px;
    outline: 0;
    padding: 15px 30px 14px;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    -moz-appearance: none;
    -moz-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 960px) {
    .form-button {
        height: 40px;
    }
}

.form-button:hover {
    background-color: rgb(66, 139, 39);
}

.form-button span {
    align-items: inherit;
    display: inherit;
    justify-content: inherit;
    width: 100%;
}

.form-button span a {
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.form-button span a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* ENDE: Restaurant-Suche/Restaurants */
/* START: Überblick (3 Infos) */
.overwiew {
    flex: 1 0 auto;
    margin: 0px auto;
    max-width: 1184px;
    width: 100%;
}

.overwiew .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 42px 0px;
    max-width: 100%;
    padding: 12px;
    -moz-box-pack: center;
}

@media (max-width: 960px) {
    .overwiew .wrapper {
        flex-direction: column;
        margin: 40px 0px;
        padding: 8px;
    }
}

.overwiew .wrapper .inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    -moz-box-pack: center;
}

@media (max-width: 960px) {
    .overwiew .wrapper .inner {
        flex-direction: column;
    }
}

.overwiew .wrapper .inner .item {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

@media (max-width: 960px) {
    .overwiew .wrapper .inner .item {
        flex-flow: row nowrap;
    }
}

@media (min-width: 960px) {
    .overwiew .wrapper .inner .item {
        margin: 0px 17px;
        max-width: 100%;
        padding: 16px;
    }
}

.overwiew .wrapper .inner .item .img-wrapper {
    display: flex;
    justify-content: center;
    -moz-box-pack: center;
}

.overwiew .wrapper .inner .item .img-wrapper img {
    height: 154px;
    width: 154px;
}

@media (max-width: 960px) {
    .overwiew .wrapper .inner .item .img-wrapper {
        margin-right: 32px;
    }
    .overwiew .wrapper .inner .item .img-wrapper img {
        height: 88px;
        width: 88px;
    }
}

.overwiew .wrapper .inner .item .bottom {
    display: flex;
    flex-flow: column nowrap;
    min-height: 160px;
    width: 100%;
}

.overwiew .wrapper .inner .item .bottom .text-wrapper {
    max-width: 100%;
}

.overwiew .wrapper .inner .item .bottom .text-wrapper h2 {
    color: rgb(25, 25, 25);
    display: block;
    font-family: proxima-nova, sans-serif;
    font-size: 32px;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
    letter-spacing: -0.04ch;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
    text-align: center;
	  text-transform: none;
}

.overwiew .wrapper .inner .item .bottom .text-wrapper h3 {
    color: rgb(25, 25, 25);
    display: block;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 500;
    letter-spacing: 0ch;
    line-height: 24px;
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
    text-align: center;
	  text-transform: none;
}

@media (max-width: 960px) {
    .overwiew .wrapper .inner .item .bottom .text-wrapper h2 {
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    .overwiew .wrapper .inner .item .bottom .text-wrapper h3 {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        margin-top: 0px;
    }
}

.overwiew .wrapper .inner .item .bottom .button-wrapper {
    align-items: center;
    background-color: transparent;
    border: 0px none;
    cursor: pointer;
    display: flex;
    margin: 12px 0px 0px;
    outline: currentcolor none 0px;
    -moz-box-align: center;
}

@media (min-width: 960px) {
    .overwiew .wrapper .inner .item .bottom .button-wrapper {
        justify-content: center;
        padding: 0px;
        -moz-box-pack: center;
    }
}

.overwiew .wrapper .inner .item .bottom .button-wrapper span {
    color: rgb(82, 174, 49);
    display: block;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
    letter-spacing: -0.04ch;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    text-transform: none;
}

@media (max-width: 960px) {
    .overwiew .wrapper .inner .item .bottom .button-wrapper span {
        font-size: 14px;
        line-height: 20px;
    }
}

.overwiew .wrapper .inner .item .bottom .button-wrapper .spacer {
    width: 4px;
}
/* ENDE: Überblick (3 Infos) */