<div id="admin-restaurant">
    <div class="form-header">
        <div class="col"><h5>Grafiken</h5></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form>
                <div class="form-input">
                    <label class="form-label" placement="top" ngbTooltip="PNG/JPG und (500x500)">Logo</label>
                    <div class="input-group">
                        <img *ngIf="logoUrl$ | async" [src]="logoUrl$ | async" style="border-radius: 16px; width: 100%;">
                        <input type="file" accept="image/*" mozactionhint="send" autocomplete="off" capture=""
                               id="logo-file" class="file-input" #logo (change)="onChangeLogo($event)">
                        <label class="file-upload" for="logo-file">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                <polyline points="17 8 12 3 7 8"></polyline>
                                <line x1="12" y1="3" x2="12" y2="15"></line>
                            </svg>
                            <span>Datei auswählen...</span>
                        </label>
                    </div>
                    <button type="button" class="image-delete" *ngIf="hasLogo$ | async" placement="top"
                            ngbTooltip="Logo löschen" (click)="onRemoveLogo()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-trash-2">
                            <polyline points="3 6 5 6 21 6"></polyline>
                            <path
                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <form>
                <div class="form-input">
                    <label class="form-label" placement="top" ngbTooltip="PNG/JPG">Banner</label>
                    <div class="input-group">
                        <img *ngIf="bannerUrl$ | async" [src]="bannerUrl$ | async" style="border-radius: 16px; width: 100%;">
                        <input type="file" accept="image/*" mozactionhint="send" autocomplete="off" capture=""
                               id="banner-file" class="file-input" #banner (change)="onChangeBanner($event)">
                        <label class="file-upload" for="banner-file">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                <polyline points="17 8 12 3 7 8"></polyline>
                                <line x1="12" y1="3" x2="12" y2="15"></line>
                            </svg>
                            <span>Datei auswählen...</span>
                        </label>
                    </div>
                </div>
                <button type="button" class="image-delete" *ngIf="hasBanner$ | async" placement="top"
                        ngbTooltip="Banner löschen" (click)="onRemoveBanner()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-trash-2">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                        <line x1="10" y1="11" x2="10" y2="17"></line>
                        <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
