<block-ui delayStart="500">
    <div id="app">

        <div id="notice" class="warning" *ngIf="(initializationError$ | async) !== undefined"><p>Ein technischer Fehler ist aufgetreten. Bitte versuchen Sie es erneut bzw. kontaktieren Sie uns, wenn das Problem anhält.</p></div>
        <div id="notice" class="warning" *ngIf="(updateError$ | async) !== undefined"><p>{{(updateError$ | async)}}</p></div>

        <div id="backend" *ngIf="isInitialized$ | async">

            <section id="hero">
                <div class="wrapper">
                    <div class="inner">
                        <div class="inner-wrapper">
                            <div id="title">
                                <div class="col">
                                    <span>Verwaltung</span>
                                    <h1>{{(restaurant$ | async).name}}</h1>
                                </div>
                            </div>
                            <div id="links">
                                <div class="col">
                                    <ul class="nav-tabs">
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'general'" (click)="selectTab('general')">Allgemein</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'image'" (click)="selectTab('image')">Grafiken</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'order'" (click)="selectTab('order')">Bestellung</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'cuisines'" (click)="selectTab('cuisines')">Kategorien</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'payment'" (click)="selectTab('payment')">Bezahlung</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'opening-hours'" (click)="selectTab('opening-hours')">Öffnungszeiten</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'dishes'" (click)="selectTab('dishes')">Speisen</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="content">
                <div class="wrapper">
                    <div class="inner">
                        <div class="inner-wrapper">
                            <div>
                                <app-general-settings *ngIf="(selectedTab$ | async) === 'general'"></app-general-settings>
                                <app-image-settings *ngIf="(selectedTab$ | async) === 'image'"></app-image-settings>
                                <app-order-settings *ngIf="(selectedTab$ | async) === 'order'"></app-order-settings>
                                <app-payment-settings *ngIf="(selectedTab$ | async) === 'payment'"></app-payment-settings>
                                <app-opening-hours-settings *ngIf="(selectedTab$ | async) === 'opening-hours'"></app-opening-hours-settings>
                                <app-dish-management *ngIf="(selectedTab$ | async) === 'dishes'"></app-dish-management>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<!--                                &lt;!&ndash; START: Restaurantverwalter &ndash;&gt;-->
<!--                                <div class="form-header">-->
<!--                                    <div class="col"><h5>Restaurantverwalter</h5></div>-->
<!--                                    <div class="col-auto"></div>-->
<!--                                </div>-->
<!--                                <div id="table">-->
<!--                                    <table>-->
<!--                                        <thead>-->
<!--                                            <tr>-->
<!--                                                <th scope="col" style="min-width: 240px;">Name</th>-->
<!--                                                <th scope="col"></th>-->
<!--                                            </tr>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->
<!--                                            <tr *ngFor="let user of restaurant.administrators">-->
<!--                                                <th scope="row">-->
<!--                                                    <p class="email">{{user.email}}</p>-->
<!--                                                </th>-->
<!--                                                <td class="actions">-->
<!--                                                    <a (click)="removeUser(user)" class="action-item red" placement="top" ngbTooltip="Löschen"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a>-->
<!--                                                </td>-->
<!--                                            </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; /// &ndash;&gt;-->
<!--                                <div>-->
<!--                                    <div class="backend-input">-->
<!--                                        <table>-->
<!--                                            <tbody>-->
<!--                                                <tr>-->
<!--                                                    <td><input id="user" type="text" class="form-control" [(ngModel)]="userToBeAdded" [ngbTypeahead]="searchForUser" [inputFormatter]="formatUser" [resultFormatter]="formatUser" [editable]='false' /></td>-->
<!--                                                    <td><button class="text-link-small add-administrator" (click)="addSelectedUser()">+ Hinzufügen</button></td>-->
<!--                                                </tr>-->
<!--                                            </tbody>-->
<!--                                        </table>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; /// &ndash;&gt;-->

<!--                                &lt;!&ndash; ENDE: Restaurantverwalter &ndash;&gt;-->

<!--                                <hr class="divider">-->

        </div>
    </div>
</block-ui>
