<block-ui delayStart="500">
    <div id="app">

        <div id="notice" class="warning" *ngIf="(initializationError$ | async) !== undefined"><p>Ein technischer Fehler ist aufgetreten. Bitte versuchen Sie es erneut bzw. kontaktieren Sie uns, wenn das Problem anhält.</p></div>
        <div id="notice" class="warning" *ngIf="(updateError$ | async) !== undefined"><p>{{(updateError$ | async)}}</p></div>

        <div id="backend" *ngIf="isInitialized$ | async">

            <section id="hero">
                <div class="wrapper">
                    <div class="inner">
                        <div class="inner-wrapper">
                            <div id="title">
                                <div class="col">
                                    <span>Verwaltung</span>
                                    <h1>{{(restaurant$ | async).name}}</h1>
                                </div>
                            </div>
                            <div id="links">
                                <div class="col">
                                    <ul class="nav-tabs">
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'general'" (click)="selectTab('general')">Allgemein</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'image'" (click)="selectTab('image')">Grafiken</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'order'" (click)="selectTab('order')">Bestellung</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'payment'" (click)="selectTab('payment')">Bezahlung</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'opening-hours'" (click)="selectTab('opening-hours')">Öffnungszeiten</a></li>
                                        <li class="tab"><a [class.active]="(selectedTab$ | async) === 'dishes'" (click)="selectTab('dishes')">Speisen</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="content">
                <div class="wrapper">
                    <div class="inner">
                        <div class="inner-wrapper">
                            <div>
                                <app-general-settings *ngIf="(selectedTab$ | async) === 'general'"></app-general-settings>
                                <app-image-settings *ngIf="(selectedTab$ | async) === 'image'"></app-image-settings>
                                <app-order-settings *ngIf="(selectedTab$ | async) === 'order'"></app-order-settings>
                                <app-payment-settings *ngIf="(selectedTab$ | async) === 'payment'"></app-payment-settings>
                                <app-opening-hours-settings *ngIf="(selectedTab$ | async) === 'opening-hours'"></app-opening-hours-settings>
                                <app-dish-management *ngIf="(selectedTab$ | async) === 'dishes'"></app-dish-management>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</block-ui>
