<header
		data-aos="gm-move-down"
		data-aos-duration="500"
		data-aos-once="true"
		id="top-bar"
		>
    <div class="common-container">
		<nav class="sitenav">
			<a class="logo" [routerLink]="['/']"></a>
			<ul class="links">
				<!-- START: Benutzer abgemeldet -->
				<ng-container *ngIf="getUserEmail() === undefined">
					<a class="login" [routerLink]="['/login']">Anmelden</a>
				</ng-container>
				<!-- ENDE: Benutzer abgemeldet -->

				<!-- START: Benutzer angemeldet -->
				<ng-container *ngIf="getUserEmail() !== undefined">
					<ng-container *ngIf="isSystemAdmin()">
						<a class="login logged_in" [routerLink]="['/admin/restaurants']">Meine Restaurants</a>
					</ng-container>
					<ng-container *ngIf="isRestaurantAdmin()">
						<a class="login logged_in" [routerLink]="['/admin/myrestaurants']">Meine Restaurants</a>
					</ng-container>
				</ng-container>
				<!-- ENDE: Benutzer angemeldet -->

			</ul>
		</nav>
	</div>
</header>
