<header class="navbar" role="banner">
  <div class="navbar-container">
    <a class="brand-link" [routerLink]="['/']">
      <img class="gastromio-logo" src="" loadging="lazy" alt="">
    </a>
    <div class="navbar-button-wrapper">
      <a class="white-login-link" [routerLink]="['/login']">Anmelden</a>
      <a class="button-small" href="#!" target="_blank" rel="nofollow noreferrer noopener"><div>Registrieren</div></a>
    </div>
  </div>
</header>
<!--header class="top-bar" data-aos="gm-move-down" data-aos-duration="500" data-aos-once="true">
  <div class="common-container">
    <nav class="top-bar__nav">
      <a class="top-bar__logo" [routerLink]="['/']"></a>
      <ul class="top-bar__items">
        <ng-container *ngIf="getUserEmail() === undefined">
          <a class="top-bar__item" [routerLink]="['/login']">Anmelden</a>
        </ng-container>

        <ng-container *ngIf="getUserEmail() !== undefined">
          <ng-container *ngIf="isSystemAdmin()">
            <a
              class="top-bar__item settings"
              data-aos="gm-move-left"
              data-aos-duration="800"
              data-aos-delay="900"
              data-aos-once="true"
              [routerLink]="['/admin/users']"
              >Einstellungen</a
            >
          </ng-container>
          <ng-container *ngIf="isRestaurantAdmin()">
            <a
              class="top-bar__item settings"
              data-aos="gm-move-left"
              data-aos-duration="800"
              data-aos-delay="900"
              data-aos-once="true"
              [routerLink]="['/admin/myrestaurants']"
              >Einstellungen</a
            >
          </ng-container>
          <a
            class="top-bar__item settings"
            data-aos="gm-move-left"
            data-aos-duration="800"
            data-aos-delay="900"
            data-aos-once="true"
            [routerLink]="['/changepassword']"
            >Passwortänderung
          </a>
          <a class="top-bar__item" (click)="logout()">Abmelden</a>
        </ng-container>
      </ul>
    </nav>
  </div>
</header-->
