#top-bar {
    background-color: transparent;
	min-height: 90px;
    position: relative;
	transition: opacity 0.25s ease, transform 0.5s cubic-bezier(0.18, 0.8, 0.4, 1);
    z-index: 28;
}

#top-bar .sitenav {
	align-items: center;
	-moz-box-align: center;
	display: flex;
	justify-content: space-between;
	-moz-box-pack: justify;
	padding: 21px 0px;
}

#top-bar .sitenav .logo {
	display: block;
	height: 56px;
	margin: 0px 25px 0px 0px;
	padding: 5px 0px 10px;
	width: 200px;
	margin-top: -18px;
	margin-bottom: -18px;
	background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='294' height='73' stroke='none' stroke-linecap='round' stroke-linejoin='round' fill='%23fff' fill-rule='nonzero'%3E%3Cpath d='M43.7774 31.13c.4411-.2206.8823-.6617 1.1029-1.1029.4412-.4412.6618-.8824 1.1029-1.3236.2206-.4411.4412-1.1029.6618-1.5441 0-.4411 0-1.1029-.2206-1.5441s-.6618-.8823-1.1029-1.3235c-.2206-.2206-.4412-.2206-.6618-.2206s-.4412 0-.4412.2206c-.2206 0-.2206.2206-.4411.4412l-.4412.4411-.6618 1.3236-.6618 1.9853c-.2205.6617-.2205 1.3235 0 1.9853 0 .6617.4412 1.1029.8824 1.5441.2206-.4412.6617-.6618.8824-.8824zm7.0588 2.8677c-.2206 0-.4412.2206-.6618.4412s-.4412.4411-.4412.6617c-.2206.2206-.2206.4412-.4411.6618h0c-.4412.4412-.6618.8824-1.103 1.3235s-.6617.8824-.8823 1.3236l-2.8677 6.1764c.2206 0 .6618-.4411 1.103-.6617.4411-.4412.8823-.8824 1.5441-1.3236s1.1029-1.1029 1.7647-1.7647 1.103-1.3235 1.5441-2.2059c.4412-.6617.8824-1.5441 1.103-2.2058s.4411-1.5442.4411-2.2059c-.4411-.4412-.8823-.4412-1.1029-.2206z'/%3E%3Cpath d='M61.8656 3.9977c-3.0882-.4412-6.3971 0-8.8235 1.5441.2206.2206.4412.4412.8823.6617.2206.4412.4412.8824.8824 1.103.4412.4412.6617.8823.8823 1.1029s.4412.6618.4412 1.103 0 .6618-.2205.8823c-.2207 0-.6618 0-.8824-.2205s-.6618-.4412-.8824-.6618l-.8823-.8824-.8824-.8823c-.4412 0-.8823-.4412-1.3235-.8824s-.8824-.6618-1.1029-1.1029c-.4412-.2206-.6618-.4412-1.103-.8824-3.9706-2.8676-9.0441-4.4117-14.3382-3.5294-6.3971.8824-11.4706 4.8529-14.3383 10.1471-3.75-1.5442-7.9411-1.5442-11.6911.2206-6.6177 3.3088-9.2648 11.25-5.9559 17.8676C4.0715 32.6742 6.498 34.88 9.3656 35.983c1.3235.8823 2.8677 1.7647 4.6324 2.647-.2206-1.3235-.6618-5.7353-.8824-7.2794.2206-.2206.4412 0 .6618.6618.2206.8823.4411 1.7647.6617 3.0882l.6618 4.1912.6618 4.6324v.4411l3.9705 22.0589c.2207-.6618.8824-1.103 1.3236-1.5442.8823-.6617 1.7647-1.3235 2.6471-1.7647 1.9852-1.1029 3.9705-1.7647 5.9559-2.647 3.9705-1.5441 8.3823-2.6471 12.5735-3.3089s8.6029-1.1029 13.0147-.8823c2.2059 0 4.4118.2206 6.6176.6618 1.1029.2205 2.2059.4411 3.3088.8823l1.3236.6618-3.0882-26.4706c1.5441-1.5441 3.0882-3.0883 4.4117-4.6324 2.4265-1.9853 4.1912-4.8529 4.8529-8.1617C73.998 12.1594 69.145 5.3212 61.8656 3.9977zm-22.5 24.0441c.2206-.6618.2206-1.3235.4412-1.9853s.4412-1.103.8823-1.7647c.4412-.4412.6618-.8824 1.103-1.3235.6618-.4412 1.3235-.6618 1.9853-.6618s1.3235 0 1.9853.2206 1.1029.4412 1.5441.8823l1.103 1.103c.2205 0 .6617 0 .8823-.2206h.8823c.2206 0 .4412 0 .6618.2206s.4412.2206.4412.6618c-.2206.4411-.6618.6617-1.103.6617s-.8823.2206-1.3235.2206c0 .6618-.2206 1.3235-.4411 1.9853s-.4413 1.1029-.6618 1.5441c-.2206.2206-.2206.4412-.4412.6618l-.6618.6617-.6618.6618c-.2205.2206-.4411.4412-.6617.4412-.6617.4411-1.3235.6618-1.9853.6618s-1.3235 0-1.9853-.2207-1.1029-.6617-1.5441-1.1029-.6618-1.1029-.6618-1.7647c.2206-.2206.2206-.8824.2206-1.5441zm-13.0147 2.2059c.2206-.8824.4412-1.5442.8824-2.2059s.8823-1.3235 1.5441-1.9853 1.3235-1.103 1.9853-1.3235c.6617-.4412 1.3235-.6618 2.2058-.6618.6618-.2206 1.5442 0 2.2059.2206.2206 0 .4412.2206.6618.2206.2206.2206.2206.2206.2206.4411s0 .2207-.2206.4412-.4412.2206-.6618.2206h-1.1029c-.2206 0-.2206 0-.4412.2206-.2205 0-.4412.2206-.6618.4412s-.6617.4412-.8823.6618-.4412.4411-.6618.8823c-.2205.2206-.4411.6618-.6617.8823s-.4412.6618-.4412.8824c-.2206.4412-.2206.6618-.4412 1.103s-.2205.6617-.2205 1.1029v1.3235c0 .4412.2205.8824.4411 1.103.4412 0 .6618-.2206 1.103-.4412l1.3235-.6618c.4411-.2206.8824-.4411 1.1029-.6618s.6618-.4411.8824-.6617l.4412-.4412c0-.2206.2205-.4412.2205-.4412v-.4411c0-.2206.2206-.4412.2206-.4412l.4412-.4412h.6618c.2205 0 .4411 0 .6618.2206.2205 0 .4411.2206.4411.2206 0 .2206 0 .4412.2206.6618v1.7646c0 .2207-.4412 5.0736-.4412 5.5148 0 1.1029-2.647.4411-2.647-1.103v-2.4264c-.4412.2205-.6618.4411-1.103.6617s-.6618.4412-1.1029.6618-.6618.2206-1.103.4411h-1.5441c-.4412 0-.8823 0-1.1029-.2205-.4412-.2206-.6618-.2206-.8824-.4412s-.4411-.4412-.6617-.8824-.2206-.6617-.4412-1.3235c-.6618-1.5441-.6618-2.4265-.4412-3.0882zm27.1324 5.0735c0 .6618-.2206 1.5441-.4412 2.2059-.2206.8823-.4412 1.5441-.8823 2.2059s-.8824 1.5441-1.3236 1.9853c-1.103 1.5441-2.4264 2.8676-3.75 3.9706-1.5441 1.3235-3.0882 2.2058-5.0735 3.0882-.8824.4412-1.9853.6618-3.0883.8823s-2.2059.4412-3.3088.4412-2.2058-.2206-3.0882-.4412c-1.103-.2205-1.9853-.8823-2.6471-1.5441-1.3235-1.1029-2.2059-2.4264-2.8676-3.9706s-.8824-2.8676-.8824-4.4117 1.9853-2.4265 1.7647-1.103-.2206 2.4265 0 3.3089.6618 1.7646 1.3235 2.4264 1.3236 1.3236 2.2059 1.5441c.8824.4412 1.7647.6618 2.8677.8824s1.9853.2206 3.0882 0l3.0882-.6618c1.103-.4411 1.9854-.8823 2.6471-1.3235.2206-.6618.2206-1.3235.4412-1.9853 0-.6618.2206-1.1029.2206-1.5441s.2206-.8824.2206-1.3236.2205-.8823.4411-1.3235.4412-1.1029.6618-1.5441 1.3235-2.2059 1.5441-2.4265.4412-.4411.4412-.6617-1.7647 2.2058.4412-.6618 3.5294-2.4265 3.5294-2.4265c.6617.2206 1.103.4412 1.3235.8824.4412.4412.6618.8824.6618 1.5441.4412.4412.4412 1.103.4412 1.9853zm11.0294 24.4852l-2.8677-.6617-6.1764-.4412c-4.1912 0-8.3824.4412-12.5736.8824s-8.3823 1.1029-12.5734 2.2058c-1.9854.4412-4.1913 1.103-5.9559 1.9853-.8824.4412-1.9854.8824-2.8677 1.5442s-1.7647 1.3235-1.5441 2.4264 1.3235 1.5441 2.2059 1.9853 1.9852.6618 3.0882.8824c2.2059.2205 4.1911.4411 6.397.4411 4.1912 0 8.603-.6617 12.7941-1.3235s8.3825-1.5441 12.353-2.8676c1.9853-.6618 3.9706-1.3236 5.9559-2.2059.8823-.4412 1.7647-.8824 2.647-1.5441s1.3236-1.3236 1.3236-1.7647c-.4412-.6618-1.3236-1.3236-2.2059-1.5442zm36.4431-11.7917c-.8824 1.3235-2.4265 2.647-5.2941 2.647-5.2942 0-9.9265-3.75-9.9265-11.0294s4.853-11.0294 10.3677-11.0294c4.8529 0 7.9411 2.8676 9.0441 6.8382l-3.75.8824c-1.103-2.4265-2.6471-3.9706-5.2941-3.9706-3.5295 0-6.1765 2.2059-6.1765 7.2794 0 5.2941 2.647 7.2794 6.1765 7.2794 3.0882 0 4.6323-2.2059 4.8529-4.1912h-4.1912v-3.3088h7.9412v10.8088h-3.3088l-.4412-2.2058zm7.7207-9.0442c.4411-2.6471 2.647-4.4118 5.9558-4.4118 3.7501 0 6.6177 1.5441 6.6177 6.6176v9.2647h-3.0882l-.4412-1.9853c-1.103 1.3236-2.6471 2.2059-4.853 2.2059-2.647 0-4.6323-1.5441-4.6323-4.6323s2.6471-5.0736 6.6177-5.0736h2.647v-.6617c0-1.7647-1.3235-2.2059-2.647-2.2059-1.103 0-2.2059.4412-2.6471 1.7647l-3.5294-.8823zm5.0735 8.3823c1.7647 0 3.5294-1.1029 3.5294-3.3088v-.2206h-2.6471c-1.544 0-2.647.6618-2.647 1.9853.2206.8823.6618 1.5441 1.7647 1.5441zm21.1765-10.147l-2.2059 2.2059c-.6618-.8824-1.7648-1.3235-2.6471-1.3235-.6618 0-1.3236.4411-1.3236 1.3235 0 .6618.6618 1.1029 1.5442 1.5441 2.2058.8824 5.5147 1.5441 5.5147 4.853 0 2.8676-2.2059 5.2941-5.5147 5.2941s-5.5147-2.2059-6.1765-4.1912l3.0882-1.5441c.6618 1.5441 1.5441 2.647 3.0883 2.647 1.1029 0 1.9853-.4411 1.9853-1.7647s-1.9853-1.5441-3.9706-2.4264c-1.7647-.6618-3.0882-1.7647-3.0882-4.1912s1.9852-4.6324 5.0735-4.6324c1.7647-.4411 3.75.6618 4.6324 2.2059zm13.0146 12.7941c-.8823.4412-1.7647.6618-2.4264.6618-3.5295 0-5.7353-1.9853-5.7353-5.7353v-6.8382h-2.4265v-3.3088h2.4265v-3.9706l3.75-2.4265v6.3971h4.1912v3.3088h-4.1912v6.8382c0 1.9853.6617 2.4265 1.9853 2.4265.4411 0 .8823 0 1.5441-.4412l.8823 3.0882zm3.3088.4412V34.7793h3.75v2.4265c1.103-1.7647 2.8677-2.8677 4.6324-2.8677.6617 0 1.3235.2206 1.9853.2206l-.6618 3.5294c-.4411-.2206-.8824-.4412-1.5441-.4412-2.2059 0-4.1912 1.7647-4.1912 6.8383v5.5147h-3.9706zm19.853-15.8824c5.0736 0 7.9411 3.5294 7.9411 7.9412s-2.8675 7.9411-7.9411 7.9411-7.9412-3.5294-7.9412-7.9411 3.0882-7.9412 7.9412-7.9412zm0 12.7941c2.4265 0 3.9706-2.2059 3.9706-4.8529s-1.3236-4.853-3.9706-4.853c-2.4264 0-3.9706 2.2059-3.9706 4.853.2206 2.647 1.5442 4.8529 3.9706 4.8529zm20.7353 3.0882V40.0734c0-1.5441-.8823-2.2059-1.9852-2.2059-1.9854 0-3.3089 2.2059-3.3089 6.8382v5.7353h-3.75V34.7793h3.75v2.4264c1.103-1.7647 2.4265-2.647 4.4118-2.647s3.75.8823 4.4117 3.3088c1.103-1.9853 2.8677-3.3088 4.853-3.3088 2.8676 0 4.6324 1.7647 4.6324 4.8529V50.441h-3.75V40.0734c0-1.5441-.6618-2.2059-1.9854-2.2059-1.7646 0-3.3087 2.2059-3.3087 6.3971v5.9559h-3.9707zm18.9706-22.4999c1.3236 0 2.4265 1.1029 2.4265 2.4265s-1.1029 2.4264-2.4265 2.4264-2.4265-1.1029-2.4265-2.4264c-.2206-1.3236.8824-2.4265 2.4265-2.4265zm1.7647 6.8382v15.6618h-3.75V34.7793h3.75zm11.6911-.2206c5.0735 0 7.9411 3.5294 7.9411 7.9412s-2.8676 7.9411-7.9411 7.9411-7.9412-3.5294-7.9412-7.9411 2.8677-7.9412 7.9412-7.9412zm0 12.7941c2.4265 0 3.9706-2.2059 3.9706-4.8529s-1.3236-4.853-3.9706-4.853c-2.4265 0-3.9706 2.2059-3.9706 4.853s1.5441 4.8529 3.9706 4.8529zm13.8971-.6617a1.9853 1.9853 0 1 1 0 3.9706 1.9853 1.9853 0 1 1 0-3.9706zm12.5735-12.1323c1.9853 0 3.9706 1.1029 4.6324 2.2059v-8.1618h2.6471v21.8382h-2.6471v-1.9853c-.6618 1.103-2.6471 2.2059-4.6324 2.2059-4.6323 0-6.8382-3.3088-6.8382-7.9412s2.2059-8.1617 6.8382-8.1617zm.2206 13.6765c2.8677 0 4.4118-2.4265 4.4118-5.7353s-1.7647-5.7353-4.4118-5.7353-4.4118 2.4264-4.4118 5.7353 1.7648 5.7353 4.4118 5.7353zm25.1471-5.0737h-11.4705c.2205 2.8677 1.5441 5.0736 4.4117 5.0736 2.2059 0 3.5294-1.103 4.4118-2.8677l2.2059.8824c-1.5441 3.0882-3.3089 4.4118-6.6177 4.4118-4.6323 0-7.0588-3.9706-7.0588-7.9412 0-4.1912 2.2059-7.9412 7.0588-7.9412 4.6323 0 7.0588 3.5294 7.0588 7.2794v1.1029zm-11.25-2.4264h8.603c-.4412-2.2059-1.7647-3.9706-4.4118-3.9706-2.4264.2206-3.75 1.7647-4.1912 3.9706z'/%3E%3C/svg%3E") no-repeat scroll 0px 5px / 100%;
}

@media only screen and (max-width: 768px) {
	#top-bar .sitenav .logo {
		width: 170px;
	}
}

#top-bar .sitenav .links {
	align-items: flex-end;
	-moz-box-align: flex-end;
	display: flex;
	flex: 1 1 0%;
	justify-content: flex-end;
	-moz-box-pack: justify;
	width: 100%;
	margin: 0px;
}

#top-bar .sitenav .links .login {
	appearance: none;
	border: 0px none;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	height: 40px;
	line-height: 40px;
	outline: currentcolor none 0px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	vertical-align: middle;
}


#top-bar .links ul {
	background-color: #DEFC80;
    background-image:url('../../../../assets/images/rough/yellow.png');;
    background-repeat: repeat;
	border-radius: 23px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 25px 0px, rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
	left: -6px;
	list-style: outside none none;
	margin: 0px;
	min-width: 255px;
	padding: 0px;
	pointer-events: visible;
	position: absolute;
	top: 38px;
	transition: transform 0.2s ease;
	will-change: opacity, transform;
	z-index: 160;
}

@media screen and (max-width: 768px) {
	#top-bar .links ul {
		left: -140px !important;
	}
}

#top-bar .links ul li {
	display: list-item;
	opacity: 0.85;
	transition: opacity 0.2s ease-in 0s;
	will-change: opacity;
}

#top-bar .links ul li:hover {
	opacity: 1;
}

#top-bar .links ul li:first-child a {
	padding-top: 22px;
}

#top-bar .links ul li:last-child a {
	padding-bottom: 22px;
}

#top-bar .links ul li a {
	align-items: center;
	-moz-box-align: center;
	color: #363636;
	font-family: "Apercu", sans-serif;
	display: flex;
	padding: 8px 24px;
	transition: all 0.15s ease-in-out 0s;
	width: 100%;
}

#top-bar .links ul li a strong {
	color: #363636;
	display: block;
	font-size: 16px;
	font-weight: 500;
}

#top-bar .links ul li a p {
	font-size: 14px;
	line-height: 1.5;
	margin: 0px;
}