<block-ui>
    <div class="modals" aria-labelledby="Cuisine löschen" role="dialog" aria-modal="true">
        <div class="modal-wrapper">
            <div
            class="modal-background"
            data-aos="gm-ease"
            data-aos-duration="500"
            data-aos-once="true"
            ></div>
            <!--  This element is to trick the browser into centering the modal contents.  -->
            <span class="center-modal" aria-hidden="true">&#8203;</span>
            <div
            class="modal-content"
            data-aos="gm-move-up"
            data-aos-delay="300"
            data-aos-duration="800"
            data-aos-once="true"
            >
                <form [formGroup]="addCuisineForm" (ngSubmit)="onSubmit(addCuisineForm.value)">
                    <div class="modal-body">
                        <div class="modal-body-flex">
                            <div class="modal-body-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
                                </svg>
                            </div>
                            <div class="modal-body-text">
                                <h3>Cuisine anlegen</h3>
                                <p>Lege eine Cuisine an und ordne Restaurants dieser Cusine zu, sodass Kunden nach dieser filtern können. </p>
                                <p class="help-text" *ngIf="(message$ | async) !== undefined">{{(message$ | async)}}</p>
                                <p class="help-text" *ngIf="submitted && f.name.errors"><span *ngIf="f.name.errors.required">Bitte gebe einen Namen für die Cuisine an.</span></p>
                                <input style="margin-top: 12px;" class="input-group" type="text" mozactionhint="send" autocapitalize="sentences" autocomplete="off" inputmode="latin" maxlength="40" minlength="3" required="" spellcheck="true" id="name" placeholder="Name der Cuisine" formControlName="name" ngbAutofocus [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            </div>
                        </div>
                    </div>
                    <div class="modal-actions">
                        <button class="submit" type="submit">Hinzufügen</button>
                        <button class="cancel" type="button" (click)="activeModal.dismiss('Cross click')">Abbrechen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block-ui>
