<div id="modal">
    <div class="wrapper">
        <div class="inner">

            <header id="header">
                <h1 class="modal-name">&nbsp;</h1>
                <div class="close"><button type="button" (click)="onCancel()" aria-label="Close"><span><svg height="24" width="24" viewBox="0 0 24 24"><path d="M12.0001 10.2322L5.88398 4.11612L4.11621 5.88389L10.2323 12L4.11621 18.1161L5.88398 19.8839L12.0001 13.7678L18.1162 19.8839L19.884 18.1161L13.7679 12L19.884 5.88389L18.1162 4.11612L12.0001 10.2322Z"></path></svg></span></button></div>
            </header>

            <div id="options">
                <div class="wrapper">
                    <section>
                        <h1 class="dish-name">{{cartDish.getDish().name}}</h1>
                        <p class="dish-description">{{cartDish.getDish().description}}</p>
                    </section>
                    <section *ngIf="cartDish.getDish().variants.length == 1" style="margin-top: 30px">
                        <div id="count">
                            <div class="wrapper">
                                <button type="button" class="decrease" (click)="incCount()">+</button>
                                <span class="dish-count"><span>{{count}}</span></span>
                                <button type="button" class="increase" (click)="decCount()">-</button>
                            </div>
                        </div>
                    </section>
                    <section *ngIf="cartDish.getDish().variants.length > 1"  style="margin-top: 30px">
                        <div class="count-wrapper">
                            <div id="variant">
                                <select>
                                    <option>{{cartDish.getVariant().name}}</option>
                                </select>
                            </div>
                            <div id="count">
                                <div class="wrapper">
                                    <button type="button" class="decrease" (click)="incCount()">+</button>
                                    <span class="dish-count"><span>{{count}}</span></span>
                                    <button type="button" class="increase" (click)="decCount()">-</button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="remarks">
                        <input type="text" mozactionhint="send" autocomplete="off" autocapitalize="off" spellcheck="true" placeholder="Anmerkung hinzufügen ..." [(ngModel)]="remarks">
                    </section>
                </div>
            </div>

            <footer id="footer">
                <div class="wrapper">
                    <div class="inner">
                        <span class="add">
                            <span class="inner">
                                <button type="button" (click)="onSubmit()"><span>Speichern {{getVariantPrice(cartDish.getVariant())}}</span></button>
                            </span>
                        </span>
                        <span class="cancel">
                            <span class="inner">
                                <button type="button" (click)="onRemove()"><span>Entfernen</span></button>
                            </span>
                        </span>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</div>