<div class="container no-header">
    <div class="row">
        <div class="col">
            <div class="setting-title">
                <h1>Zahlungsmethodenverwaltung</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <!--input class="form-control" type="search" placeholder="Nach Cuisines suchen" aria-label="Search"-->
        </div>
        <div class="col-6 col-md-4">
            <button class="button-add" id="addPaymentMethod" (click)="openAddPaymentMethodForm()">Zahlungsmethode hinzufügen</button>
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
            <div class="restaurants mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="SearchTableTitle">Name</th>
                            <th class="SearchTableTitle">Beschreibung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paymentMethod of paymentMethods | async" class="payment-method">
                            <td>{{paymentMethod.name}}</td>
                            <td>{{paymentMethod.description}}</td>
                            <td>
                                <div class="float-right">
                                    <button class="btn btn-secondary btn-sm m-1" (click)="openChangePaymentMethodForm(paymentMethod)"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger btn-sm m-1" (click)="openRemovePaymentMethodForm(paymentMethod)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>