.Setting-Section-Title {
  font-family: bilo, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  line-height: 1.14;
}

  .Setting-Section-Title h1 {
    font-size: 35px;
    margin-bottom: 12px;
    color: #0a3847
  }

.Search {
  clear: both;
  font-size: 14px;
  display: flex;
  position: relative;
  text-align: left;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25)
}

.SearchContainer {
  flex-grow: 1
}

.SearchInput {
  font-weight: 500;
  background-color: #fff;
  font-size: 15px;
  width: 100%;
  -webkit-appearance: none;
  height: 40px;
  border-radius: 2px 0 0 2px;
  padding: 0 1rem 0 1.7rem;
  outline: none;
  vertical-align: baseline;
  border: 0
}

.SearchTableTitle {
  font-family: bilo, sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #0a3847
}

.SettingAddButton {
  background-color: #218838;
  color: #fff;
  font-weight: 500;
  user-select: none;
  padding: 0 16px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 1.5;
  font-size: 17px;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
