@font-face {
    font-family: fontello;
    src: url(../../assets/fonts/fontello/fontello.eot);
    src: url(../../assets/fonts/fontello/fontello.eot#iefix) format("embedded-opentype"), url(../../assets/fonts/fontello/fontello.woff2) format("woff2"), url(../../assets/fonts/fontello/fontello.woff) format("woff"), url(../../assets/fonts/fontello/fontello.ttf) format("truetype"), url(../../assets/fonts/fontello/fontello.svg#fontello) format("svg");
    font-weight: 400;
    font-style: normal
}

.no-header {
    padding-top: 20px
}

.setting-title h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.14;
    color: #0a3847;
    margin-bottom: 12px;
}

.button-add {
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: proxima-nova, sans-serif;
    user-select: none;
    padding: 0 16px;
    border-radius: 3px;
    display: inline-block;
    background-color: #52AE31;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 0;
}

.restaurant {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #ebebeb;
    margin: 10px;
    min-height: 7em;
}

.restaurant .restaurant-logo-wrapper {
    flex: 0 0 98px;
    text-align: center;
    border-right: 1px solid #ebebeb;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative
}

@media (min-width: 570px) {
    .restaurant .restaurant-logo-wrapper {
        flex: 0 0 118px
    }
}

@media (min-width: 1004px) {
    .restaurant .restaurant-logo-wrapper {
        flex: 0 0 138px;
    }
}

.restaurant .restaurant-logo {
    z-index: 1;
    max-width: 120px;
    text-align: left;
    font-size: 12px;
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translateY(-50%);
    margin: auto;
    left: 0;
    right: 0
}

.restaurant .restaurant-logo img {
    width: 100%;
    max-height: 80px;
    height: auto;
    vertical-align: middle
}

.restaurant .restaurant-info-wrapper {
    flex: 1;
    min-height: 120px;
    line-height: 1.7;
    font-size: 15px;
    padding: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.restaurant .restaurantname {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    padding: 0;
    color: #0a3847;
    font-size: 18px;
    line-height: 22px;
    max-height: 66px;
    overflow: hidden;
    margin: 0 8px 0 0
}

.restaurant .restaurant-info-wrapper .restaurantbeschreibung {
    line-height: 22px;
    font-weight: 300;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 8px 4px 0;
    color: #666
}

@media (min-width: 570px) {
  .restaurant .restaurant-info-wrapper .restaurantbeschreibung {
    margin: 0 0 8px
  }
}

.restaurant .bottom-wrapper {
    line-height: 12px;
    display: flex;
    margin-top: auto;
}

@media (min-width: 570px) {
    .restaurant .bottom-wrapper {
        line-height: 16px
    }
}

.restaurant .restaurant-info-wrapper .details {
    font-size: 12px;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 3px
}

@media (min-width: 570px) {
    .restaurant .restaurant-info-wrapper .details {
      margin-bottom: 6px
    }
}

.restaurant .restaurant-info-wrapper .details .delivery {
    width: 100%;
    line-height: 18px;
    font-family: roboto-slab, Arial, sans-serif;
    font-weight: 300;
    color: #666;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.restaurant .restaurant-info-wrapper .details .delivery div {
    margin-right: 8px
}

@media (min-width: 1004px) {
    .restaurant .restaurant-info-wrapper .details .delivery div {
      margin-right: 16px
    }
}

.restaurant .restaurant-info-wrapper .details .delivery.hidden {
    display: none
}

.restaurant .restaurant-info-wrapper .details .delivery .edit-restaurant-settings {
    cursor: pointer;
    outline: 0;
    color: #1574f5;
    text-decoration: none;
}