.no-header {
    padding-top: 20px
}

.restaurant {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    min-height: 7em;
    padding: 2px;
    position: relative;
}

.restaurant:hover {
    border: 2px solid #518f25;
    transition: all .4s cubic-bezier(.165, .84, .44, 1);
}

.restaurant .restaurant-logo-wrapper {
    border-right: 1px solid #ccc;
    display: flex;
    flex: 0 0 98px;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;
    position: relative;
    text-align: center;
}

@media (min-width: 570px) {
    .restaurant .restaurant-logo-wrapper {
        flex: 0 0 118px
    }
}

@media (min-width: 1004px) {
    .restaurant .restaurant-logo-wrapper {
        flex: 0 0 138px;
    }
}

.restaurant .restaurant-logo {
    font-size: 12px;
    left: 0;
    margin: auto;
    max-width: 120px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}

.restaurant .restaurant-logo img {
    height: auto;
    max-height: 80px;
    vertical-align: middle;
    width: 100%;
}

.restaurant .restaurant-info-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 15px;
    line-height: 1.7;
    min-height: 120px;
    overflow: hidden;
    padding: 8px 0px 0px 8px;
}

.restaurant .restaurantname {
    color: rgb(23, 32, 38);
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0px 8px 0px 0px;
    max-height: 66px;
    overflow: hidden;
    padding: 0px; 
}

.restaurant .restaurant-info-wrapper .restaurantbeschreibung {
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 0px 8px 4px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

@media (min-width: 570px) {
    .restaurant .restaurant-info-wrapper .restaurantbeschreibung {
        margin: 0px 0px 8px
    }
}

.restaurant .bottom-wrapper {
    display: flex;
    line-height: 12px;
    margin-top: auto;
}

@media (min-width: 570px) {
    .restaurant .bottom-wrapper {
        line-height: 16px
    }
}

.restaurant .restaurant-info-wrapper .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: space-between;
    line-height: 2em;
    margin-bottom: 3px
}

@media (min-width: 570px) {
    .restaurant .restaurant-info-wrapper .details {
        margin-bottom: 6px
    }
}

.restaurant .restaurant-info-wrapper .details .settings {
    color: #666;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    line-height: 18px;
    width: 100%;
}

.restaurant .restaurant-info-wrapper .details .settings div {
    margin-right: 8px
}

@media (min-width: 1004px) {
    .restaurant .restaurant-info-wrapper .details .settings div {
        margin-right: 16px
    }
}

.restaurant .restaurant-info-wrapper .details .settings .edit {
    color: rgb(0, 108, 187);
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}

.restaurant .restaurant-info-wrapper .details .settings .delete {
  color: #b44448;
  cursor: pointer;
  opacity: 0.7;
  outline: 0;
  text-decoration: none;
}