<block-ui>
    <div id="app">
        <div id="backend">
    
            <div id="notice" class="warning" *ngIf="error !== undefined">
                <p>{{error}}</p>
            </div>
    
            <section id="hero">
                <div class="wrapper">
                    <div class="inner">
                        <div class="inner-wrapper">
                            <div id="title">
                                <div class="col">
                                    <span>Administration</span>
                                    <h1>Restaurantimport</h1>
                                </div>
                            </div>
                            <div id="links">
                                <div class="col">
                                    <ul class="nav-tabs">
                                        <li class="tab"><a [routerLink]="['/admin/users']">Benutzer verwalten</a></li>
                                        <li class="tab"><a [routerLink]="['/admin/cuisines']">Cuisines verwalten</a></li>
                                        <li class="tab"><a [routerLink]="['/admin/restaurants']">Restaurants verwalten</a></li>
                                        <li class="tab"><a [routerLink]="['/admin/dishimport']">Speisenimport</a></li>
                                        <li class="tab"><a [routerLink]="['/admin/restaurantimport']" class="active">Restaurantimport</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <div class="waypointable" tabindex="-1">
                <div id="management">
                    <div class="inner">
                        <div class="row">
                            <div class="col p-2">
                                <div id="form" style="margin-top: -12px;">
                                    <form>
                                        <div class="backend-input">
                                            <label for="restaurant-import">Importdatei auswählen</label>
                                            <input type="file" id="restaurant-import"
                                                   (change)="handleRestaurantImportFileInput($event.target)">
                                        </div>
                                        <div class="inline-button-wrap">
                                            <button (click)="onSimulateRestaurants()">Simulieren</button>
                                            <button (click)="onImportRestaurants()">Importieren</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                        <div class="row" *ngIf="logLines !== undefined">
                            <div class="col p-2">
                                <div class="restaurants mt-3">
                                    <table class="table" role="grid">
                                        <thead>
                                        <tr role="row">
                                            <th rowspan="1" colspan="1">Zeit</th>
                                            <th rowspan="1" colspan="1">Zeile</th>
                                            <th rowspan="1" colspan="1">Meldung</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" *ngFor="let line of logLines"
                                            [style.color]="getColorForLogLineType(line.type)">
                                            <td>{{line.timestamp}}</td>
                                            <td>{{line.rowIndex}}</td>
                                            <td>{{line.message}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div>
</block-ui>