/* -------------------------------- 

File#: _1_notice
Title: Notice 
Descr: Modeless notice banner, visible by default
Usage: codyhouse.co/license

-------------------------------- */

.notice {
    position: fixed;
    bottom: var(--space-md);
    width: 100%;
    pointer-events: none;
    z-index: var(--zindex-fixed-element);
  }
  
  .notice__banner {
    pointer-events: auto;
  }
  
  .notice__close-btn {
    display: flex;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: alpha(var(--color-contrast-higher), 0.85);
    color: var(--color-bg);
    transition: .2s;
  
    &:hover {
      background-color: var(--color-contrast-higher);
    }
  }
  
  .notice--hide {
    opacity: 0;
    visibility: hidden;
  }
  
  @media screen and (prefers-reduced-motion: no-preference) {
    .notice {
      transition: opacity .3s, visibility 0s .3s;
    }
  
    .notice__banner {
      transition: transform .3s;
    }
  
    .notice--hide {
      .notice__banner {
        transform: translateY(20px);
      }
    }
  }
  
  // --v2
  .notice--v2 {
    bottom: 0;
  }