<section id="main" role="main">
    <div class="focusing-outlet" tabindex="-1" role="group">
        <div id="sys-admin">

            <div id="nav">
                <div class="bar">
                    <div class="bar-inner">
                        <ul class="links" role="navigation">
                            <li><a class="text-link" [routerLink]="['/admin/users']">Benutzer verwalten</a></li>
                            <li><a class="text-link active" href="javascript:void(0)">Cuisines verwalten</a></li>
                            <li><a class="text-link" [routerLink]="['/admin/restaurants']">Restaurants verwalten</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="hero">
                <div class="inner">
                    <h2 class="page-title" tabindex="-1">Cuisineverwaltung</h2>
                    <div class="page-description">Bearbeite Cuisines und/oder füge neue hinzu</div>
                </div>
            </div>

            <div class="waypointable" tabindex="-1">
                <div id="cuisine-management">
                    <div class="inner">
                        <div class="row">
                            <div class="col">
                                <input class="form-control filter" type="search" placeholder="Einträge durchsuchen" aria-label="Search">
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col">
                                <a class="text-link" id="addCuisine" (click)="openAddCuisineForm()">+ Cuisine hinzufügen</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2">
                                <div class="restaurants mt-3">
                                    <table class="table" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th rowspan="1" colspan="1">Name</th>
                                                <th class="actions" rowspan="1" colspan="1">Aktionen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" *ngFor="let cuisine of cuisines | async" class="cuisine">
                                                <td>{{cuisine.name}}</td>
                                                <td class="actions">
                                                    <a class="edit" (click)="openChangeCuisineForm(cuisine)" placement="left" ngbTooltip="Bearbeiten"><i class="fas fa-edit"></i></a>
                                                    <a class="delete" (click)="openRemoveCuisineForm(cuisine)" placement="left" ngbTooltip="Löschen"><i class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
