<div class="setting-modal">
    <div class="setting-content">
        <div class="setting-header">
            PASSWORT ÄNDERN
            <!--span class="setting-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></span-->
        </div>
        <div class="setting-form">
            <div class="tab tab-setting">
                <form class="setting-form" [formGroup]="changeUserPasswordForm" (ngSubmit)="onSubmit(changeUserPasswordForm.value)">
                    <div class="form-notification" *ngIf="message !== undefined">{{message}}</div>
                    <div class="form-setting">
                        <div class="input">
                            <input id="password" type="password" formControlName="password">
                            <label for="email">Neues Passwort</label>
                        </div>
                        <div class="input">
                            <input id="passwordRepeat" type="password" formControlName="passwordRepeat">
                            <label for="email">Passwort wiederholen</label>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button-submit" type="submit">Ändern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>