<div id="root">
    <div class="layout">
        <div id="confirmation">
            <div class="text">
                <span>
                    <span class="top">Vielen Dank für Deine Bestellung!</span><br />
                    <span class="middle">Deine Bestellung wurde übermittelt!<br />Eine Bestellübersicht wurde an deine hinterlegte E-Mail-Adresse gesendet.</span><br />
                    <span class="bottom">Das Gastromio-Team wünschen Euch einen Guten Appetit!</span>
                </span>
                <button [routerLink]="['/']" target="_blank">Zurück zur Startseite ...</button>
            </div>
        </div>
    </div>
</div>
