<block-ui [delayStart]="0">
<div *ngIf="initialized" id="root">
    <div class="layout">
        <div  id="confirmation">
            <div  class="text">
                <span *ngIf="!order" >
                    <span class="top">Eine neu abgesendete {{getOrderTypeText()}} liegt aktuell nicht vor!</span><br />
                </span>
                <span *ngIf="order">
                    <span class="top">Vielen Dank für Deine {{getOrderTypeText()}}!</span><br />
                    <span class="middle">Deine {{getOrderTypeText()}} wurde übermittelt!<br />Eine Zusammenfassung Deiner {{getOrderTypeText()}} wurde an Deine hinterlegte E-Mail-Adresse gesendet.</span><br />
                    <span class="bottom">Das Gastromio-Team wünscht Euch einen Guten Appetit!</span>
                </span>
                <button [routerLink]="['/']" target="_blank">Zurück zur Startseite ...</button>
            </div>
        </div>
    </div>
</div>
</block-ui>
