/* #chekout */
#checkout {
    align-items: stretch;
    background: var(--bg-rough-blue);
    display: flex;
    font-family: var(--sans);
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 48px;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    #checkout {
        flex-wrap: wrap-reverse;
    }
}

/* #checkout > header */
.checkout-header {
    background: var(--bg-rough-blue);
    margin-top: -90px;
    padding-bottom: 42px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}

.checkout-header h1 {
    color: var(--grey);
    font-family: var(--sans);
    font-size: 52px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    text-align: center;
}

.checkout-header h2 {
    color: var(--grey);
    font-family: var(--sans);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 32px;
    text-align: center;
}

.checkout-header h3 {
    color: var(--grey);
    font-family: var(--sans);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 24px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #checkout header h1 {
        font-size: 48px;
        line-height: 56px;
    }
    #checkout header h2 {
        font-size: 24px;
        line-height: 28px;
    }
}

/* #checkout > #body */
#checkout #body {
    padding: 0px 40px;
    padding-left: 40px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #checkout #body {
        padding: 0px 16px;
    }
}

@media only screen and (max-width: 992px) {
    #checkout #body.info {
        margin-top: 48px;
    }
}

#checkout > div:first-child {
    flex: 1 1 auto;
    width: calc(100% - 35vw);
}

@media only screen and (max-width: 992px) {
    #checkout > div:first-child {
        width: 100%;
    }
}

/* #checkout > #body > #infocard */
#checkout #body #infocard {
    background-color: var(--blue);
    border-radius: 23px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 100%;
}

#checkout #body #infocard .title {
    color: var(--grey);
    font-family: var(--sans);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
}

#checkout #body #infocard .subtitle {
    color: var(--grey);
    font-family: var(--sans);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    margin-bottom: 20px;
    text-align: left;
}

#checkout #body #infocard label {
    color: #333;
    font-family: "Apercu", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: -4px;
    margin-left: 9px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#checkout #body #infocard input {
    background-color: var(--white);
    border: 0px;
    border-radius: 23px;
    color: #363636;
    font-family: "Apercu", sans-serif;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 46px;
    letter-spacing: 0px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-overflow: ellipsis;
    width: 100%;
}

#checkout #body #infocard input:disabled {
    background-color: #adb5bd;
}

#checkout #body #infocard input::placeholder {
    color: #94918E;
}

#checkout #body #infocard .vorname-nachname {
    display: inline-flex;
    width: 100%;
}

#checkout #body #infocard .vorname-nachname .vorname {
    margin-right: 20px;
    width: 50%;
}

#checkout #body #infocard .vorname-nachname .nachname {
    width: 50%;
}

#checkout #body #infocard .plz-city {
    display: inline-flex;
    width: 100%;
}

#checkout #body #infocard .plz-city .plz {
    margin-right: 20px;
    width: 33.333%;
}

#checkout #body #infocard .plz-city .city {
    width: 77.777%;
}

#checkout #body #infocard .invalid-feedback {
    color: darkred;
    display: block;
    font-family: var(--sans);
    font-size: 14px;
    font-weight: 400;
    margin-left: 9px;
}

#checkout #body #cart .invalid-feedback {
    color: darkred;
    display: block;
    font-family: var(--sans);
    font-size: 14px;
    font-weight: 400;
    margin-left: 9px;
}

#checkout #body #infocard button.pill {
    background-color: var(--blue);
    border: 2px solid var(--white);
    border-radius: 23px;
    color: var(--grey);
    font-family: var(--sans);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.33px;
    height: 42px;
    margin-bottom: 10px;
    padding-left: 48px;
    width: 100%;
    text-align: left;
    transition: all .4s ease;
}

#checkout #body #infocard button.pill:disabled {
    background-color: #ADB5BD !important;
    border-color: #ADB5BD;
    cursor: not-allowed;
}

#checkout #body #infocard button.pill:hover {
    background-color: var(--white);
}

#checkout #body #infocard button.pill::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M15.167 28.367c-7.333 0-13.2-5.867-13.2-13.2s5.867-13.2 13.2-13.2 13.2 5.867 13.2 13.2-5.867 13.2-13.2 13.2zm0-27.867A14.625 14.625 0 0 0 .5 15.167c0 8.134 6.533 14.667 14.667 14.667a14.625 14.625 0 0 0 14.667-14.667C29.834 7.033 23.301.5 15.167.5z' stroke='none' fill='%23363636' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: " ";
    height: 22px;
	width: 22px;
	position: absolute;
	left: 40px;
	margin-top: -1.5px;
}

#checkout #body #infocard button.pill.active {
    background-color: var(--white);
}

#checkout #body #infocard button.pill.active:hover {
    background-color: var(--blue);
}

#checkout #body #infocard button.pill.active::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M19.7 11.034c.267-.267.667-.4 1.067-.133.267.267.4.667.133 1.067l-5.867 7.333c-.133.133-.267.267-.533.267-.133 0-.4-.133-.533-.267l-3.6-3.6c-.267-.267-.267-.8 0-1.067s.8-.267 1.067 0l3.067 3.067 5.2-6.667zm-4.533-9.067c-7.333 0-13.2 5.867-13.2 13.2s5.867 13.2 13.2 13.2 13.2-5.867 13.2-13.2-5.867-13.2-13.2-13.2zm0-1.467a14.625 14.625 0 0 1 14.667 14.667c0 8.134-6.533 14.667-14.667 14.667A14.625 14.625 0 0 1 .5 15.167C.5 7.033 7.033.5 15.167.5z' stroke='none' fill='%23363636' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: " ";
    height: 22px;
	width: 22px;
	position: absolute;
	left: 40px;
	margin-top: -1.5px;
}

#checkout #body .confirm-purchase {
    background-color: var(--grey);
    border-radius: 23px;
    color: var(--white);
    font-family: var(--sans);
    font-size: 16px;
    font-weight: 700;
    height: 46px;
    letter-spacing: 0px;
    line-height: 26px;
    margin-top: 20px;
    padding: 11px;
    margin-left: 76px;
    margin-right: 76px;
    text-align: center;
    width: calc(100% - 152px);
}

#checkout #body .confirm-purchase:disabled {
    background-color: #ADB5BD;
    border-color: #ADB5BD;
    cursor: not-allowed;
}

@media only screen and (max-width: 992px) {
    #checkout #body .confirm-purchase {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
    }
}

/* #checkout > #body > #disclaimer */
#checkout #body #disclaimer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    max-width: 470px;
    position: relative;
}

#checkout #body #disclaimer p {
    color: var(--grey);
    font-family: var(--sans);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 22px;
    text-align: left;
}

#checkout #body #disclaimer p a {
    font-weight: 500;
    text-align: left;
    text-decoration: underline;
}

#fp-alert {
    align-items: center;
    background-color: #ADCCCB;
    background-image: url('../../../../assets/images/rough/blue.png');
    background-repeat: repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: -72px;
    padding: 16px;
    position: relative;
    width: 100%;
}

#fp-alert p {
    color: #363636;
    font-family: "Apercu", sans-serif;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}