<section class="login-modal">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <div class="modal-top">
            <h4 class="login-title">Anmelden</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-area">
                <label for="username">Benutzername</label>
                <div class="form-input">
                    <input id="username" class="--input" type="text" formControlName="username" ngbAutofocus>
                </div>
            </div>
            <div class="form-area">
                <label for="password">Passwort</label>
                <div class="form-input">
                    <input id="password" class="--input" type="password" formControlName="password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <p class="error" *ngIf="message !== undefined">{{message}}</p>
            <button class="button-submit" type="submit">Einloggen</button>
        </div>
    </form>
</section>
<!--form-- class="" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
    <div class="LoginPage-container">
        <div class="LoginPage-menu">
            <h4 class="login-title login-title-active">Einloggen</h4>
        </div>
        <div class="login-content">
            <div class="login-root">
                <div class="login-formContainer">
                    <div class="login-formInput">
                        <div class="FormFieldComponentContainer">
                            <div class="InputWrapper FormInput">
                                <input class="InputField" id="username" type="text" formControlName="username" required="" ngbAutofocus>
                                <label class="InputPlaceholder" for="username">Benutzername</label>
                            </div>
                        </div>
                    </div>
                    <div class="login-formInput">
                        <div class="FormFieldComponentContainer">
                            <div class="InputWrapper FormInput">
                                <input class="InputField" id="password" type="password" formControlName="password" required="">
                                <label class="InputPlaceholder" for="password">Passwort</label>
                            </div>
                        </div>
                    </div>
                    <button class="Button Button-Primary SubmitLogin" type="submit">Einloggen</button>
                </div>
            </div>
        </div>
        </div>
    </!--form-->
