<div class="modal-overlay">
  <block-ui>
    <div class="modal-wrapper--window small">
      <div class="modal--window">
                <span class="close-button">
                    <img src="../../assets/img/icons/close-icon.svg" alt=""
                         (click)="activeModal.dismiss('Cross click')">
                </span>
        <div class="modal--window__body">
          <div class="auth-wrapper">
            <div>
              <h2 class="title mt-0 mb-4">Anmelden oder Registrieren</h2>
              <!-- Social Logins wie Facebook o.ä. -->
              <div class="divider">&nbsp;</div>


              <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                <div class="form-item">
                  <div class="form-item__content">

                    <div id="login-email" class="text-field first">
                      <img class="text-field__icon" src="../../assets/img/icons/login/letter.svg"/>
                      <div class="text-field__input">
                        <input class="input__inner" id="username" type="text" placeholder="Benutzername"
                               formControlName="Username" autocomplete="off" ngbAutofocus/>
                        <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                          <div *ngIf="f.Username.errors.backend">{{f.name.errors.backend}}</div>
                          <div *ngIf="f.Username.errors.required">Benutzername wird benötigt.</div>
                        </div>
                      </div>
                    </div>

                    <div id="login-password" class="text-field">
                      <img class="text-field__icon" src="../../assets/img/icons/login/lock.svg"/>
                      <div class="text-field__input">
                        <input class="input__inner" id="password" type="password" placeholder="Passwort"
                               formControlName="Password" autocomplete="off"/>
                        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                          <div *ngIf="f.Password.errors.backend">{{f.name.errors.backend}}</div>
                          <div *ngIf="f.Password.errors.required">Name wird benötigt.</div>
                        </div>
                      </div>
                    </div>

                    <div class="password-forgotten"><a class="link" href="#!">Passwort vergessen?</a></div>

                    <div class="error pt-2">
                      <app-general-error [generalError]="generalError"></app-general-error>
                    </div>

                    <button class="button log-in button--log-in" type="submit">Anmelden</button>

                  </div>
                </div>
              </form>

              <div class="register hidden-mobile">
                Noch nicht mit dabei? <a class="link" href="https://forms.gle/SPMGmNxVAjcvQqi17" target="_blank"
                                         rel="nofollow noreferrer">Registrieren</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </block-ui>
</div>
