@font-face {
  font-family: fontello;
  src: url(../../assets/fonts/fontello/fontello.eot);
  src: url(../../assets/fonts/fontello/fontello.eot#iefix) format("embedded-opentype"), url(../../assets/fonts/fontello/fontello.woff2) format("woff2"), url(../../assets/fonts/fontello/fontello.woff) format("woff"), url(../../assets/fonts/fontello/fontello.ttf) format("truetype"), url(../../assets/fonts/fontello/fontello.svg#fontello) format("svg");
  font-weight: 400;
  font-style: normal
}

.login-modal .login-content {
    position: relative;
    width: 100%;
    outline: none;
    left: 50%;
    background: #fff;
    border-bottom: 5px solid #52AE31;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%)
}

@media only screen and (min-width: 600px) {
    .login-modal .login-content {
        max-width: 500px;
        top: 5%;
        bottom: 5%
    }
}

@media only screen and (max-width: 599px) {
    .login-modal .login-content {
        min-height: 100%
    }
}

.login-modal .login-header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 16px;
    font-family: bilo, sans-serif;
    font-size: 24px;
    background: #52AE31;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

.login-modal .login-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer
}

.login-modal .login-close:before {
    display: block;
    position: relative;
    content: "\E918";
    font-family: fontello;
    font-weight: 200;
    line-height: 1;
}

.button-container {
    text-align: center
}

.login-modal .login-header {
    border-bottom: initial;
    top: 20%;
    padding-bottom: 20px
}

.login-form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.login-form {
    width: auto;
    min-width: 1px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-transition: min-width .3s ease .3s;
    -moz-transition: min-width .3s ease .3s;
    -o-transition: min-width .3s ease .3s;
    transition: min-width .3s ease .3s
}

.login-form .headline {
    margin: 0 0 10px;
    font-family: bilo, sans-serif;
    font-weight: 400;
    font-size: 22px
}

.login-form .tab-login {
    padding: 20px 32px
}

.login-form .input {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    background: #fff;
    width: 100%
}

.login-form .input input, .login-form .input textarea {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 8px 16px;
    z-index: 1;
    background: none;
    color: #000;
    border: 1px solid #cfcac4;
    border-radius: 3px
}

.login-form .input input:hover, .login-form .input textarea:hover {
    border: 1px solid #50aecc
}

.login-form .input input:active,
.login-form .input input:focus,
.login-form .input input:hover,
.login-form .input textarea:active,
.login-form .input textarea:focus,
.login-form .input textarea:hover {
    box-shadow: 0 0 8px #f9f5f1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.login-form .input input:active,
.login-form .input input:focus,
.login-form .input textarea:active,
.login-form .input textarea:focus {
    border-color: #50aecc !important
}

.login-form .input label {
    position: absolute;
    cursor: text;
    padding: 0 4px;
    border-radius: 3px;
    color: #000;
    z-index: 2;
    background: #fff;
    left: 16px;
    top: -6px;
    font-size: 13px;
    line-height: 1
}

.login-form .input:after {
    right: 0
}

.login-modal .button-container {
    padding: 16px
}

.login-modal .button-container {
    text-align: right;
    padding-top: 0
}

.login-form .button-submit {
    width: 100%;
    background-color: #50aecc;
    color: #fff;
    font-family: bilo, sans-serif;
    font-weight: 500;
    user-select: none;
    padding: 0 16px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    height: 56px;
    line-height: 1.5;
    font-size: 17px;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

.login-form .form-notification {
    font-family: bilo, Arial, sans-serif;
    font-weight: 300;
    padding: 12px;
    position: relative;
    background-color: #fa4329;
    border: 1px solid #fa4329;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #fff
}