.modal-overlay {
    background-color: rgba(152, 211, 133, .5);
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-animation: fadein .6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .6s; /* Firefox < 16 */
    -ms-animation: fadein .6s; /* Internet Explorer */
    -o-animation: fadein .6s; /* Opera < 12.1 */
    animation: fadein .6s;
	  z-index: 20;
}

.modal-wrapper--window {
    margin: 10vh auto;
    position: absolute;
    width: 800px;
    left: 0;
    right: 0;
    -webkit-animation: slidein .3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slidein .3s; /* Firefox < 16 */
    -ms-animation: slidein .3s; /* Internet Explorer */
    -o-animation: slidein .3s; /* Opera < 12.1 */
    animation: slidein .3s;
    z-index: 11;
}

.small {
    width: 600px;
}

.modal--window {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.modal--window .close-button {
    color: rgb(155, 155, 155);
	  cursor: pointer;
	  float: right;
	  font-weight: 700;
	  margin-right: 30px;
	  margin-top: 30px;
	  position: inherit;
	  z-index: 1;
}

.modal--window .close-button img {
    height: 20px;
	  width: 20px;
}

.small .modal--window__body {
    padding-top: 48px;
}

.modal--window__body {
    background-color: rgb(255, 255, 255);
    padding: 80px 40px 40px;
}

.auth-wrapper .title {
    color: rgb(0, 0, 0);
    font-family: proxima-nova, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    width: 100%;
    animation-name: slide-in;
    animation-duration: 0.6s;
}

.auth-wrapper .divider {
    color: rgb(155, 155, 155);
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    line-height: 1;
    margin: 30px 0px;
    text-align: center;
    width: 100%;
}

.auth-wrapper .auth-form {
    max-width: 400px;
    margin: 0px auto;
}

.form-item::after {
    clear: both;
}

.form-item::after, .form-item::before {
    display: table;
    content: "";
}

.form-item {
    margin-bottom: 22px;
}

.first {
    padding-bottom: 10px;
}

.form-item__content {
    font-size: 14px;
	  line-height: 40px;
	  position: relative;
}

.text-field {
    display: -webkit-box;
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.text-field__icon {
    width: 30px;
    max-height: 30px;
    margin-right: 12px;
    margin-top: 5px;
}

.text-field__input {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    position: relative;
    width: 100%;
}

.text-field__input .input__inner::placeholder {
    color: rgb(155, 155, 155);
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
}

.input__inner {
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(202, 202, 202);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    display: inline-block;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0px 0px 10px;
    width: 100%;
    -webkit-appearance: none;
}

.auth-wrapper .password-forgotten {
    text-align: right;
}

.link {
    color: rgb(82, 174, 49);
    cursor: pointer;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
}

.link:hover {
    color: rgb(66, 139, 39);
}

.auth-wrapper .button--log-in {
    margin: 30px auto 0px;
    padding: 8px 28px;
}

.auth-wrapper .button {
    display: flex;
    display: -webkit-box;
    justify-content: center;
    text-align: center;
    width: 100%;
    -webkit-box-pack: center;
}

.button {
    background-color: rgb(82, 174, 49);
    border: none;
    border-radius: 100px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 700;
    max-width: 340px;
    min-width: 120px;
    outline: none;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.button:hover {
    background-color: rgb(66, 139, 39);
}

.auth-wrapper .register {
    color: rgb(155, 155, 155);
    font-family: proxima-nova, sans-serif;
    margin: 30px 0 0;
    width: 100%;
    text-align: center;
}

.auth-wrapper .error {
    color: rgb(255, 102, 102);
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin: 10px;
}

/* Fade-In*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Slide-In */
@keyframes slidein {
  0%   { transform: scale(0.5) }
  100% { transform: scale(1) }
}

@-moz-keyframes slidein {
  0%   { transform: scale(0.5) }
  100% { transform: scale(1) }
}

@-webkit-keyframes slidein {
  0%   { transform: scale(0.5) }
  100% { transform: scale(1) }
}

@-ms-keyframes slidein {
  0%   { transform: scale(0.5) }
  100% { transform: scale(1) }
}

@-o-keyframes slidein {
  0%   { transform: scale(0.5) }
  100% { transform: scale(1) }
}