.modal-icon {
    left: 8px;
    position: absolute;
    top: -8px;
}

.modal-icon .close-modal {
    border-style: none;
    padding: 8px;
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -moz-user-select: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.modal-icon .close-modal .icon-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.modal-icon .close-modal .icon-label .icon {
    height: 28px;
    width: 28px;
}

.modal-icon .close-modal .icon-label .icon .icon-svg {
    color: #fff;
    height: 28px;
    width: 28px;
    pointer-events: none;
    fill: currentColor;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    -moz-user-select: none;
}


@font-face {
  font-family: fontello;
  src: url(../../assets/fonts/fontello/fontello.eot);
  src: url(../../assets/fonts/fontello/fontello.eot#iefix) format("embedded-opentype"), url(../../assets/fonts/fontello/fontello.woff2) format("woff2"), url(../../assets/fonts/fontello/fontello.woff) format("woff"), url(../../assets/fonts/fontello/fontello.ttf) format("truetype"), url(../../assets/fonts/fontello/fontello.svg#fontello) format("svg");
  font-weight: 400;
  font-style: normal
}

.login-modal .login-content {
    position: relative;
    width: 100%;
    outline: none;
    left: 50%;
    background: #fff;
    border-bottom: 5px solid #52AE31;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%)
}

@media only screen and (min-width: 600px) {
    .login-modal .login-content {
        max-width: 500px;
        top: 5%;
        bottom: 5%
    }
}

@media only screen and (max-width: 599px) {
    .login-modal .login-content {
        min-height: 100%
    }
}

.login-modal .login-header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 16px;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 700;
    font-size: 22px;
    background: #52AE31;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.login-modal .login-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer
}

.login-modal .login-close:before {
    display: block;
    position: relative;
    content: "\E918";
    font-family: fontello;
    font-weight: 200;
    line-height: 1;
}

.button-container {
    text-align: center
}

.login-modal .login-header {
    border-bottom: initial;
    top: 20%;
    padding-bottom: 20px
}

.login-form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.login-form {
    width: auto;
    min-width: 1px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-transition: min-width .3s ease .3s;
    -moz-transition: min-width .3s ease .3s;
    -o-transition: min-width .3s ease .3s;
    transition: min-width .3s ease .3s
}

.login-form .headline {
    margin: 0 0 10px;
    font-family: bilo, sans-serif;
    font-weight: 400;
    font-size: 22px
}

.login-form .tab-login {
    padding: 20px 32px
}

.login-form .input {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    background: #fff;
    width: 100%
}

.login-form .input input, .login-form .input textarea {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 8px 16px;
    z-index: 1;
    background: none;
    color: #000;
    border: 1px solid #cfcac4;
    border-radius: 3px
}

.login-form .input input:hover, .login-form .input textarea:hover {
    border: 1px solid #50aecc
}

.login-form .input input:active,
.login-form .input input:focus,
.login-form .input input:hover,
.login-form .input textarea:active,
.login-form .input textarea:focus,
.login-form .input textarea:hover {
    box-shadow: 0 0 8px #f9f5f1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.login-form .input input:active,
.login-form .input input:focus,
.login-form .input textarea:active,
.login-form .input textarea:focus {
    border-color: #50aecc !important
}

.login-form .input label {
    position: absolute;
    cursor: text;
    padding: 0 4px;
    border-radius: 3px;
    color: #000;
    z-index: 2;
    background: #fff;
    left: 16px;
    top: -6px;
    font-size: 13px;
    line-height: 1
}

.login-form .input:after {
    right: 0
}





.errorMessage {
    color: #E64135;
    font-size: 12px;
    line-height: 16px;
    display: block;
    font-family: ibm-plex-sans, sans-serif;
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    padding-top: 0px;
    padding-bottom: 10px;
}


.buttonContainer {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.buttonContainer .SubmitButton {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    font-weight: 600;
    font-family: ibm-plex-sans, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
    margin: 0;
    cursor: pointer;
    position: relative;
    min-height: 48px;
    padding: 12px 24px;
    color: #fff;
    background: #52AE31;
    -webkit-transition-property: background, webkit-box-shadow;
    transition-property: background, webkit-box-shadow;
    transition-property: background, box-shadow;
    transition-property: background, box-shadow, webkit-box-shadow;
    -webkit-transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.buttonContainer .RegisterButton {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 22px;
    border: 1px solid #E8EBEB;
    background-color: #fff;
    color: #52AE31;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 400;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    font-weight: 600;
    font-family: ibm-plex-sans, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
    margin: 0;
    cursor: pointer;
    position: relative;
    min-height: 48px;
    padding: 12px 24px;
    -webkit-transition-property: background, webkit-box-shadow;
    transition-property: background, webkit-box-shadow;
    transition-property: background, box-shadow;
    transition-property: background, box-shadow, webkit-box-shadow;
    -webkit-transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.buttonContainer .SubmitButton .ButtonText {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}