<div class="setting-modal">
    <div class="setting-content">
        <div class="setting-header">
            BENUTZER LÖSCHEN
            <!--span class="setting-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></span-->
        </div>
        <div class="setting-form">
            <div class="tab tab-setting">
                <div class="form-setting">
                    <h5 style="margin-bottom: 12px;">Bist du sicher, dass du den Benutzer<br /><strong>'{{user.name}}' löschen</strong><br />möchtest?</h5>
                </div>
                <div class="button-container">
                    <button class="button-submit" type="submit" (click)="onSubmit()">Löschen</button>
                </div>
            </div>
        </div>
    </div>
</div>