<block-ui>
    <div id="root">
        <div class="layout">

            <div id="notice" *ngIf="generalError !== undefined"><p>{{generalError}}</p></div>

            <div id="checkout" *ngIf="initialized">

                <div id="content" class="checkout-container">
                    <a class="back-link">Zurück</a>

                    <header id="header" class="restaurant-header">
                        <div class="banner">
                            <img [src]="getBannerStyle(restaurant)" alt="{{restaurant.name}}">
                        </div>
                        <div class="information">
                            <div class="header">
                                <h1 class="restaurant-name">{{restaurant.name}} <span>{{getCart().getOrderTypeText()}}</span></h1>
                            </div>
                        </div>
                    </header>

                    <form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm.value)">
                        <div id="body">
                            <div id="checkout-step">
                                <h2 class="title">1. Bestelldetails</h2>
                                <p class="subtitle">Grundlegende Informationen zu Deiner Bestellung</p>
                            </div>
                            <div id="checkout-details">
                                <div class="title">Lieferdetails</div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="address-container">
                                            <div class="label-container"><label for="street">Adresse</label></div>
                                            <div class="input-container">
                                                <input class="input" autocomplete="off" type="text" placeholder="Lieferadresse eingeben" id="street" formControlName="street" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
                                                <div class="invalid-feedback" *ngIf="submitted && f.street.errors"><div *ngIf="f.street.errors.required"><span style="color: red;">Lieferadresse wird benötigt</span></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3" style="@media screen and (min-width: 768px) { padding-right: 16px; }">
                                        <div class="address-container">
                                            <div class="label-container"><label for="zipCode">Postleitzahl</label></div>
                                            <div class="input-container">
                                                <input class="input" autocomplete="off" type="number" maxlength="5" placeholder="Postleitzahl" id="zipCode" formControlName="zipCode" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" />
                                                <div class="invalid-feedback" *ngIf="submitted && f.zipCode.errors"><div *ngIf="f.zipCode.errors.required"><span style="color: red;">Postleitzahl wird benötigt</span></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3" style="@media screen and (min-width: 768px) { padding-left: 16px; }">
                                        <div class="address-container">
                                            <div class="label-container"><label for="city">Stadt</label></div>
                                            <div class="input-container">
                                                <input class="input" autocomplete="off" type="text" placeholder="Stadt" id="city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                                                <div class="invalid-feedback" *ngIf="submitted && f.city.errors"><div *ngIf="f.city.errors.required"><span style="color: red;">Stadt wird benötigt</span></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="address-container">
                                            <div class="label-container"><label for="comments">Kommentar</label></div>
                                            <div class="input-container">
                                                <textarea class="input" autocomplete="off" type="text" rows="3" maxlength="300" placeholder="Kommentar" id="comments" formControlName="comments" style="border-radius: 10px; height: unset;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div id="checkout-details" style="margin-top: 108px;">
                                <div class="title">Persönliche Details</div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3" style="padding-right: 16px;">
                                        <div class="address-container">
                                            <div class="label-container"><label for="givenName">Vorname</label></div>
                                            <div class="input-container">
                                                <input class="input" autocomplete="off" type="text" placeholder="Vorname" id="givenName" formControlName="givenName" [ngClass]="{ 'is-invalid': submitted && f.givenName.errors }" />
                                                <div class="invalid-feedback" *ngIf="submitted && f.givenName.errors"><div *ngIf="f.givenName.errors.required"><span style="color: red;">Vorname wird benötigt</span></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3" style="padding-left: 16px;">
                                        <div class="address-container">
                                            <div class="label-container"><label for="lastName">Nachname</label></div>
                                            <div class="input-container">
                                                <input class="input" autocomplete="off" type="text" placeholder="Nachname" id="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                                <div class="invalid-feedback" *ngIf="submitted && f.lastName.errors"><div *ngIf="f.lastName.errors.required"><span style="color: red;">Nachname wird benötigt</span></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="address-container">
                                            <div class="label-container"><label for="street">Handynummer</label></div>
                                            <div class="input-container">
                                                <input class="input" autocomplete="off" type="number" placeholder="+49 176 9877 552" id="phone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                                <div class="invalid-feedback" *ngIf="submitted && f.phone.errors"><div *ngIf="f.phone.errors.required"><span style="color: red;">Handynummer wird benötigt</span></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="address-container">
                                            <div class="label-container">
                                                <label for="email">E-Mail-Adresse</label>
                                            </div>
                                            <div class="input-container">
                                                <input class="input" autocomplete="off" type="email" placeholder="gastromio@email.de" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                                <div class="invalid-feedback" *ngIf="submitted && f.email.errors"><div *ngIf="f.email.errors.required" style="color: red;">E-Mail-Adresse wird benötigt</div><div *ngIf="f.email.errors.pattern" style="color: red;">E-Mail-Adresse muss gültig sein (z.B. max@mustermann.de)</div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="body">
                            <div id="checkout-step">
                                <h2 class="title">2. Zahlung</h2>
                                <p class="subtitle">Wähle eine Zahlungsmethode</p>
                            </div>
                            <div id="payment-method">
                                <button type="button" class="payment-type" id="{{paymentMethod.imageName}}" *ngFor="let paymentMethod of restaurant.paymentMethods">{{paymentMethod.name}} <input type="radio" id="{{paymentMethod.id}}" name="paymentMethodId" formControlName="paymentMethodId" value="{{paymentMethod.id}}"></button>
                                <div *ngIf="submitted && f.paymentMethodId.errors"><div class="invalid-feedback" *ngIf="f.paymentMethodId.errors.required"><span style="color: red;">Zahlungsmethode wird benötigt</span></div></div>
                            </div>
                            <button class="confirm-button" type="submit">Bestellung aufgeben</button>
                            <div class="conditions-container">
                                <div class="links-container"><p>Mit dem Kauf stimmst Du unserer <a target="_blank">Datenschutzerklärung</a> zu.</p></div>
                                <div class="agreement-container">
                                    <p>Bitte beachte: Die Speisen werden von {{restaurant.name}} verkauft, Gastromio dient ausschließlich als Vermittler.</p>
                                    <p>Mir ist bekannt, dass ich mit Klick auf "Bestellung aufgeben" mein Widerrufsrecht verliere.</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <section id="my-order">
                    <header id="header">
                        <span class="title">Meine Bestellung</span>
                    </header>
                    <div id="body" class="cart-body">
                        <div id="dishes">
                            <div class="dish" *ngFor="let cartDish of getCart().getCartDishes()">
                                <div class="dish-content">
                                    <div class="name">
                                        {{cartDish.getDish().name}} <span *ngIf="cartDish.getDish().variants.length > 1">({{cartDish.getVariant().name}})</span>
                                    </div>
                                    <div class="description">
                                        <div class="count">x{{cartDish.getCount()}}</div>
                                        <div class="price">&euro;{{cartDish.getPriceText()}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="order-fees" class="restaurant-bill-container">
                            <div>
                                <span class="title">Speisen</span>
                                <span>&euro;{{getCart().getValueOfOrderText()}}</span>
                            </div>
                            <div *ngIf="getCart().getCosts()">
                                <span class="title">Lieferkosten</span>
                                <span>&euro;{{getCart().getCostsText()}}</span>
                            </div>
                        </div>
                        <div id="total">
                            <span>Gesamt</span>
                            <span class="bill">&euro;{{getCart().getTotalPriceText()}}</span>
                        </div>
                    </div>
                </section>

            </div>

        </div>
    </div>
</block-ui>