<div class="setting-modal">
    <div class="setting-content">
        <div class="setting-header">
            RESTAURANT ANMELDEN
            <!--span class="setting-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></span-->
        </div>
        <div class="setting-form">
            <div class="tab tab-setting">
                <form class="setting-form" [formGroup]="addRestaurantForm" (ngSubmit)="onSubmit(addRestaurantForm.value)">
                    <div class="form-notification" *ngIf="message !== undefined">{{message}}</div>
                    <div class="form-setting">
                        <div class="input">
                            <input type="text" id="name" formControlName="name">
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button-submit" type="submit">Hinzufügen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>