<form [formGroup]="changeCuisineForm" (ngSubmit)="onSubmit(changeCuisineForm.value)">
  <div class="modal-header">
    <h4 class="modal-title">Cuisine ändern</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control" type="text" placeholder="Name" formControlName="name">
    </div>
  </div>
  <div class="modal-footer">
    <p class="error" *ngIf="message !== undefined">{{message}}</p>
    <button class="btn btn-primary" type="submit">Ändern</button>
  </div>
</form>
