<div class="setting-modal">
    <div class="setting-content">
        <div class="setting-header">
            CUISINE ÄNDERN
            <!--span class="setting-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></span-->
        </div>
        <div class="setting-form">
            <div class="tab tab-setting">
                <form class="setting-form" [formGroup]="changeCuisineForm" (ngSubmit)="onSubmit(changeCuisineForm.value)">
                    <div class="form-notification" *ngIf="message !== undefined">{{message}}</div>
                    <div class="form-setting">
                        <div class="input">
                            <input type="text" id="name" formControlName="name" ngbAutofocus>
                            <label for="name">Name</label>
                        </div>
                        <div class="input">
                            <input type="image" id="image" accept="image/*" type="file" (change)="onImageChange($event)">
                            <img class="input" [src]="imgUrl" height="200" *ngIf="imgUrl" style="vertical-align: middle; padding-top: 24px; height: 100%">
                            <label for="image">Bild</label>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button-submit" type="submit">Ändern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
