/*
    Inhalt
*/

@-webkit-keyframes slide-fwd-center {
    0% {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    100% {
        transform: translateZ(160px);
        -webkit-transform: translateZ(160px);
    }
}

@keyframes slide-fwd-center {
    0% {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    100% {
        transform: translateZ(160px);
        -webkit-transform: translateZ(160px);
    }
}