<block-ui>
	<div
		class="modals"
		aria-labelledby="Neues Passwort erstellen"
		role="dialog"
		aria-modal="true"
	>
		<div class="modal-wrapper">
			<div
				class="modal-background"
				data-aos="gm-ease"
				data-aos-duration="500"
				data-aos-once="true"
			></div>
			<!--  This element is to trick the browser into centering the modal contents.  -->
			<span class="center-modal" aria-hidden="true">&#8203;</span>
			<div
				class="modal-content"
				data-aos="gm-move-up"
				data-aos-delay="300"
				data-aos-duration="800"
				data-aos-once="true"
			>
				<form
					[formGroup]="changeUserPasswordForm"
					(ngSubmit)="onSubmit(changeUserPasswordForm.value)"
				>
					<div class="modal-body">
						<div class="modal-body-flex">
							<div class="modal-body-icon">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
									aria-hidden="true"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
									></path>
								</svg>
							</div>
							<div class="modal-body-text">
								<h3>Neues Passwort erstellen</h3>
								<p>
									Lege ein neues Passwort für einen Restaurantadministrator oder
									Benutzer an.
								</p>
								<p class="help-text" *ngIf="submitted && f.password.errors">
									<span *ngIf="f.password.errors.required"
										>Bitte gebe ein Passwort an.</span
									>
									<span *ngIf="f.password.errors.pattern"
										>Das Passwort ist nicht komplex genug (mind. 1 Klein-, 1
										Großbuchstabe, 1 Ziffer und 1 Sonderzeichen)</span
									>
								</p>
								<p
									class="help-text"
									*ngIf="submitted && f.passwordRepeat.errors"
								>
									<span *ngIf="f.passwordRepeat.errors.confirmedValidator"
										>Das Passwort stimmt nicht mit dem vorherigen überein.</span
									>
								</p>
								<p class="help-text" *ngIf="(message$ | async) !== undefined">
									{{ message$ | async }}
								</p>
								<input
									style="margin-top: 12px"
									class="input-group"
									type="password"
									autocapitalize="none"
									autocomplete="off"
									mozactionhint="next"
									id="password"
									placeholder="Neues Passwort"
									formControlName="password"
									[ngClass]="{ 'is-invalid': submitted && f.password.errors }"
								/>
								<input
									style="margin-top: 12px"
									class="input-group"
									type="password"
									autocapitalize="none"
									autocomplete="off"
									mozactionhint="send"
									id="passwordRepeat"
									placeholder="Neues Passwort wiederholen"
									formControlName="passwordRepeat"
									[ngClass]="{
										'is-invalid': submitted && f.passwordRepeat.errors
									}"
								/>
							</div>
						</div>
					</div>
					<div class="modal-actions">
						<button class="submit" type="submit">Ändern</button>
						<button
							class="cancel"
							type="button"
							(click)="activeModal.dismiss('Cross click')"
						>
							Abbrechen
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</block-ui>
