<block-ui>
    <div class="modal-overlay">
        <div class="modal_v3">
            <div id="close"><button type="button" aria-label="Schließen" (click)="activeModal.dismiss('Cross click')"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><path d="m6 6 20 20"></path><path d="m26 6-20 20"></path></svg></button></div>
            <header id="header">
                <div class="left"></div>
                <div class="middle"><h1 class="title" tabindex="-1">Neues Passwort erstellen</h1></div>
                <div class="right"></div>
            </header>
            <div id="body" tabindex="0">
                <form [formGroup]="changeUserPasswordForm" (ngSubmit)="onSubmit(changeUserPasswordForm.value)">
                    <div class="wrapper">
                        <div class="input-wrapper">
                            <div class="input-inner">
                                <div style="background: none; border-radius: 8px 8px 0px 0px; bottom: -1px; left: 0px; right: 0px; top: 0px;"></div>
                                <label>
                                    <div class="label">Passwort</div>
                                    <input type="password" autocapitalize="none" autocomplete="off" mozactionhint="next" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                </label>
                                <div class="border" style="border: 1px solid rgb(176, 176, 176); border-radius: 8px 8px 0px 0px; bottom: -1px; left: 0px; right: 0px; top: 0px; z-index: 0;"></div>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <div class="input-inner">
                                <div style="background: none; border-radius: 0px 0px 8px 8px; bottom: -1px; left: 0px; right: 0px; top: 0px;"></div>
                                <label>
                                    <div class="label">Passwort wiederholen</div>
                                    <input type="password" autocapitalize="none" autocomplete="off" mozactionhint="send" id="passwordRepeat" formControlName="passwordRepeat" [ngClass]="{ 'is-invalid': submitted && f.passwordRepeat.errors }">
                                </label>
                                <div class="border" style="border: 1px solid rgb(176, 176, 176); border-radius: 0px 0px 8px 8px; bottom: -1px; left: 0px; right: 0px; top: 0px; z-index: 0;"></div>
                            </div>
                        </div>
                    </div>
                    <div id="feedback">
                        <div class="help-text" *ngIf="submitted && f.password.errors">
                            <span *ngIf="f.password.errors.required">Bitte gebe ein Passwort an.</span>
                            <span *ngIf="f.password.errors.pattern">Das Passwort ist nicht komplex genug (mind. 1 Klein-, 1 Großbuchstabe, 1 Ziffer und 1 Sonderzeichen)</span>
                        </div>
                        <div class="help-text" *ngIf="submitted && f.passwordRepeat.errors">
                            <span *ngIf="f.passwordRepeat.errors.confirmedValidator">Das Passwort stimmt nicht mit dem vorherigen überein.</span>
                        </div>
                        <div class="help-text" *ngIf="(message$ | async) !== undefined">{{(message$ | async)}}</div>
                    </div>
                    <div id="submit"><button type="submit">Speichern</button></div>
                </form>
            </div>
        </div>
    </div>
</block-ui>
