
  <p class="product-description">{{dish.description}}</p>
  <p class="product-info">{{dish.productInfo}}</p>

  <ng-container *ngIf="dish.variants.length === 1">
    <label class="product-price">Preis:
      <input type="text" readonly value="{{getVariantPrice(dish.variants[0])}}" />
    </label>
  </ng-container>

  <ng-container *ngIf="dish.variants.length > 1">
    <label class="product-price">Variante:
      <select [(ngModel)]="selectedVariant">
        <option *ngFor="let variant of dish.variants" [ngValue]="variant">{{getVariantText(variant)}}</option>
      </select>
    </label>
  </ng-container>

  <div id="add-to-cart-panel" class="add-to-cart-panel">
      <div id="options-panel">
          <div class="options-title-bar">
              <h3 class="product-title" tabindex="-1">{{dish.name}}</h3>
              <div class="product-info">{{dish.description}} - {{dish.productInfo}}</div>
              <button class="text-link">Zurück</button>
          </div>
      </div>

      <div id="confirm-or-add">
          <div class="inline-button-wrap">
              <button class="add-to-cart-button" (click)="onSubmit()">Hinzufügen</button>
          </div>
      </div>
  </div>