<div id="modal">
    <div class="wrapper">
        <div class="content">
            <h1 class="title add-edit dish">{{dish.name}}</h1>
            <h3 class="description">{{dish.description}}</h3>
            <div style="width: 100%;">
                <div class="form-input">
                    <label class="form-label">Anzahl</label>
                    <div class="flex-space-between">
                        <div id="quantity" style="align-content: flex-end; text-align: right; justify-content: right; width: unset; margin-bottom: 8px;">
                            <div class="inner-wrap">
                                <button class="quantity-btn" (click)="decCount()"><svg viewBox="0 0 100 100"><path fill="#FFF" d="M50 8.8c22.7 0 41.2 18.5 41.2 41.2S72.7 91.2 50 91.2 8.8 72.7 8.8 50 27.3 8.8 50 8.8m0-7.3C23.2 1.5 1.5 23.2 1.5 50S23.2 98.5 50 98.5 98.5 76.8 98.5 50 76.8 1.5 50 1.5z"></path><path fill="#FFF" d="M32 46.5h37v8H32z"></path></svg></button>
                                <div class="dish-quantity">{{count}}</div>
                                <button class="quantity-btn" (click)="incCount()"><svg viewBox="0 0 100 100"><path fill="#FFF" d="M50 8.3c22.7 0 41.2 18.5 41.2 41.2S72.7 90.8 50 90.8 8.8 72.3 8.8 49.6 27.3 8.3 50 8.3m0-7.2C23.2 1.1 1.5 22.8 1.5 49.6 1.5 76.3 23.2 98 50 98s48.5-21.7 48.5-48.5C98.5 22.8 76.8 1.1 50 1.1z"></path><path fill="#FFF" d="M31 46.5h38v8H31z"></path><path fill="#FFF" d="M46 31.5h8v38h-8z"></path></svg></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-input" *ngIf="dish.variants.length > 1" style="margin-bottom: 8px;">
                    <label class="form-label">Variante</label>
                    <div class="input-group"><select [(ngModel)]="selectedVariant"><option *ngFor="let variant of dish.variants" [ngValue]="variant">{{getVariantText(variant)}}</option></select></div>
                </div>
                <div class="form-input">
                    <label class="form-label">Anmerkungen</label>
                    <div class="input-group"><input type="text" mozactionhint="send" autocomplete="off" autocapitalize="off" spellcheck="true" [(ngModel)]="remarks"></div>
                </div>
            </div>
            <div class="btns-container">
                <button type="button" class="cancel" (click)="onCancel()">Abbrechen</button>
                <button type="submit" class="submit" (click)="onSubmit()">Hinzufügen</button>
            </div>
        </div>
    </div>
</div>