<div class="setting-modal">
  <div class="setting-content">
    <div class="setting-header">
      GERICHTKATEGORIE LÖSCHEN
    </div>
    <div class="setting-form">
      <div class="tab tab-setting">
        <div class="form-setting">
          <h5>Bist du sicher, dass du das Gericht<br /><strong>'{{dish.name}}' löschen</strong><br />möchtest?</h5>
        </div>
        <div class="button-container">
          <button class="button-submit" type="submit" (click)="onSubmit()">Löschen</button>
        </div>
      </div>
    </div>
  </div>
</div>
