<div>
  <span>{{orderedDish.count}} x</span>
  <h2 class="product-name">{{orderedDish.dish.name}}</h2>
  <p class="product-description">{{orderedDish.dish.description}}</p>

  <p class="product-info">{{orderedDish.dish.productInfo}}</p>

  <ng-container *ngIf="orderedDish.dish.variants.length > 1">
    <label class="product-price">Variante:
      <input type="text" readonly value="{{orderedDish.variant.name}}" />
    </label>
  </ng-container>

  <label class="product-price">Preis:
    <input type="text" readonly value="{{getVariantPrice(orderedDish.variant)}}" />
  </label>

  <label class="remarks">Anmerkungen zur Bestellung:
    <input type="text" placeholder="Anmerkungen zur Bestellung" [(ngModel)]="orderedDish.remarks" />
  </label>

  <button (click)="incCount()">+</button>
  <button (click)="decCount()">-</button>

</div>



<button (click)="onClose()">Schließen</button>
<button (click)="onRemove()">Entfernen</button>
