<div id="dish-edit">
    <div class="info-inner">
        <div id="add-to-cart-panel" class="add-to-cart-panel">

            <div id="options-panel">
                <div class="options-title-bar">
                    <h3 class="dish-name" tabindex="-1">{{orderedDish.dish.name}}</h3>
                    <div class="dish-info">
                        {{orderedDish.dish.description}} - {{getVariantPrice(orderedDish.variant)}}
                    </div>
                    <button class="text-link" (click)="onCancel()">Zurück</button>
                </div>

                <div class="options-list">

                    <ng-container *ngIf="orderedDish.dish.variants.length > 1">
                        <div class="option-item variant">
                            <div id="variant">
                                <div class="form-field">
                                    <label>Variante</label>
                                    <div class="select-field-wrap">
                                        <select>
                                            <option>{{orderedDish.variant.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="option-item quantity">
                        <div class="flex-space-between">
                            <label>Anzahl</label>
                            <div id="quantity">
                                <div class="inner-wrap">
                                    <button class="quantity-btn" (click)="decCount()">
                                        <svg viewBox="0 0 100 100">
                                            <path fill="#FFF" d="M50 8.8c22.7 0 41.2 18.5 41.2 41.2S72.7 91.2 50 91.2 8.8 72.7 8.8 50 27.3 8.8 50 8.8m0-7.3C23.2 1.5 1.5 23.2 1.5 50S23.2 98.5 50 98.5 98.5 76.8 98.5 50 76.8 1.5 50 1.5z"></path>
                                            <path fill="#FFF" d="M32 46.5h37v8H32z"></path>
                                        </svg>
                                    </button>

                                    <div class="dish-quantity">{{count}}</div>

                                    <button class="quantity-btn" (click)="incCount()">
                                        <svg viewBox="0 0 100 100">
                                            <path fill="#FFF" d="M50 8.3c22.7 0 41.2 18.5 41.2 41.2S72.7 90.8 50 90.8 8.8 72.3 8.8 49.6 27.3 8.3 50 8.3m0-7.2C23.2 1.1 1.5 22.8 1.5 49.6 1.5 76.3 23.2 98 50 98s48.5-21.7 48.5-48.5C98.5 22.8 76.8 1.1 50 1.1z"></path>
                                            <path fill="#FFF" d="M31 46.5h38v8H31z"></path>
                                            <path fill="#FFF" d="M46 31.5h8v38h-8z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="option-item remarks">
                        <div class="flex-space-between">
                            <label>Anmerkungen</label>
                            <input type="text" [(ngModel)]="remarks" />
                        </div>
                    </div>

                </div>

            </div>

            <div id="confirm-or-add">
                <div class="inline-button-wrap">
                    <button class="add-to-cart-button" (click)="onSubmit()">Ändern</button>
                </div>
                <a class="text-link remove-link" (click)="onRemove()">Aus Warenkorb entfernen</a>
            </div>

        </div>
    </div>
</div>
