.col-margin-desktophd-2 {
    margin-left: 16.66667%;
}

.col-desktophd-8 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 66.66667%;
    padding-left: 8px;
    padding-right: 8px;
}

#legal {
    background-color: #fff;
}

#legal .wrapper {
    margin: 0px auto;
    max-width: 1800px;
    padding-left: 60px;
    padding-right: 60px;
}

#legal .page-header {
    background-color: #fff;
    background-image: url(/assets/img/backgrounds/wave.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 340px;
    padding-top: 280px;
    position: relative;
}

#legal .page-header:before {
    background: url(/assets/img/illustrations/imprint.svg) no-repeat;
    background-position: 0 50%;
    background-size: contain;
    bottom: 0px;
    content: "";
    height: 100%;
    max-width: 420px;
    position: absolute;
    right: 0px;
    width: 40%;
}

#legal .page-header .page-title {
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 52px;
    font-weight: 500;
}

@media screen and (min-width: 361px) {
    #legal .page-header .page-title {
        font-size: calc( 26px + 26 * ((100vw - 361px) / 1079));
    }
}

#legal .page-header .page-subtitle {
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 25px;
    max-width: 435px;
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #legal .page-header .page-subtitle {
        font-size: calc( 16px + 2 * ((100vw - 768px) / 672));
    }
}

#legal .page-body h6 {
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 40px 0px;
}

#legal .page-body .text-block-title {
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1.12px;
    margin-bottom: 60px;
    margin-top: 95px;
    position: relative;
}

#legal .page-body .text-block-title::after {
    background: #0BD2FF;
    bottom: -20px;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    width: 70px;
}

#legal .page-body .text-block-desc {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #817f7f;
    line-height: 28px;
    margin-bottom: 10px;
}

@media screen and (min-width: 361px) {
    #legal .page-body .text-block-title {
        font-size: calc( 22px + 14 * ((100vw - 361px) / 1079));
    }
    #legal .page-body .text-block-desc {
        font-size: calc( 16px + 2 * ((100vw - 361px) / 1079));
    }
}