<block-ui delayStart="500">
    <div class="modals" aria-labelledby="Restaurant bearbeiten" role="dialog" aria-modal="true">
        <div class="modal-wrapper">
            <div
            class="modal-background"
            data-aos="gm-ease"
            data-aos-duration="500"
            data-aos-once="true"
            ></div>
            <!--  This element is to trick the browser into centering the modal contents.  -->
            <span class="center-modal" aria-hidden="true">&#8203;</span>
            <div
            class="modal-content"
            data-aos="gm-move-up"
            data-aos-delay="300"
            data-aos-duration="800"
            data-aos-once="true"
            >
                <form [formGroup]="changeSettingsForm" (ngSubmit)="onSubmit(changeSettingsForm.value)">
                    <div class="modal-body">
                        <div class="modal-body-flex">
                            <div class="modal-body-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
                                </svg>
                            </div>
                            <div class="modal-body-text">
                                <h3>Restaurant bearbeiten</h3>
                                <p>Ändere Daten eines bestehenden Restaurants.</p>
                                <p class="help-text" *ngIf="f.name.errors"><span *ngIf="f.name.errors.required">Bitte gebe einen Namen für das Restaurant an.</span></p>
                                <p class="help-text" *ngIf="(message$ | async) !== undefined">{{(message$ | async)}}</p>
                                <input style="margin-top: 12px;" class="input-group" type="text" mozactionhint="send" autocapitalize="sentences" autocomplete="off" inputmode="latin" minlength="3" required="" spellcheck="false" id="name" formControlName="name" ngbAutofocus [ngClass]="{ 'is-invalid': f.name.errors }">       
                                <input style="margin-top: 12px;" class="input-group" type="text" mozactionhint="send" autocapitalize="sentences" autocomplete="off" inputmode="latin" spellcheck="false" id="importId" formControlName="importId" [ngClass]="{ 'is-invalid': f.importId.errors }">
                                <div class="input-group" style="width: 100%; height: auto">
                                    <span *ngFor="let cuisineStatus of cuisineStatusArray$ | async" class="badge" [class.active]="cuisineStatus.newStatus" [class.inactive]="!cuisineStatus.newStatus" (click)="toggleCuisine(cuisineStatus.id)">
                                        {{cuisineStatus.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-actions">
                        <button class="submit" type="button">Ändern</button>
                        <button class="cancel" type="button" (click)="activeModal.dismiss('Cross click')">Abbrechen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block-ui>
