<block-ui>
    <div id="app">
        <div id="login">

            <div id="notice" class="warning" *ngIf="message">
                <p>{{message}}</p>
            </div>

            <div id="left">
                <img srcset="
                /assets/images/background/login-640x426.jpg 640w,
                /assets/images/background/login-1280x853.jpg 1280w,
                /assets/images/background/login-1920x1280.jpg 1920w,
                /assets/images/background/login-6108x4072.jpg 6108w"
                     src="/assets/images/background/login-1280x853.jpg"
                     alt="Foto von Daria Shevtsova von Pexels">
            </div>

            <div id="right">
                <div class="wrapper">
                    <div class="inner">
                        <div class="child">
                            <div class="login">
                                <div class="heading">
                                    <h6>Passwort vergessen?!</h6>
                                </div>
                                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
                                    <div style="width: 100%;">
                                        <div class="form-input">
                                            <label class="form-label">Emailadresse</label>
                                            <div class="input-group">
                                                <input type="text" autocapitalize="none" autocomplete="off"
                                                       mozactionhint="next"
                                                       id="email"
                                                       formControlName="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btns-container">
                                        <button type="submit" class="submit">Passwortänderung anfordern</button>
                                        <ng-container *ngIf="sent">
                                            Sie erhalten in Kürze eine Email mit weiteren Instruktionen, wie Sie Ihr
                                            Passwort
                                            ändern können.
                                        </ng-container>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</block-ui>
