<block-ui>
    <div id="forgot-password">

        <div class="flash-message js-flash-message" role="status" id="flashMessage2" data-duration="5000" *ngIf="message">
            <span style="align-items: center; display: inline-flex;">
                <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 16 16"><g><path d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M9,12H7V7h2V12z M8,6C7.4,6,7,5.6,7,5s0.4-1,1-1 s1,0.4,1,1S8.6,6,8,6z"></path></g></svg>
                <p>{{message}}</p>
            </span>
        </div>

        <div class="flash-message js-flash-message" role="status" id="flashMessage2" data-duration="5000" *ngIf="submitted && f.email.errors">
            <span style="align-items: center; display: inline-flex;">
                <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 16 16"><g><path d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M9,12H7V7h2V12z M8,6C7.4,6,7,5.6,7,5s0.4-1,1-1 s1,0.4,1,1S8.6,6,8,6z"></path></g></svg>
                <p *ngIf="f.email.errors.required">Bitte gib eine gültige E-Mail Adresse an</p>
                <p *ngIf="f.email.errors.backend">{{f.name.errors.backend}}</p>
            </span>
        </div>

        <div class="wrapper">
            <div id="back">
                <a [routerLink]="['/']">
                    <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M6 4.655L10.655 0 12 1.345 7.345 6 12 10.655 10.655 12 6 7.345 1.345 12 0 10.655 4.655 6 0 1.345 1.345 0 6 4.655z" fill="#FFFFFF" fill-rule="nonzero" /></svg>
                </a>
            </div>

            <div id="left">
                <div class="background-image"></div>
            </div>

            <div id="right">
                <div class="form-wrapper">
                    <div class="form">
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
                            <h1>Passwort vergessen?!</h1>
                            <div class="subtext">
                                <p>Gebe Deine E-Mail-Adresse ein. Wir schicken Dir eine E-Mail mit weiteren Informationen zum Ändern Deines Passworts.</p>
                            </div>
                            <div class="input-wrapper">
                                <div class="input-100">
                                    <div class="input-root">
                                        <label>E-Mail-Adresse</label>
                                        <div class="inner-input">
                                            <input type="email" mozactionhint="next" autocapitalize="none" autocomplete="email" autofocus="" inputmode="email" spellcheck="off" id="email" name="email" formControlName="email" placeholder="bernd@mustermann.de" data-hj-suppress [disabled]="sent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="forgot-password-register" type="submit" [disabled]="sent">Passwortänderung anfordern</button>
                            <div class="reset-info" *ngIf="sent">
                                Du erhältst in Kürze eine E-Mail mit weiteren Anweisungen, wie Du Dein Passwort ändern kannst.
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</block-ui>
