<block-ui>
    <div id="app">
        <div id="login">

            <div id="left">
                <img srcset="
                /assets/images/background/login-640x426.jpg 640w,
                /assets/images/background/login-1280x853.jpg 1280w,
                /assets/images/background/login-1920x1280.jpg 1920w,
                /assets/images/background/login-6108x4072.jpg 6108w"
                     src="/assets/images/background/login-1280x853.jpg"
                     alt="Foto von Daria Shevtsova von Pexels">
            </div>

            <div id="right">
                <div class="wrapper">
                    <div class="inner">
                        <div class="child">
                            <div class="login">
                                <div class="heading">
                                    <h6>Passwort vergessen?!</h6>
                                    <p>Gebe Deine E-Mail-Adresse ein. Wir schicken Dir eine E-Mail mit weiteren Informationen zum Ändern Deines Passworts.</p>
                                </div>
                                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
                                    <div class="form-input">
                                        <label class="form-label">E-Mail-Adresse</label>
                                        <div class="input-group">
                                            <input type="email" id="email" name="email" formControlName="email" placeholder="email@provider.de">
                                            <div class="icon"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span></div>
                                        </div>
                                    </div>
                                    <button type="submit" class="submit">Passwortänderung anfordern</button>
                                    <ng-container *ngIf="sent">
                                        Du erhältst in Kürze eine E-Mail mit weiteren Instruktionen, wie Du Dein Passwort ändern kannst.
                                    </ng-container>
                                    <app-general-error [generalError]="message"></app-general-error>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</block-ui>
