name: Build and Publish

on:
  push:
    branches: [ master, staging, develop ]
  pull_request:
    branches: [ master, staging, develop ]

jobs:
  build-sources:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101

    - name: Install dependencies
      run: dotnet restore ./src/Gastromio.App

    - name: Build
      run: dotnet build --configuration Release --no-restore ./src/Gastromio.App

    - name: Test
      run: dotnet test /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov .

    - name: Publish
      run: dotnet publish --configuration Release --no-restore --no-build ./src/Gastromio.App

#    - name: Copy to S3 bucket
#      uses: jakejarvis/s3-sync-action@master
#      env:
#        AWS_S3_BUCKET: 'gastromio-test'
#        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
#        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#        AWS_REGION: 'eu-central-1'
#        SOURCE_DIR: './src/Gastromio.App/bin/Release/netcoreapp3.1/publish/'
#        DEST_DIR: $(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')

    - name: Stash package
      uses: actions/upload-artifact@v1
      with:
        name: package
        path: ./src/Gastromio.App/bin/Release/netcoreapp3.1/publish/


  build-docker:
    runs-on: ubuntu-latest
    needs: build-sources

    steps:
    - uses: actions/checkout@v2

    - name: Unstash package
      uses: actions/download-artifact@v1
      with:
        name: package
        path: ./src/Gastromio.App/bin/Release/netcoreapp3.1/publish/

    - if: ${{ github.event_name == 'push' }}
      shell: bash
      run: echo "TAG_NAME=$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')" >> $GITHUB_ENV

    - if: ${{ github.event_name == 'pull_request' }}
      shell: bash
      run: echo "TAG_NAME=$(echo ${GITHUB_HEAD_REF#refs/heads/} | sed 's/\//_/g')" >> $GITHUB_ENV

    - name: Determined tag name
      run: echo "${TAG_NAME}"

    - name: Build docker image
      run: docker build --no-cache --tag marartz/gastromio:${TAG_NAME} .

    - name: Login to docker
      run: echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}

    - name: Push docker image
      run: docker push marartz/gastromio:${TAG_NAME}
