<section id="main" role="main">
    <div class="focusing-outlet" tabindex="-1" role="group">
        <div id="backend">

            <div id="hero">
                <div class="inner">
                    <h2 class="page-title" tabindex="-1">Meine Restaurants</h2>
                    <div class="page-description">Hier findest du alle Restaurants. Lege neue an oder bearbeite bereits angelegte.</div>
                </div>
            </div>

            <div class="waypointable" tabindex="-1">
                <div id="management">
                    <div class="inner">
                        <div class="row">
                            <div class="col">

                                <div id="restaurants" *ngFor="let restaurant of restaurants">
                                    <div id="logo">
                                        <div class="restaurant-logo">
                                            <img src="/api/v1/restaurants/{{restaurant.id}}/images/logo" alt="{{restaurant.name}} Logo" />
                                        </div>
                                    </div>
                                    <div id="informations">
                                        <h2 class="restaurant-name">{{restaurant.name}}</h2>
                                        <div class="restaurant-beschreibung">{{restaurant.address.street}}<br />{{restaurant.address.zipCode}} {{restaurant.address.city}}</div>
                                        <div id="actions">
                                            <div class="settings">
                                                <a class="edit" [routerLink]="[restaurant.id]">Details ändern</a>
                                                &nbsp;&ndash;&nbsp;
                                                <a class="edit" [routerLink]="['/restaurants', restaurant.id]" target="_blank">Vorschau</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
