<block-ui delayStart="500">
  <div class="modal-overlay">
    <div class="modal_v3">
      <div id="close">
        <button type="button" aria-label="Schließen" (click)="activeModal.dismiss('Cross click')">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            role="presentation"
            focusable="false"
            style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible"
          >
            <path d="m6 6 20 20"></path>
            <path d="m26 6-20 20"></path>
          </svg>
        </button>
      </div>
      <header id="header">
        <div class="left"></div>
        <div class="middle">
          <h1 class="title" tabindex="-1">
            <ng-container *ngIf="isNew">Gericht hinzufügen</ng-container>
            <ng-container *ngIf="!isNew">Gericht bearbeiten</ng-container>
          </h1>
        </div>
        <div class="right"></div>
      </header>
      <div id="body" tabindex="0">
        <form [formGroup]="editDishForm" (ngSubmit)="onSubmit(editDishForm.value)">
          <div class="wrapper">
            <div class="input-wrapper">
              <div class="input-inner">
                <div style="background: none; border-radius: 23px 23px 0px 0px; bottom: -1px; left: 0px; right: 0px; top: 0px"></div>
                <label>
                  <div class="label">Name des Gerichts</div>
                  <input
                    type="text"
                    mozactionhint="next"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="true"
                    id="name"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  />
                </label>
                <div
                  class="border"
                  style="
                    border: 1px solid rgb(176, 176, 176);
                    border-radius: 23px 23px 0px 0px;
                    bottom: -1px;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    z-index: 0;
                  "
                ></div>
              </div>
            </div>
            <div class="input-wrapper">
              <div class="input-inner">
                <div style="background: none; border-radius: 0px; bottom: -1px; left: 0px; right: 0px; top: 0px"></div>
                <label>
                  <div class="label">
                    Beschreibung des Gerichts (optional)
                    <span *ngIf="!!editDishForm.value && !!editDishForm.value.description"
                      >{{ editDishForm.value.description.length }} / {{ maxStringLength }}</span
                    >
                  </div>
                  <input
                    type="text"
                    mozactionhint="next"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="true"
                    id="description"
                    formControlName="description"
                    maxlength="500"
                  />
                </label>
                <div
                  class="border"
                  style="border: 1px solid rgb(176, 176, 176); border-radius: 0px; bottom: -1px; left: 0px; right: 0px; top: 0px; z-index: 0"
                ></div>
              </div>
            </div>
            <div class="input-wrapper">
              <div class="input-inner">
                <div style="background: none; border-radius: 0px; bottom: -1px; left: 0px; right: 0px; top: 0px"></div>
                <label>
                  <div class="label">
                    Zusatzstoffe und Allergene (optional)
                    <span *ngIf="!!editDishForm.value && !!editDishForm.value.productInfo"
                      >{{ editDishForm.value.productInfo.length }} / {{ maxStringLength }}</span
                    >
                  </div>
                  <input
                    type="text"
                    mozactionhint="next"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                    id="productInfo"
                    formControlName="productInfo"
                    maxlength="500"
                  />
                </label>
                <div
                  class="border"
                  style="border: 1px solid rgb(176, 176, 176); border-radius: 0px; bottom: -1px; left: 0px; right: 0px; top: 0px; z-index: 0"
                ></div>
              </div>
            </div>
            <div class="input-wrapper" *ngIf="dish.variants.length <= 1">
              <div class="input-inner">
                <div style="background: none; border-radius: 0px 0px 23px 23px; bottom: -1px; left: 0px; right: 0px; top: 0px"></div>
                <label>
                  <div class="label">Preis des Gerichts</div>
                  <input type="number" id="price" [(ngModel)]="price" [ngModelOptions]="{ standalone: true }" min="0" step=".01" />
                </label>
                <div
                  class="border"
                  style="
                    border: 1px solid rgb(176, 176, 176);
                    border-radius: 0px 0px 23px 23px;
                    bottom: -1px;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    z-index: 0;
                  "
                ></div>
              </div>
            </div>
            <div *ngIf="dish.variants.length >= 2">
              <table class="table-sm">
                <thead>
                  <tr>
                    <th style="font-family: proxima-nova, sans-serif; font-size: 14px; font-weight: 500"></th>
                    <th style="font-family: proxima-nova, sans-serif; font-size: 14px; font-weight: 500"></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="input-wrapper" *ngFor="let variant of dish.variants">
                    <td class="input-inner">
                      <div style="background: none; border-radius: 0px; bottom: -1px; left: 0px; right: 0px; top: 0px"></div>
                      <label>
                        <div class="label">Name der Variante</div>
                        <input
                          type="text"
                          autocomplete="off"
                          class="form-control"
                          [(ngModel)]="variant.name"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </label>
                      <div
                        class="border"
                        style="border: 1px solid rgb(176, 176, 176); border-radius: 0px; bottom: -1px; left: 0px; right: 0px; top: 0px; z-index: 0"
                      ></div>
                    </td>
                    <td class="input-inner">
                      <div style="background: none; border-radius: 0px; bottom: -1px; left: 0px; right: 0px; top: 0px"></div>
                      <label>
                        <div class="label">Preis des Variante</div>
                        <input
                          type="number"
                          autocomplete="off"
                          class="form-control"
                          [(ngModel)]="variant.price"
                          [ngModelOptions]="{ standalone: true }"
                          min="0"
                          step=".01"
                        />
                      </label>
                      <div
                        class="border"
                        style="border: 1px solid rgb(176, 176, 176); border-radius: 0px; bottom: -1px; left: 0px; right: 0px; top: 0px; z-index: 0"
                      ></div>
                    </td>
                    <td>
                      <div class="float-right" style="white-space: nowrap">
                        <button type="button" class="btn btn-danger btn-sm m-1" (click)="onRemoveVariant(variant)" style="color: darkred">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                        <!--<button class="btn btn-secondary btn-sm m-1 ml-2"><i class="fas fa-arrow-up"></i></button>
                                                        <button class="btn btn-secondary btn-sm m-1"><i class="fas fa-arrow-down"></i></button>
                                                        <button class="btn btn-primary btn-sm m-1 ml-2"><i class="fas fa-level-down-alt"></i></button>-->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="feedback">
            <div class="help-text" *ngIf="submitted && f.name.errors">
              <span *ngIf="f.name.errors.required">Bitte gebe einen Namen für das Gericht an.</span>
            </div>
            <div class="help-text" *ngIf="(message$ | async) !== undefined">
              {{ message$ | async }}
            </div>
          </div>
          <div id="submit" style="margin-bottom: 0px">
            <button type="button" (click)="onAddVariant()" style="border: 2px solid #adcccb; background-color: #fff; color: #adcccb">
              Neue Variante
            </button>
          </div>
          <div id="submit">
            <button type="submit" style="background: var(--grey)">
              <ng-container *ngIf="isNew">Hinzufügen</ng-container>
              <ng-container *ngIf="!isNew">Speichern</ng-container>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</block-ui>
