<div id="root">
    <div class="layout">
        <div id="order-restaurant">

            <section id="hero">
                <div class="wrapper">
                    <div id="text">
                        <h2 class="slogan">Regional, einfach und gut</h2>
                        <h1 class="name">Gastromio</h1>
                    </div>
                </div>
            </section>

            <block-ui [delayStart]="1500">
                <section id="order">
                    <div class="wrapper">
                        <div class="inner">

                            <aside>
                                <div class="filter-wrapper">
                                    <div id="restaurant-count">
                                        <ng-container *ngIf="restaurantCount === 1">1 Restaurant</ng-container>
                                        <ng-container *ngIf="restaurantCount !== 1">{{restaurantCount}} Restaurants</ng-container>
                                    </div>
                                    <div id="ordertype-filter">
                                        <p class="title">Wie kommt das Essen zu dir?</p>
                                        <div class="filter">
                                            <ng-container *ngIf="orderType === 'pickup'">
                                                <button type="button" class="switch active">Abholung</button>
                                                <button type="button" class="switch" (click)="onDeliverySelected()">Lieferung</button>
                                            </ng-container>
                                            <ng-container *ngIf="orderType === 'delivery'">
                                                <button type="button" class="switch" (click)="onPickupSelected()">Abholung</button>
                                                <button type="button" class="switch active">Lieferung</button>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div id="opening-hour-filter">
                                        <p class="title">Für wann möchtest du bestellen?</p>
                                        <button type="button" (click)="openOpeningHourFilter()">Zeit wählen</button>
                                    </div>
                                    <div id="cuisine-filter">
                                        <p class="title">Filter</p>
                                        <div class="cuisine-container">
                                            <div class="cuisine active" [class.active]="isCuisineSelected(undefined)">
                                                <button type="button" (click)="selectCuisine(undefined)">Alle anzeigen</button>
                                            </div>
                                            <div class="cuisine" *ngFor="let cuisine of cuisines" [class.active]="isCuisineSelected(cuisine)">
                                                <button type="button" (click)="selectCuisine(cuisine)">{{cuisine.name}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="preorder-filter">
                                        <button type="button" [disabled]="!showClosedRestaurants ? 'disabled' : null" (click)="onJustShowOpenRestaurants()">Nur geöffnete Restaurants anzeigen</button>
                                    </div>
                                </div>
                            </aside>

                            <div id="restaurants">
                                <div id="search">
                                    <div class="icon-wrapper"><div class="icon"></div></div>
                                    <input type="text" autocomplete="off" inputmode="latin" maxlength="100" spellcheck="false" placeholder="Restaurant suchen ..." (keyup)="onSearchType($event.target.value)">
                                </div>
                                <a id="restaurant" [routerLink]="['/restaurants', restaurant.name.toLowerCase()]" [class.opened]="isRestaurantOpen(restaurant)" [class.closed]="!isRestaurantOpen(restaurant)" [queryParams]="{orderType: orderType}" *ngFor="let restaurant of restaurants">
                                    <div id="logo">
                                        <div class="logo-wrapper">
                                            <img *ngIf="!hasLogo(restaurant)" src="../../assets/images/logo/no-logo.jpg" alt="{{restaurant.name}}" class="placeholder">
                                            <img *ngIf="hasLogo(restaurant)" [src]="getLogoUrl(restaurant)" alt="{{restaurant.name}}">
                                        </div>
                                    </div>
                                    <div id="infos">
                                        <h2 class="restaurant-name">{{restaurant.name}}</h2>
                                        <p class="restaurant-address">
                                            <ng-container *ngIf="!isRestaurantOpen(restaurant)">Für Abholung und Lieferung geschlossen.</ng-container>
                                            <ng-container *ngIf="isRestaurantOpen(restaurant)">
                                                <ng-container *ngIf="orderType === 'pickup'">{{restaurant.address.street}}, {{restaurant.address.city}}</ng-container>
                                                <ng-container *ngIf="orderType === 'delivery'">Lieferzeit {{restaurant.deliveryInfo.averageTime}} Minuten | {{restaurant.deliveryInfo.getCostsText()}}</ng-container>
                                            </ng-container>
                                        </p>
                                        <div class="cuisines">
                                            <div class="cuisine-container">
                                                <div class="cuisine-pill" *ngFor="let cuisine of restaurant.cuisines"><span>{{cuisine.name}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <div class="preorder" *ngIf="!showClosedRestaurants">
                                    <p>Nicht das Richtige gefunden?<br />Dann bestell bereits jetzt dein Essen vor</p>
                                    <button type="button" (click)="onShowAllRestaurants()"><span>Alle Restaurants anzeigen</span></button>
                                </div>

                            </div>

                        </div>
                    </div>
                </section>
            </block-ui>

        </div>
    </div>
</div>
