<section id="main" class="order-home" role="main">
    <div class="focus-outlet" tabindex="-1" role="group">

        <div id="home" class="locations">
            <div id="home-hero">

                <div class="image-wrapper">
                    <div class="welcome-image">
                        <div class="background-image" style='background-image:url("https://images.pexels.com/photos/842545/pexels-photo-842545.jpeg?crop=entropy&cs=srgb&dl=round-stainless-steel-bowl-with-cooked-meat-and-vegetables-842545.jpg&fit=crop&fm=jpg&h=1280&w=1920")'></div>
                    </div>
                </div>

                <div id="left">
                    <div class="clearfix left-content">
                        <div id="restaurants" role="region" tabindex="-1">

                            <div class="restaurant-card" *ngFor="let restaurant of restaurants">
                                <div class="card-inner" [routerLink]="['/restaurants', restaurant.id]">

                                    <div class="card-content">
                                        <div class="card-top">
                                            <h4 class="restaurant-name">{{restaurant.name}}</h4>
                                        </div>
                                        <div class="restaurant-description">
                                            <address>
                                                {{restaurant.address.street}}, {{restaurant.address.zipCode}} {{restaurant.address.city}}
                                                <div class="restaurant-phone" tabindex="0" role="button">
                                                    <br />{{restaurant.phone}}
                                                </div>
                                                <div></div>
                                                <br />{{getRestaurantSubText(restaurant)}}
                                                <!-- Öffnungszeiten des Restaurants (bsp. M.o - So.: 10:00 - 18:00 Uhr -->
                                            </address>
                                        </div>

                                        <div class="card-details">
                                            <span class="text-link menu-link" tabindex="0" [routerLink]="['/restaurants', restaurant.id]">Bestellen</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>